.c-side-box {
  margin-top: 80px;
  padding: 24px 40px;
  position: relative;
  background-color: $lighter-blue;
  @include mq($from: tablet) {
    &:after {
      content: '';
      position: absolute;
      width: 1100px;
      height: 100%;
      top: 0;
      right: -680px;
      background-color: $lighter-blue;
      z-index: -1;
    }
  }
}
.c-side-box__content {
  .c-longform-grid__standard {
    padding-left: 0;
    padding-right: 0;
  }
  h3 {
    font-size: $font-size-tiny;
    line-height: 22px;
    letter-spacing: 0.15em;
    color: $dark-blue;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    display: block;
    margin: 0 0 24px 0;
    padding-top: 0;
    padding-bottom: 8px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 26px;
      max-width: 100%;
      background-color: $highlight-blue;
    }
    @include mq($from: tablet) {
      margin: 0;
      padding-bottom: 12px;
      &:after {
        height: 4px;
        width: 26px;
      }
    }
  }
}
