.funkyTable {
  /* composes: text-input from "part:@sanity/base/lib/styles/forms"; */
  margin-bottom: 1em;
}

:global(.data-grid ){
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  max-width: 50vw;
}

:global(.data-grid td.cell.updated ){
    background-color: rgba(0, 145, 253, 0.16);
    transition : background-color 0ms ease ;
}
:global(.data-grid td.cell ){
  height: 17px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: cell;
  background-color: unset;
  transition : background-color 500ms ease;
  vertical-align: middle;
  text-align: right;
  border: 1px solid #DDD;
  padding: 6px;
}
:global(.data-grid td.cell.selected ){
  border: 1px double rgb(33, 133, 208);
  transition: none;
  padding: 6px;
}
:global(.data-grid td.cell.selected ){
  box-shadow: inset 0 -100px 0 rgba(33, 133, 208, 0.15);
}

:global(.data-grid td.cell.read-only ){
  background: whitesmoke;
  color: #999;
  text-align: center;
}

:global(.data-grid td.cell > div.text ){
  padding: 2px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}


:global(.data-grid td.cell > input ){
  outline: none !important;
  border: 2px solid rgb(33, 133, 208);
  text-align:right;
  width: calc(100% - 6px);
  height: 11px;
  background: none;
  padding: 6px;
}


:global(.data-grid td.cell ){
  vertical-align: bottom;
}

:global(.data-grid td.cell),
:global(.data-grid.wrap td.cell),
:global(.data-grid.wrap td.cell.wrap),
:global(.data-grid td.cell.wrap),
:global(.data-grid.nowrap td.cell.wrap),
:global(.data-grid.clip td.cell.wrap ){
  white-space: normal;
}

:global(.data-grid.nowrap td.cell),
:global(.data-grid.nowrap td.cell.nowrap),
:global(.data-grid td.cell.nowrap),
:global(.data-grid.wrap td.cell.nowrap),
:global(.data-grid.clip td.cell.nowrap ){
  white-space: nowrap;
  overflow-x: visible;
}

:global(.data-grid.clip td.cell),
:global(.data-grid.clip td.cell.clip),
:global(.data-grid td.cell.clip),
:global(.data-grid.wrap td.cell.clip),
:global(.data-grid.nowrap td.cell.clip ){
  white-space: nowrap;
  overflow-x: hidden;
}
