{
  "plugins": ["transform-object-assign"],
  "presets": [
    "next/babel",
    {
      "env": {
        "modules": false,
        "debug": false,
        "useBuiltIns": false,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        }
      }
    }
  ]
}
