a {
  color: $highlight-blue;
  text-decoration: none;
  padding-bottom: 0.05em;
  cursor: pointer;
  overflow-wrap: break-word;
  //text-decoration: underline;

  // Commented out in case there was good reason to have this
  /*
  word-wrap: break-word;
  -ms-word-break: break-all;
  // This is the dangerous one in WebKit, as it breaks things wherever
  word-break: break-all;
  // Instead use this non-standard one:
  word-break: break-word;

  // Adds a hyphen where the word breaks, if supported (No Blink)
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  */
}
a:visited {
  //color: $highlight-blue;
}

a:visited:hover {
  //color: $highlight-blue;
  //text-decoration: underline;
}

a:hover {
  color: $highlight-blue;
  //text-decoration: underline;
}

a:focus {
  color: $highlight-blue;
}

a:active {
  color: $highlight-blue;
  //text-decoration: underline;
}

a.u-no-underline {
  text-decoration: none;
  border: none;

  &:hover,
  &:visited:hover,
  &:active {
    text-decoration: none;
    border: none;
  }
}
