a {
  color: $brand-main;
  text-decoration: none;
  padding-bottom: 0.05em;
  cursor: pointer;
  overflow-wrap: break-word;
  // Commented out in case there was good reason to have this
  /*
  word-wrap: break-word;
  -ms-word-break: break-all;
  // This is the dangerous one in WebKit, as it breaks things wherever
  word-break: break-all;
  // Instead use this non-standard one:
  word-break: break-word;

  // Adds a hyphen where the word breaks, if supported (No Blink)
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  */
}
/* a:visited used to be $brand-medium, robert changed this */
a:visited {
  color: $brand-main;
}

a:visited:hover {
  color: $brand-main;
  border-bottom: 1px solid currentColor;
}

a:hover {
  border-bottom: 1px solid currentColor;
}

a:focus {
  border-bottom: 1px solid currentColor;
}

a:active {
  border-bottom: 1px solid rcurrentColor;
}

// Add this class when the links are on a dark background
.links-wrapper-dark-background {
  a {
    color: $brand-lighter;
  }
  a:visited {
    color: $brand-lighter;
    border-bottom: 1px solid $brand-lighter;
  }
  a:visited:hover {
    color: $brand-lighter;
    border-bottom: 1px solid $brand-lighter;
  }
  a:hover {
    border-bottom: 1px solid currentColor;
  }
}
a.u-no-underline {
  text-decoration: none;
  border: none;

  &:hover {
    text-decoration: none;
    border: none;
  }
}
