.c-person-card__wrapper {
  display: flex;
  flex-direction: column;
  color: $mid-grey;
  font-size: $font-size-tiny;

  @include mq($from: tablet) {
    flex-direction: row;
  }
  img {
    border-radius: 50%;
    align-self: center;
    width: 100%;
  }

  a {
    color: $mid-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.c-person-card--image-left {
  h5 {
    display: flex;
    justify-content: flex-start;
  }

  .c-person-card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    width: auto;
  }

  .c-person-card__adress {
    display: flex;
    align-items: center;
  }
}

.c-person-card--profile {
  margin-bottom: 40px;

  h2 {
    font-weight: bold;
    margin: 0;
    text-align: center;
  }

  .c-person-card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    font-size: $font-size-small;

    @include mq($from: tablet) {
      align-items: flex-start;
      margin-left: 30px;
    }
  }

  .c-person-card__adress {
    display: none;
  }

  .c-social--follow {
    display: flex;
    margin-top: 25px;
  }

  .c-social--follow__item:nth-of-type(4n) {
    margin-right: 0px;
  }
  path {
    stroke: $dark-blue;
  }

  .c-social-icons-firstpath {
    stroke: $dark-blue;
    transition: $global-transition--longer;
    margin: 5px;
  }

  .c-social-icons-secondpath {
    stroke: $dark-blue;
    fill: $dark-blue;
    transition: $global-transition--longer;
  }
  .c-social-icons-svg {
    overflow: visible !important;
  }
}

.c-person-card--image-top {
  display: flex;
  flex-direction: column;
  h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-tiny;
    text-align: center;
  }

  a {
    align-items: center;
    display: flex;
  }

  .c-person-card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }

  .c-person-card__position {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .c-person-card__adress {
    display: none;
  }
}

.c-person-card__email {
  display: flex;
  align-items: center;
}

// .icon {
//   display: flex;
//   align-items: flex-end;
// }

.c-social--follow__item:hover .c-social-icons-firstpath {
  -webkit-filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
  transition: $global-transition--longer;
}

.c-person-card__image-wrapper {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  // max-width: 176px;

  @include mq($from: tablet) {
    margin: 0px;
  }
}
