.c-blog-index {
  font-family: $font-sans;
  padding: $spacing;
  background-color: $white;
  font-size: $font-size-small;

  h2 {
    margin-top: $spacing;
    font-weight: 700;
    line-height: 50px;
    color: $brand-dark;
  }

  h3 {
    font-size: $font-size-normal;
    font-weight: 700;
    line-height: 1.5;
    margin: 9px 0 10px 0;
  }

  h6 {
    font-family: $font-sans;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    display: inline-block;
  }

  .u-blue-underline {
    margin-bottom: $spacing;
  }

  .c-blog-index__intro {
    color: $brand-dark;
    width: 100%;
    max-width: 800px;
    padding-right: $spacing;
    @include mq($from: tablet) {
      width: calc(100% - 227px);
    }
  }
  &__item--row {
    .c-blog-index__featured-image {
      width: 186px;
      height: 186px;
      background-size: cover;
      margin: 0;
      display: none;
      pointer-events: none;
    }
    @include mq($from: tablet) {
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .text {
        width: calc(100% - 227px);
        max-width: 800px;
        padding-right: $spacing;
      }
      .c-blog-index__featured-image {
        display: block;
      }
    }
  }
  .blog-accordion {
    margin-bottom: 72px;
    .c-accordion {
      max-width: 100%;
      flex-basis: 100%;
    }
    .c-accordion__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      align-content: space-between;
      flex-wrap: wrap;
      max-height: 100%;
      margin: $spacing 0 $spacing-tiny 0;
      a {
        margin: 0 $spacing-large $spacing-tiny 0;
        display: inline-block;
        &:hover,
        &:active,
        &:focus {
          display: inline-block;
        }
        &.main {
          margin-bottom: $spacing-large;
        }
      }
      @include mq($from: tablet) {
        max-height: 300px;
      }
    }
  }

  @include mq($from: tablet) {
    padding: 0 $spacing $spacing-huge $spacing;
    .download {
      display: flex;
      .button {
        &.read-online {
          margin-top: 0;
          margin-left: $spacing;
        }
      }
    }
  }
}
.c-blog-index__paginator-list {
  
  padding: 0;
  margin: $spacing-huge auto 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  li {
    display: inline-block;
    list-style: none;
    &.active {
      .pagination-item {
        color: $brand-dark;
        border-bottom: 1px solid $brand-main;
      }
    }
  }
  .pagination-item {
    font-family: $font-sans;
    border: none;
    background-color: transparent;
    color: $brand-main;
    //margin-left: -1px;
    outline: none;
    padding: 2px;
    margin: 0 $spacing-small;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
    &.text-button {
      margin: 0 $spacing;
    }
    &.disabled {
      color: $grey;
      cursor: default;
      pointer-events: none;
    }
    &:hover {
      border-bottom: 1px solid $brand-main;
    }
  }
}
