.c-breadcrumb--v2 {
  font-size: $font-size-nano;
  line-height: 1.2;
  font-family: $font-sans;
  font-weight: 400;
  margin: 24px 0 32px 0;

  &.c-breadcrumb:after {
    display: none;
  }
  .c-breadcrumb-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
  .c-breadcrumb-item {
    &:hover,
    &:active {
      svg {
        fill: $brand-main;
        path {
          fill: $brand-main;
        }
      }
    }
  }
  .c-breadcrumb__link {
    color: $dark-grey;
    //text-transform: uppercase;
    margin: 0 8px 0 6px;
    &:hover {
      color: $brand-main;
      text-decoration: underline;
    }
    &:active {
      color: $brand-main;
      text-decoration: none;
      // & > * {
      //   display: inline-block;
      //   transform: translateY(2px);
      // }
    }
  }
  @include mq($from: tablet) {
    margin: 32px 0;
  }
}
