.tags-section {
    border-top: 1px solid #e6e6e6;
    margin-bottom: $spacing-large;

    .tags-section__row {
        margin-bottom: $spacing;

        .topic {
            margin-bottom: 0;
        }
        .keyword {
           font-size: $font-size-micro;
           line-height: 20px;
           border-bottom: 1px solid $black;
        }
        h6 {
            margin-right: $spacing;
        }
    }

    .keyword {
        margin: 0 11px 0 0;
    }
}