.c-top-bar-v2 {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  .logo-mobile {
    display: inline-block;
    vertical-align: top;
  }
  .c-logo {
    display: none;
  }
  .fixed-header-content {
    width: 100%;
    align-items: flex-start;
    //background-color: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 0 $spacing;
    height: 80px;
  }
  .logo-white {
    path, polygon {
      fill: $white;
    }
  }

  .c-top-bar-v2__logo,
  .c-top-bar-v2__logo:visited {
    padding-left: 0;
    display: flex;
    align-items: center;
  }
  @include mq($from: tablet) {
    margin-left: auto;
    margin-right: auto;
    padding: 11px 0 11px $spacing;
    max-width: 1548px;
    .fixed-header-content {
      padding: 0 $spacing 0 0;
      height: 93px;
      flex-wrap: nowrap;
    }
    .c-search-v2 {
      align-self: center;
    }
    .logo-mobile {
      display: none;
    }
    .c-top-bar-v2__logo {
      //margin-left: 117px;
      display: flex;
      align-items: center;
      width: 240px;
      height: 93px;
      .c-logo {
        margin: 0;
        display: block;
      }
    }
  }
  @include mq($from: desktop) {
    flex-wrap: nowrap;
    .fixed-header-content {
      height: 93px;
      align-items: center;
    }
  }
  @include mq($from: wide) {
    .fixed-header-content {
      //padding-right: 178px;
      height: 93px;
      //padding-left: 117px;
    }
    .c-top-bar-v2__logo {
      margin-left: 0;
    }
  }
}

.c-top-bar-v2__logo-cmi {
  display: none;
  background-color: $brand-dark;
  height: 93px;
  width: 93px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-right: $inuit-global-spacing-unit;
  border: none !important;
  @include mq($from: tablet) {
    display: flex;
    //position: absolute;
    //z-index: 11;
    //top: 0;
    //left: 0;
  }
}

a.c-top-bar-v2__logo,
a.c-top-bar-v2__logo:visited {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-bottom: 0;
  @include mq($from: tablet) {
    margin: 0;
  }
  @include mq($from: desktop) {
    width: auto;
  }
  &:hover  {
    border: 0;
  }
}

.c-top-bar-v2__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.c-top-bar-v2__menu {
  color: $brand-main;
  list-style: none;
  display: flex;
  font-family: $font-sans;
  padding: 0;
  justify-content: flex-end;
  margin: 0;
  margin-top: 0;
  @include mq($from: tablet) {
    justify-content: center;
    margin: 0;
    //margin-top: $spacing-tiny;
  }
}
.c-top-bar-v2__menu--active {
  margin-top: -$spacing-tiny;
  color: $brand-lighter;
  @include mq($from: tablet) {
    position: absolute;
    top: $spacing-large;
    right: ($spacing-huge)-8px;
    margin-left: $spacing-huge + 24px;
  }
}
.c-top-bar-v2__menu-item {
  @include mq($from: tablet) {
    background: none;
    border: none;
    margin-right: $spacing-small;
    padding: 0;
    &:last-child {
      margin-right: 0;
    }
    button {
      &:focus {
        outline: auto;
      }
    }
  }
  button {
    letter-spacing: 0.6px;
  }
  margin-left: $spacing-small;

  button {
    border: none;
    background: none;
    margin: 0;
    appearance: normal;
    outline: inherit;
    cursor: pointer;
    font-family: $font-sans;
    font-weight: 700;
    color: inherit;
    white-space: nowrap;
    @include mq($from: tablet) {
      padding: $spacing-small $spacing-small;
      &.c-top-bar-v2__menu-button {
        margin-top: $spacing;
        border: 2px solid $brand-main;
      }
    }
    @include mq($from: desktop) {
      padding: $spacing-small $spacing-small;
      &.c-top-bar-v2__menu-button {
        margin-top: 0;
      }
    }
    &.c-top-bar-v2__menu-button {
      height: 49px;
      width: 108px;
      color: $brand-main;
      transition: background-color 0.2s ease-out, color 0.2s ease-out;
      &.c-top-bar-v2__menu-button--active {
        background-color: $brand-dark;
        color: $white;
        border-color: $brand-dark;
        .c-top-bar-v2__menu-icon {
          img {
            width: 23px;
            max-width: 100%;
            vertical-align: top;
          }
        }
      }
    }
  }
}

.c-top-bar-v2__menu-item--active {
  background: $brand-main;
  color: $white;
}

.c-top-bar-v2__menu-icon {
  margin-right: $spacing-small;
  margin-left: $spacing-small;
  vertical-align: middle;
}
