.c-blog-index {
  font-family: $font-sans;
  padding: $spacing;
  background-color: $white;
  font-size: $font-size-small;

  h2 {
    margin-top: $spacing;
    font-size: 47px;
    font-weight: 900;
    line-height: 60px;
    color: $brand-dark;
  }

  h6 {
    font-family: $font-sans;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    display: inline-block;
  }

  .u-blue-underline {
    margin-bottom: $spacing;
  }
  .u-section-underline {
    margin-top: $spacing;
  }

  
  .c-blog-index__type {
    color: $brand-dark;
    font-size: 12px;
    line-height: 32px;
    font-family: $font-sans;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    @include mq($from: tablet) {
      font-size: 14px;
    }
  }

  .publication-headline {
    font-size: 16px;
    line-height: 19px;
    font-family: $font-sans;

    letter-spacing: 0.03em;
    font-weight: bold;
    color: $brand-main;
    margin: 9px 0 10px 0;
    display: block;
    @include mq($from: tablet) {
      font-size: 22px;
      line-height: 30px;
    }
    &:hover {
      border-color: transparent;
    }
    &:visited {
      &:hover {
        border-color: transparent;
      }
    }
    > * {
      margin: 0;
    }
  }

  .c-blog-index__intro {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: $brand-dark;
    width: 100%;
    width: calc(100% - 227px);
    max-width: 660px;
    padding-right: $spacing;
    margin: 0;
  }
  .c-blog-index-item__intro {
    font-family: $font-sans;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: $brand-dark;
    width: 100%;
    //max-width: 800px;
    padding-right: $spacing;
    margin: 0;
  }

  .c-blog-index__date {
    color: $brand-dark;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    margin: 20px 0;
  }

  &__item--row {
    .c-blog-index__featured-image {
      width: 186px;
      height: 186px;
      background-size: cover;
      margin: 0;
      display: none;
      pointer-events: none;
    }
    @include mq($from: tablet) {
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .text {
        width: calc(100% - 227px);
        max-width: 800px;
        padding-right: $spacing;
      }
      .c-blog-index__featured-image {
        display: block;
        margin-top: $spacing-large;
      }
    }
  }
  .blog-accordion {
    margin-bottom: 72px;
    .c-accordion {
      max-width: 100%;
      flex-basis: 100%;
    }
    .c-accordion__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      align-content: space-between;
      flex-wrap: wrap;
      max-height: 100%;
      margin: $spacing-large 0 $spacing-tiny 0;
      a {
        margin: 0 $spacing-large $spacing-tiny 0;
        display: inline-block;
        &:hover,
        &:active,
        &:focus {
          display: inline-block;
        }
        &.main {
          margin-bottom: 41px;
        }
      }
      @include mq($from: tablet) {
        max-height: 300px;
      }
    }
  }

  .c-blog-filter {
    margin-bottom: $spacing-huge;
  }

  .c-blog-filter__title {
    font-size: $font-size-normal;
    line-height: 24px;
    font-weight: 700;
    margin: $spacing-tiny 0 0 0;
  }

  @include mq($from: tablet) {
    padding: 0 $spacing $spacing-huge $spacing;
    .download {
      display: flex;
      .button {
        &.read-online {
          margin-top: 0;
          margin-left: $spacing;
        }
      }
    }
  }
}
.c-blog-index__paginator-list {
  padding: 0;
  margin: $spacing-huge auto 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  li {
    display: inline-block;
    list-style: none;
  }
  .pagination-item {
    font-family: $font-sans;
    border: none;
    background-color: transparent;
    color: $brand-main;
    //margin-left: -1px;
    outline: none;
    padding: 2px;
    margin: 0 $spacing-small;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
    &.text-button {
      margin: 0 $spacing;
    }
    &.disabled {
      color: $grey;
      cursor: default;
      pointer-events: none;
    }
    &:hover {
      color: $brand-dark;
      border-bottom: 1px solid $brand-main;
    }
    &.active {
      color: $brand-dark;
      border-bottom: 1px solid $brand-main;
      cursor: default;
      pointer-events: none;
    }
  }
}
