.c-tags-section {
  border-top: 1px solid #e6e6e6;
  margin-bottom: $spacing-large;

  h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    margin: 35px 0 24px 0;
}

  .c-tags-section__row {
    margin-bottom: $spacing;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .topic {
      margin-bottom: 0;
    }
    .keyword {
      font-size: $font-size-micro;
      line-height: 20px;
      border-bottom: 1px solid $black;
    }
    h6 {
      margin: 0 $spacing 0 0;
      font-family: 'Lato', Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
    }
  }

  .c-tags-section__col {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .keyword {
    margin: 0 11px 0 0;
  }
}
