.c-frontpage-blue-section {
  position: relative;
  background-color: $light-blue;
  padding: $spacing;
  font-family: $font-sans;
  color: $dark-blue;
  &__content {
    .col {
      p {
        font-weight: 300;
        line-height: 26px;
        margin: 36px 0 $spacing-large;
      }
    }
    a {
      color: $dark-blue;
      border: none;
      transition: color 0.2s ease-out;
      &:hover {
        color: $brand-main;
        border: none;
      }
      svg {
        margin-left: $spacing-tiny;
        path {
          fill: $brand-main;
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      margin-bottom: $spacing-large;
      list-style: none;
      li {
        margin-bottom: $spacing-small;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @include mq($from: tablet) {
      @include inuit-font-size($font-size-small);
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        margin-bottom: 0;
        li {
          margin-bottom: $spacing-small;
        }
      }
      .col {
        width: 45%;
        .col {
          width: 100%;
        }
      }
    }
  }

  @include mq($from: wide) {
    .cols {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .col {
        width: 50%;
      }
    }
    &:after {
      content: '';
      position: absolute;
      background-color: $light-blue;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      z-index: -1;
    }
  }
  &__guidance {
  
    a {
      font-weight: 700;
    }
    @include mq($from: tablet) {
      .col-1 {
        width: 46%;
      }
      ul {
        li {
          margin-bottom: 32px;
        }
      }
      h2 {
        font-weight: 900;
        line-height: 50px;
      }
    }

    .cols {
      .col:first-child {
        ul {
          li {
            margin-bottom: $spacing-small;
          }
          @include mq($from: tablet) {
            li {
              margin-bottom: 32px;
            }
          }
          @include mq($from: wide) {
            li:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  &__by-topic {
    display: block;
    padding-bottom: $spacing-small;
    .cols {
      .col {
        margin-bottom: $spacing-large;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include mq($from: tablet) {
        display: flex;
        justify-content: space-between;
        .col {
          width: 30%;
          margin-bottom: 0;
        }
      }
    }
    @include mq($from: tablet) {
      padding-bottom: $spacing-large;
    }
  }
}
