.c-reader {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  //width: 100vw;
  min-height: 100%;
  min-height: 100vh;
  background-color: $white;

  .c-article-header__container {
    max-width: initial;
  }
  // .c-article__row {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  // }
  .c-article-sidebar {
    margin-top: 32px;
  }
  .c-article__additional-info-container {
    margin-bottom: 160px;
    padding-top: 120px;
    margin-top: -120px;
  }
  .c-article-sidebar__bibliography,
  .c-article-sidebar__date,
  .c-authors-list__position {
    display: none;
  }
  .c-article-sidebar__left {
    .c-modal {
      margin-top: 32px;
    }
  }
}
.c-blog-entry__main-text,
.c-article-v2__main-text {
  // width: 100%;
  // max-width: 850px;
  // margin: 0 auto;
  // font-family: $font-serif;
  // font-size: 18px;
  // line-height: 1.56;
  // letter-spacing: 0.02em;
}

.c-article-v2__pdf-viewer {
  font-family: $font-sans;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-bottom: $spacing-huge;

  .c-pdf-viewer {
    margin-top: $spacing-large;
  }

  .c-pdf-viewer__pdf {
    margin-top: $spacing;
  }
}

.c-contents {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .c-btn {
    margin-left: 10px;
    padding: 0;
    div {
      padding: 1px 6px;
    }
  }
}
.c-modal__cover--contents {
  z-index: 100;
}
.c-modal--contents {
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  width: 262px;
  min-height: 100vh;
  margin: 0 0 0 auto;
  border-radius: 0;

  .c-modal__top {
    padding: 32px 24px;
  }
  .c-modal__content {
    padding: 32px 24px;
    flex-wrap: nowrap;
    height: calc(100vh - 98px);
    overflow-y: auto;
    .c-modal__title {
      margin-bottom: 8px;
    }
  }
  .c-modal__title {
    color: $dark-grey;
    font-size: 14px;
    line-height: 17px;
  }
  .c-article-nav-list {
    padding: 0;
    transition: none;
  }

  .c-article-nav-list__item {
    padding: 0;
    transition: none;
    border: none;
    &:first-child {
      padding: 0;
    }
    a {
      display: inline-block;
      font-family: $font-serif;
      color: $dark-grey;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      border-bottom: none;
      padding: 16px 0;
    }
    &:hover,
    &:visited:hover {
      a {
        color: $brand-main;
        text-decoration: underline;
        border-bottom: none;
      }
    }
    &:active {
      color: $brand-main;
      text-decoration: underline;
      border-bottom: none;
      & > * {
        transform: translateY(2px);
      }
    }
  }
}

.c-scroll-top {
  display: none;
  background-color: $light-grey;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  bottom: 96px;
  right: 96px;
  a {
    padding: 8px 16px;
    border: none;
    &:hover,
    &:visited,
    &:active {
      border: none;
    }
  }
  @include mq($from: tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
