.c-disclaimers {
  color: $dark-grey;
  p {
    font-family: $font-sans;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  .c-disclaimers__link {
    margin-top: 0;
  }
  a {
    color: $dark-grey;
  }
  a:hover {
    color: $dark-grey;
    border-bottom: 1px solid transparent;
  }
  a:visited {
    color: $dark-grey;
    border-bottom: 1px solid transparent;
  }
  svg {
    width: 24px;
    height: 24px;
    fill: $mid-grey;
    path {
      fill: $mid-grey;
    }
  }
  @include mq($from: tablet) {
    p {
      margin-bottom: 24px;
    }
    .c-disclaimers__link {
      margin-top: 32px;
    }
  }
}
