.c-article-sidebar {
  font-family: $font-sans;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  padding-bottom: 0;
  width: 100%;
  color: $v2-black;
  position: relative;
  margin-bottom: 40px;

  p {
    font-family: $font-sans;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }

  .c-article-sidebar__date {
    margin-top: 24px;
    .c-article-sidebar__row--regular {
      margin-bottom: 0;
      @include mq($from: tablet) {
        margin-bottom: 32px;
      }
    }
  }
  .c-article-sidebar__row--regular {
    display: block;
    margin-bottom: 32px;
  }
  .c-article-sidebar__row--bold {
    display: block;
    font-weight: bold;
  }
  .c-article-sidebar__share-container {
    margin-bottom: 32px;
  }
  @include mq($from: tablet) {
    width: 240px;
    padding-bottom: 48px;
    margin-bottom: $spacing-large;
  }

  .pdf-preview {
    display: none;
    pointer-events: none;
    .ReactPDF__Page__canvas {
      border: 1px solid $brand-main;
      max-width: 100%;
      height: auto !important;
    }
    .ReactPDF__Page__textContent {
      visibility: hidden;
    }
    @include mq($from: tablet) {
      display: block;
      max-width: 240px;
    }
  }
  .c-related-simple {
    margin-top: 32px;
    @include mq($from: tablet) {
      margin-top: 64px;
    }
    .u-heading--4 {
      font-size: 22px;
      line-height: 1.27;
      letter-spacing: 0.02em;
      text-transform: none;
      @include mq($from: tablet) {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
      }
    }
  }
}

.c-authors-list,
.c-editors-list {
  margin: 0;

  .c-authors-list__title {
    margin: 0;
  }

  .c-authors-list__name,
  .c-authors-list__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    a {
      font-weight: 700;
    }
  }
  .c-authors-list__position {
    font-weight: 400;
  }
  .c-authors-list__text-block {
    margin: 16px auto 24px auto;
    p {
      margin: 0;
    }
    @include mq($from: tablet) {
      margin: 16px auto $spacing-large auto;
    }
  }
  .c-authors-list__h {
    margin: $spacing 0 0 0;
  }

  @include mq($from: tablet) {
    margin: 24px 0;
  }
}

.c-acknowledgements {
  font-family: $font-sans;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: $v2-black;
  margin-bottom: 32px;
  .c-logo {
    max-width: 240px;
  }
  h3 {
    margin-bottom: 12px;
  }

}

.c-acknowledgements--bottom {
  .u-heading--2 {
    margin-top: 24px;
    margin-bottom: 12px;
  }
  .c-logo {
    margin-bottom: 0;
  }
}

.c-acknowledgements--side { 
  @include mq($from: tablet) {
    h3 {
      color: $v2-dark-grey;
      font-family: $font-sans;
      font-size: 12px;
      line-height: 14px;
      font-weight: 700;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
  }
}
