.c-breadcrumb--v2 {
  font-size: $font-size-nano;
  line-height: 1.2;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 32px 0;

  &.c-breadcrumb:after {
    display: none;
  }
  .c-breadcrumb-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
  .c-breadcrumb-item {
    &:hover,
    &:active {
      svg {
        fill: $v2-blue;
        path {
          fill: $v2-blue;
        }
      }
    }
  }
  .c-breadcrumb__link {
    color: $v2-dark-grey;
    //text-transform: uppercase;
    margin: 0 8px 0 6px;
    &:hover {
      color: $v2-blue;
      text-decoration: underline;
    }
    &:active {
      color: $v2-blue;
      text-decoration: none;
     // & > * {
     //   display: inline-block;
     //   transform: translateY(2px);
     // }
    }
  }
}
