.c-cite {
  font-family: $font-sans;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: $v2-black;
  
  h3 {
    margin-top: 0;
  }
  .c-cite__action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 0;
  }
  .c-cite__content {
    //visibility: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}
