.c-breadcrumb--v2 {
  font-size: $font-size-nano;
  line-height: 1.2;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: $spacing 0 $spacing-large 0;

  &.c-breadcrumb:after {
    display: none;
  }
  .c-breadcrumb-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    svg {
      margin: 0 8px 0 0;
    }
  }
  .c-breadcrumb__link {
    color: $v2-grey;
    //text-transform: uppercase;
    margin: 0 8px 0 0;
    &:hover {
      color: $v2-grey;
    }
  }
}
