.c-course-entry {
  .u-video {
    width: 520px;
  }
}

.c-course-entry__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  //padding-bottom: 104px;

  @include mq($from: tablet) {
    flex-direction: row;
    //position: relative;
    //padding-bottom: 0;
  }
}

.c-course-entry__intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 24px 0;
  @include mq($from: tablet) {
    width: calc(100% - 520px);
    padding: 32px 48px 24px 0;
    //flex: 0 0 auto;
  }
  &.c-course-entry__intro--no-img {
    h2 {
      // font-size: 32px;
      // line-height: 39px;
      // letter-spacing: 0.01em;
      @include mq($from: tablet) {
        max-width: 1130px;
        font-size: 44px;
        line-height: 53px;
      }
    }
    .c-course-entry__standfirst {
      margin-bottom: 32px;
      @include mq($from: tablet) {
        max-width: 644px;
        margin-bottom: $spacing-large;
      }
    }
    @include mq($from: tablet) {
      width: 85%;
      //flex: 0 0 auto;
    }
  }
  h2 {
    margin: $spacing 0;
    @include mq($from: tablet) {
      //width: 94%;
      //margin-bottom: $spacing-large;
    }
  }
  .c-course-entry__standfirst {
    margin-bottom: 24px;
    @include mq($from: tablet) {
      width: 94%;
      margin-bottom: 32px;
    }
  }
  h6 {
    //   font-family: $font-sans;
    //   font-weight: 900;
    //   font-size: 12px;
    //   line-height: 14px;
    //   letter-spacing: 0.08em;
    margin-top: $spacing-large;
    margin-bottom: 0;
    @include mq($from: tablet) {
      margin-top: 0;
      //margin-bottom: 32px;
    }
  }
}

.c-course-entry__featured-image--bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq($from: tablet) {
    height: 292px;
    width: 520px;
  }
}

.c-course-entry__featured-image {
  margin: 0;
  @include mq($from: tablet) {
    //margin: 0;
    //width: calc(50% - 8px);
  }
  // img {
  //   @include mq($from: tablet) {
  //     width: auto;
  //     min-width: 100%;
  //     object-fit: cover;
  //   }
  // }
}


.c-course-entry__header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  @include mq($from: tablet) {
  }
}

  //overriting
  a.c-btn--sec {
    border-color: #dedede;
  }