.c-newsletter-v2 {
  .c-newsletter {
    margin: $spacing-large auto;
    max-width: 100%;
  }

  .c-newsletter__content {
    font-family: $font-sans;
    //flex-grow: 10;
    border: 1px solid $v2-light-green;
    background: $white;
    padding: $spacing;
    @include mq($from: tablet) {
      //margin-left: -$spacing;
      padding: 32px $spacing-large;
    }
  }
  .c-newsletter__title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $light-grey;
    margin: 0;
    padding: 1px;
    &:hover {
      .c-newsletter__title {
        color: $dark-grey;
      }
      .c-newsletter__input::placeholder {
        color: $white;
      }
    }
    @include mq($from: tablet) {
      margin: 32px 0 32px 0;
      padding: 4px;
    }
  }
  .c-btn--submit {
    background-color: transparent;
    font-family: $font-sans;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: $highlight-yellow;
    padding: 6px 10px;
    margin-left: 28px;
    border: 1px solid $highlight-yellow;
    &:hover {
      text-decoration: none;
      background-color: $highlight-yellow;
      color: #333333;
    }
    &:focus {
      text-decoration: none;
      //outline: none;
    }
    &:active {
      padding-top: 10px;
      padding-bottom: 6px;
    }
    @include mq($from: tablet) {
      padding: 8px 16px;
    }
  }

  .c-newsletter__title {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: $mid-grey;
    margin: 0 0 32px 0;
    padding-bottom: $spacing-tiny;
    transition: border 0.2s ease-out;
  }
  .c-newsletter__cta {
    font-weight: 900;
    font-size: $font-size-small;
    line-height: 1.33;
    text-align: left;
    letter-spacing: 0.02em;
    margin: 0 0 32px 0;
    @include mq($from: tablet) {
      text-align: center;
    }
  }

  .c-newsletter__input {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: $white;
    text-transform: uppercase;
    // background-color: $white;
    margin: 0;
    padding: 5px 8px;
    transition: border 0.2s ease-out;
    border-style: none;
    width: 100%;
    @include mq($from: tablet) {
      padding: 8px;
    }
  }
  ::placeholder {
    color: $white;
    opacity: 1;
  }

  .c-newsletter__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0.02em;
    margin: 0 0 32px 0;
    @include mq($from: tablet) {
      text-align: center;
      margin: 0;
    }
  }
}

.c-newsletter-footer {
  .c-newsletter {
    max-width: 100%;
    margin: 0;
  }
  .c-newsletter__content {
    border: none;
    background-color: transparent;
    padding: 0;
    @include mq($from: mobile, $until: desktop) {
      h4 {
        margin-top: 0;
      }
    }
  }
  .c-newsletter__cta {
    text-align: left;
    font-weight: 700;
    font-size: 22px;
    color: $dark-grey;
  }
  .c-newsletter__title-wrapper {
    border: none;
    // background-color: #ffffff;
  }
  .c-newsletter__input {
    max-width: 550px;
    background-color: transparent;
    border-bottom: 1px solid $white;
  }
}
