.c-top-bar-v2 {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  .logo-mobile {
    display: inline-block;
    vertical-align: top;
  }
  .c-logo {
    display: none;
  }
  .fixed-header-content {
    width: 100%;
    align-items: center;
    //background-color: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 $spacing 0 $spacing;
    height: 90px;
  }
  .logo-white {
    path,
    polygon {
      fill: $white;
    }
  }

  .c-top-bar-v2__logo,
  .c-top-bar-v2__logo:visited {
    padding-left: 0;
    display: flex;
    align-items: center;
  }
  @include mq($from: tablet) {
    margin-left: auto;
    margin-right: auto;
    padding: 0 $spacing 0 $spacing;
    max-width: 100%;
    .fixed-header-content {
      padding: 0;
      height: 93px;
      flex-wrap: nowrap;
    }
    .c-search-v2 {
      align-self: center;
    }
    .logo-mobile {
      display: none;
    }
    .c-top-bar-v2__logo {
      //margin-left: 117px;
      display: flex;
      align-items: center;
      width: 240px;
      height: 93px;
      .c-logo {
        margin: 0;
        display: block;
      }
    }
  }
  @include mq($from: desktop) {
    flex-wrap: nowrap;
    padding: 11px 0 11px $spacing;
    .fixed-header-content {
      height: 80px;
      align-items: center;
      //justify-content: space-evenly;
    }
  }
  @include mq($from: wide) {
    padding: 11px 0 11px $spacing;
    .fixed-header-content {
      //padding-right: 178px;
      height: 93px;
      //justify-content: space-evenly;
      //padding-left: 117px;
    }
    .c-top-bar-v2__logo {
      margin-left: 0;
    }
  }
}

.c-top-bar-v2__logo-cmi {
  display: none;
  background-color: $dark-blue;
  height: 93px;
  width: 93px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-right: $inuit-global-spacing-unit;
  border: none !important;
  @include mq($from: tablet) {
    //display: flex;
    //position: absolute;
    //z-index: 11;
    //top: 0;
    //left: 0;
  }
}

a.c-top-bar-v2__logo,
a.c-top-bar-v2__logo:visited {
  width: 173px;
  height: 24px;
  display: inline-block;
  border-bottom: 0;
  @include mq($from: tablet) {
    margin: 0;
  }
  @include mq($from: desktop) {
    width: auto;
  }
  &:hover  {
    border: 0;
  }
}

.c-top-bar-v2__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.c-top-bar__background {
  background-color: #162063;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  z-index: 10;
  @include mq($from: tablet) {
    height: 90px;
  }
  @include mq($from: desktop) {
    height: inherit;
    padding: 54px;
  }
}
