.c-blog-index {
  font-family: $font-sans;
  background-color: $white;
  font-size: $font-size-small;
  margin-bottom: 64px;

  .o-wrapper-section {
    max-width: 1032px;
  }
  .o-wrapper {
    padding: 0 $spacing;
  }

  h2 {
    margin-top: 32px;
    margin-bottom: 12px;
    @include mq($from: tablet) {
      margin-top: 72px;
      margin-bottom: 16px;
    }
  }

  h6 {
    font-family: $font-sans;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    display: inline-block;
  }

  .u-section-underline--no-margins {
    width: 100%;
    margin: 0;
    @include mq($from: tablet) {
      width: 110%;
      margin: 0 -24px;
    }
  }

  .c-blog-index__intro {
    font-family: $font-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $v2-grey;
    width: 100%;
    max-width: 536px;
    padding-right: $spacing;
    margin: 0 0 64px 0;
    @include mq($from: tablet) {
      width: calc(100% - 216px);
      margin: 0 0 72px 0;
    }
  }

  .c-blog-index-item__intro {
    font-family: $font-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: $v2-grey;
    margin-bottom: $spacing;
  }

  .c-blog-index__date {
    color: $v2-grey;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    margin: 0;
  }
  .c-blog-authors-list--short {
    margin: 0;
  }
  .c-blog-index__name {
    color: $v2-black;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    margin: 0;
  }

  .blog-accordion {
    margin-bottom: 72px;
    .c-accordion {
      max-width: 100%;
      flex-basis: 100%;
    }
    .c-accordion__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      align-content: space-between;
      flex-wrap: wrap;
      max-height: 100%;
      margin: $spacing-large 0 $spacing-tiny 0;
      a {
        margin: 0 $spacing-large $spacing-tiny 0;
        display: inline-block;
        &:hover,
        &:active,
        &:focus {
          display: inline-block;
        }
        &.main {
          margin-bottom: 41px;
        }
      }
      @include mq($from: tablet) {
        max-height: 300px;
      }
    }
  }

  @include mq($from: tablet) {
    margin-bottom: 96px;
    .download {
      display: flex;
      .button {
        &.read-online {
          margin-top: 0;
          margin-left: $spacing;
        }
      }
    }
  }
}

.c-blog-index__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -12px;
}

.c-blog-index__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 64px;
  margin-left: 12px;
  margin-right: 12px;
  border-color: transparent;
  h3 {
    font-size: $font-size-small;
    line-height: 1.22;
    font-family: $font-sans;
    letter-spacing: 0.1px;
    font-weight: 700;
    color: $v2-black;
    margin: $spacing 0;
    display: block;
    > * {
      margin: 0;
    }
    @include mq($from: tablet) {
      font-size: $font-size-small;
      line-height: 1.2;
    }
  }
  &:hover,
  &:visited:hover {
    border-color: transparent;
    h3 {
      color: $v2-blue;
      border-color: transparent;
      text-decoration: underline;
    }
  }
  &:focus {
    border-color: transparent;
  }
  .c-blog-index__featured-image {
    width: 100%;
    height: 175px;
    //max-width: 332px;
    background-size: cover;
    margin: 0;
    pointer-events: none;
    @include mq($from: tablet) {
      max-width: 332px;
    }
  }

  @include mq($from: tablet) {
    width: calc(33.3% - 24px);
    margin-bottom: 72px;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 0 auto;
    }
    .c-blog-index__featured-image {
      //margin-top: $spacing-large;
    }
  }
}

.c-blog-index__item--full-width {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq($from: tablet) {
      width: calc(45% - 24px);
      flex: 0 0 auto;
    }
  }
  .c-blog-index__featured-image {
    width: 100%;

    @include mq($from: tablet) {
      width: calc(55% - 24px);
      height: 362px;
      max-width: 544px;
    }
  }
  .publication-headline {
    @include mq($from: tablet) {
      font-family: $font-sans-header;
      font-size: 32px;
      line-height: 39px;
      font-size: 32px;
      line-height: 39px;
      margin: $spacing 0 $spacing 0;
    }
  }
  .c-blog-index-item__intro {
    @include mq($from: tablet) {
      font-size: $font-size-small;
      line-height: 1.33;
    }
  }
}
.c-blog-index__filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 32px;
  h5,
  span {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    margin: 0;
  }
  h5 {
    padding: 4px 0 0 0;
    color: $v2-black;
  }
  span {
    color: $v2-grey-2;
    margin: 0;
    white-space: pre;
    display: inline-block;
  }
  .c-btn--ter {
    padding: 0;
  }
  &.c-blog-index__filters--active {
    .c-blog-index__filters-info {
      max-width: 100%;
      @include mq($from: tablet) {
        max-width: 72%;
      }
    }
  }
}

.c-blog-index__filters-set {
  margin-bottom: 32px;
  @include mq($from: tablet) {
    margin-bottom: 0;
  }
}

.c-blog-index__filters-info {
  max-width: 72%;
}

.c-blog-index__paginator-list {
  padding: 0;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  li {
    display: inline-block;
    list-style: none;
  }
  .pagination-item {
    font-family: $font-sans;
    font-size: 15px;
    line-height: 1;
    background-color: $v2-lighter-grey;
    color: $v2-black;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    padding: 16px 20px;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
    &.last-button {
      svg {
        transform: rotate(180deg);
      }
    }
    svg {
      vertical-align: middle;
    }
    &.disabled {
      //color: $grey;
      cursor: default;
      pointer-events: none;
    }
    &:hover {
      background-color: $v2-light-blue;
    }
    &.active {
      color: white;
      background-color: $v2-dark-blue;
      cursor: default;
      pointer-events: none;
    }
  }
  @include mq($from: tablet) {
    margin: $spacing auto 0 auto;
  }
}
