.c-blog-entry {
  background-color: $white;
  font-size: 15px;
  color: $v2-black;
  margin-bottom: 100px;

  .o-wrapper-section {
    max-width: 1312px;
  }
  .o-wrapper {
    padding: 0 $spacing;
  }

  h2 {
    font-family: $font-sans-header;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: $v2-black;
    margin: 0 0 32px 0;
    @include mq($from: tablet) {
      font-family: $font-sans;
      line-height: 38px;
    }
  }

  h3 {
    font-size: $font-size-normal;
    font-weight: 700;
    line-height: 1.5;
    margin: 35px 0 $spacing 0;
  }

  h6 {
    font-family: $font-sans;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    display: inline-block;
  }

  .c-blog-entry__content {
    width: 100%;
    max-width: 752px;
    margin: 0 auto;
  }

  .c-credit {
    margin: 8px 0;
    @include mq($from: tablet) {
      margin: 32px 0;
    }
  }

  .c-blog-entry__caption,
  .c-blog-entry__caption > a {
    display: inline-block;
    font-family: $font-sans;
    font-size: $font-size-nano;
    line-height: 14px;
    text-align: right;
    padding: 2px;
    color: $v2-dark-grey;
  }

  .c-blog-entry__caption > a {
    //text-decoration: underline;
    transition: all 100ms ease-out;
    border-bottom: none;
    span {
      position: relative;
    }
    &:hover,
    &:visited:hover {
      color: $v2-blue;
      //text-decoration: none;
      border-bottom: none;
    }
    &:visited {
      //text-decoration: none;
      //color: #8f8f8f;
      border-bottom: none;
    }
    &:active {
      color: $v2-blue;
      border-bottom: none;
      & > * {
        display: inline-block;
        transform: translateY(2px);
      }
    }
    &:focus {
      border: none;
    }
    @include mq($from: tablet) {
      &:visited {
        color: $v2-dark-grey;
      }
    }
  }

  .c-blog-entry__main-text {
    font-family: $font-serif;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.02em;
    margin: 32px auto 32px auto;
    max-width: 850px;

    .c-longform-grid__large,
    .c-longform-grid__medium,
    .c-longform-grid__standard {
      padding: 0;
      margin: 32px auto;
    }
    .c-longform-grid__standard {
      max-width: 600px;
    }
    h2.c-longform-grid__standard {
      color: $v2-black;
      font-weight: 700;
      font-size: 22px;
      line-height: 1.3;
      margin: 68px auto 32px auto;
    }
    h3.c-longform-grid__standard {
      color: $v2-black;
      font-weight: 700;
      font-size: 22px;
      line-height: 1.3;
      // font-size: 18px;
      // line-height: 1.22;
      margin: 68px auto 32px auto;
    }

    .list-bullets {
      li::marker {
      }
    }
    .c-article__pullQuote {
      padding: 0;
      font-family: $font-sans;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      position: relative;
      max-width: 304px;
      margin: 32px auto 32px auto;
      @include mq($from: tablet) {
        font-size: 24px;
        float: left;
        margin: 32px 32px 32px -152px;
        max-width: 304px;
      }

      // &::before {
      //   display: inline-block;
      //   font-family: $font-sans;
      //   color: #3d3d3d;
      //   content: '\2018';
      //   font-size: 24px;
      // }
      // &::after {
      //   display: inline-block;
      //   font-family: $font-sans;
      //   color: #3d3d3d;
      //   content: '\2019';
      //   font-size: 24px;
      // }
    }

    .c-figure__caption {
      margin: 24px 0;
    }

    .c-figure__caption > .c-longform-grid__standard,
    .c-table__caption > .c-longform-grid__standard {
      font-size: 15px;
      line-height: 1.33;
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
    }
    .c-table table {
      margin-bottom: 24px;
    }

    a {
      color: $v2-black;
      border-bottom: 1px solid $black;
    }
    a:hover {
      color: $brand-main;
      border-bottom: 1px solid $brand-main;
    }
    a:active {
      color: $brand-main;
      border-bottom: 1px solid $brand-main;
    }
    a:visited {
      //color: $brand-main;
      //border-bottom: 1px solid $brand-main;
    }

    @include mq($from: tablet) {
      font-size: 20px;
      line-height: 1.5;
      margin: $spacing-large auto $spacing-large auto;
    }
  }

  .c-blog-entry__lead,
  .c-blog-entry__first-p {
    margin: 0 auto 32px auto;
    max-width: 600px;
    .c-longform-grid__standard {
      margin-top: 0;
    }
    @include mq($from: tablet) {
      font-size: 20px;
      margin: 0 auto $spacing-large auto;
    }
  }

  .c-blog-entry__heads-up {
    border-top: 1px solid #e6e6e6;
    line-height: 26px;
    padding: 15px 0;
    .c-longform-grid__standard {
      padding: 0;
    }
  }

  .topic a {
    font-family: $font-sans;
    color: $v2-black;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    border: none;
    padding: 0;
    padding-left: 2px;
  }

  &.c-blog-entry--no-img {
    .c-blog-entry__header {
      padding-bottom: 32px;
    }
    .c-blog-entry__main {
      margin-top: 32px;
    }
  }
  @include mq($from: tablet) {
    margin-bottom: 160px;
  }
}

.c-blog-entry__header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding-bottom: 104px;

  @include mq($from: tablet) {
    flex-direction: row;
    position: relative;
    padding-bottom: 0;


  }
}

.c-blog-entry__intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @include mq($from: tablet) {
    width: calc(50% + 8px);
    padding: 64px 24px 32px 64px;
    //flex: 0 0 auto;
  }
  &.c-blog-entry__intro--no-img {
    h2 {
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0.01em;
      @include mq($from: tablet) {
        max-width: 1130px;
        font-size: 44px;
        line-height: 53px;
      }
    }
    .c-blog-entry__standfirst {
      margin-bottom: $spacing;
      @include mq($from: tablet) {
        max-width: 644px;
        margin-bottom: $spacing-large;
      }
    }
    @include mq($from: tablet) {
      width: 85%;
      //flex: 0 0 auto;
    }
  }
  h2,
  .c-blog-entry__standfirst {
    margin-bottom: $spacing;
    @include mq($from: tablet) {
      width: 94%;
      //margin-bottom: $spacing-large;
    }
  }
  h6 {
    font-family: $font-sans;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    margin-top: $spacing-large;
    margin-bottom: 8px;
    @include mq($from: tablet) {
      margin-top: 0;
      margin-bottom: 32px;
    }
  }
}

.c-blog-entry__featured-image {
  margin: -80px 0 32px 0;
  @include mq($from: tablet) {
    margin: 0;
    width: calc(50% - 8px);
  }
  img {
    @include mq($from: tablet) {
      width: auto;
      min-width: 100%;
      object-fit: cover;
    }
  }
}


.c-blog-entry__featured-image--bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq($from: tablet) {
    height: 521px;
  }
}

.c-blog-entry__standfirst {
  font-family: $font-serif;
  color: $v2-black;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  @include mq($from: tablet) {
    line-height: 1.3;
  }
}

.c-blog-entry__main {
  @include mq($from: tablet) {
  }
}

.c-blog-entry__header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include mq($from: tablet) {
    line-height: 1.3;
  }
}

.c-blog-entry__topics {
  max-width: 100%;
  @include mq($from: tablet) {
    max-width: 80%;
  }
}

.c-blog-entry__row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.c-blog-entry__center {
  @include mq($from: tablet) {
    padding: 0 24px;
  }
}

.c-blog-sidebar {
  font-family: $font-sans;
  padding-bottom: 0;
  width: 100%;
  color: $v2-black;
  position: relative;
  margin-bottom: 40px;
  .c-blog-sidebar__date {
    margin-bottom: 30px;
  }
  .c-blog-sidebar__row--regular {
    display: block;
  }
  .c-blog-sidebar__row--bold {
    display: block;
    font-weight: bold;
  }
  .c-blog-sidebar__share-container {
    margin-bottom: 32px;
  }
  @include mq($from: tablet) {
    max-width: 240px;
    padding-bottom: 48px;
    margin-bottom: $spacing-large;
  }
}

.c-blog-entry__additional-content {
  max-width: 600px;
  margin: 0 auto;
  clear: both;
}

.u-section-underline--no-margins {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.c-blog-entry__bottom {
  .c-related-items-list {
    h2.u-navy-big-headline {
      font-size: 36px;
      line-height: 40px;
    }
  }
}