.c-about-author {
  p {
    font-family: $font-serif;
    font-size: 18px;
    line-height: 1.56;
    color: $v2-black;
  }
  h3 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  @include mq($from: tablet) {
    p {
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

.c-blog-authors-list {
  margin-top: 32px;
  margin-bottom: 20px;
  .c-blog-authors-list__name {
    font-weight: 700;
    a {
      font-weight: 700;
    }
  }
  .c-blog-authors-list__position {
    font-weight: 400;
  }
  .c-blog-authors-list__text-block {
    margin: 16px auto 24px auto;
    p {
      margin: 0;
    }
    @include mq($from: tablet) {
      margin: 16px auto $spacing-large auto;
    }
  }
  .c-blog-authors-list__h {
    margin: $spacing 0 0 0;
  }
  @include mq($from: tablet) {
    margin-bottom: 32px;
  }
}

.c-blog-sidebar__translation {
  margin-top: 24px;
  @include mq($from: tablet) {
    margin-top: 0;
  }
}