.c-pubHeader {
  font-family: $font-sans;
  color: $v2-black;

  .c-article-header__container {
    max-width: 600px;
    margin: 0 auto;
    @include mq($from: tablet) {
    }
  }

  .c-pubHeader__content {
    margin: 32px auto 24px auto;
    text-align: center;
    @include mq($from: tablet) {
      margin: 72px auto 24px auto;
    }
  }

  h2 {
    margin-top: 32px;
  }
  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    //padding: 72px $spacing 72px $spacing;
    // .o-wrapper-section {
    //   display: flex;
    //   flex-wrap: wrap;
    // }
    // &__content {
    //   max-width: 600px;
    //   margin: 0 auto;
    // }
  }
}

.c-pubHeader__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 32px 0 0 0;
  @include mq($from: tablet) {
    justify-content: center;
  }
  .c-btn--sec {
    margin: 0 16px 0 0;
    @include mq($from: tablet) {
      margin: 0 16px;
    }
  }
  //overriting
  a.c-btn--sec {
    border-color: #dedede;
  }
  .c-btn--5 {
    margin: 0;
    padding: 6px 0;
    @include mq($from: tablet) {
      margin: 0 16px;
    }
  }
}

.c-pubHeader__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.c-pubHeader--scrolled {
  padding-bottom: 80px;
}

.c-progress-bar {
  height: 2px;
  background-color: $v2-teal;
}

.c-pubHeader--LA {
  padding-top: 80px;
  .c-pubHeader__content {
    max-width: 600px;
  }
  .c-pubHeader__actions {
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
  }
  .u-heading--black--44,
  .c-pubHeader__subtitle {
    text-align: left;
  }
  .u-heading--black--44 {
    margin-top: 24px;
  }
  .c-pubHeader__subtitle {
    margin-top: 16px;
  }
  .c-topics {
    margin-top: 8px;
    text-align: left;
    .c-btn--ter {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }
  }
  @include mq($from: tablet) {
    .u-heading--black--44,
    .c-pubHeader__subtitle {
      text-align: center;
    }
    .u-heading--black--44,
    .c-pubHeader__subtitle {
      margin-top: 32px;
    }
  }
}

.c-lAHeader__top-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 24px;

  @include mq($from: tablet) {
    justify-content: space-between;
    padding: 24px 32px 24px 24px;
  }

  .u-no-underline {
    height: 32px;
  }
  .c-logo {
    max-width: 150px;
    height: 32px;
    margin: 0;
  }
}

.c-pubHeader--LA__top {
  background-color: white;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
}

.c-header--fixed {
  background-color: white;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
}

.c-header--fixed__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

  @include mq($from: tablet) {
    justify-content: space-between;
    padding: 24px 32px 24px 24px;
  }

  .u-no-underline {
    height: 32px;
  }
  .c-logo {
    max-width: 150px;
    height: 32px;
    margin: 0;
  }
  p {
    font-family: $font-sans;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0;
  }
}

.c-lAHeader__close {
  .c-btn--close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg g,
    svg path {
      fill: $v2-black;
    }
    // &:hover {
    //   svg g,
    //   svg path {
    //     fill: $v2-blue;
    //   }
    //   .c-btn__label {
    //     color: $v2-blue;
    //   }
    // }
  }
}

.c-pubHeader--LA__featured-image {
  padding: 0 24px;
  margin: 40px auto;
  max-width: 1072px;
  @include mq($from: tablet) {
    padding: 0;
    margin: 32px auto;
    // margin: 0;
    // width: 100%;
  }
  // img {
  //   @include mq($from: tablet) {
  //     width: auto;
  //     min-width: 100%;
  //     object-fit: cover;
  //   }
  // }
}

.c-pubHeader--LA__featured-image--bg {
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  @include mq($from: tablet) {
    width: 100%;
    height: 521px;
  }
}

.c-pubHeader__subtitle {
  font-family: $font-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.02em;
  margin: 32px 0 0 0;
  @include mq($from: tablet) {
    font-size: 22px;
    line-height: 1.45;
  }
}

.c-pubHeader--LA__actions-container {
  &.u-fixed {
    .c-pubHeader__actions {
      .c-pubHeader__row {
        display: none;
      }
      @include mq($from: tablet) {
        .c-pubHeader__row {
          display: flex;
        }
      }
    }
  }
}

.c-pubHeader--LA__actions-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 0;
  height: 72px;
  @include mq($from: tablet) {
    height: 80px;
    padding: 24px 0;
  }
}
