.c-mobile-menu-v2__main-box {
  display: block;
  @include mq($from: desktop) {
    display: none;
  }
}

.c-mobile-menu-v2__menu-svg-element {
  fill: $white;
}

.c-mobile-menu-v2__backdrop {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  width: 100vw;
  height: auto;
  max-height: 85vh;
  overflow-y: scroll;
  z-index: -2;
  border: 0;
  border-top: 1px solid $white;
  //background: rgba($dark-blue, 0.5);
  background: $dark-blue;
  // animation-name: sliding-vertically 0.5s;

  animation: fadeIn 0.2s ease-out;
  //   padding: 48px 52px;
}

.c-mobile-menu-v2__button {
  border-radius: 0;
  border: none;
  color: $brand-main;
  background-color: transparent;
  cursor: pointer;
}

.c-mobile-menu-v2__list {
  list-style: none;
  padding: 0;
}
.c-mobile-menu-v2__link {
  font-weight: 400;
  color: $white;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid transparent;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  &:hover {
    color: $highlight-blue;
  }
  // &:visited {
  //   color: inherit;
  //   font-size: 18px;
  //   line-height: 40px;
  //   border-bottom: 1px solid transparent;
  //   &:hover {
  //     color: inherit;
  //   }
  // }
}
.c-mobile-menu-v2__share-holder {
  padding: 19px 25px 19px 25px;
}
.c-mobile-menu-v2__share-button {
  margin-right: 25px;
}

.c-mobile-menu-v2__search-icon-holder {
  margin-right: 18px;
}

/////////////////////////////////////////////////////////
// Custom styles for the installed collapsible package//
///////////////////////////////////////////////////////

.Collapsible {
  background: $dark-blue;
  border-bottom: 1px solid #ffffff4a;
}
.Collapsible__trigger.is-open svg {
  transform: rotate(180deg);
  path {
    stroke: $highlight-blue;
    opacity: 1;
  }
}
.Collapsible__contentInner {
  background: $dark-blue;
  border-top: 1px solid $highlight-blue;
}

.c-mobile-menu-v2__collapsible-trigger-box {
  display: flex;
  align-items: center;
  padding: 12px 25px 12px 25px;
}
.c-mobile-menu-v2__collapsible-text {
  width: 100%;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}
