.c-share-buttons {
    padding: 10px 0;
    // border-bottom: 1px solid $v2-lightest-grey;
    // border-top:  1px solid $v2-lightest-grey;
    // margin-bottom: 30px;
    // max-width: 240px;
    button {
        margin: 0 2px;
    }
    svg {
        vertical-align: bottom;
    }
}