
.c-btn--pri {
  background-color: $v2-blue;
  border-radius: 20px;
  font-family: $font-sans;
  font-size: $font-size-micro;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: $white;
  padding: 8px 16px;
  transition: all 100ms ease-out;
  &:hover {
    text-decoration: none;
    background-color: $v2-dark-blue;
  }
  &:focus {
    text-decoration: none;
  }
  &:active {
    padding-top: 10px;
    padding-bottom: 6px;
    border: 1px solid $v2-dark-yellow;
    box-shadow: 0 0 0 1px $v2-dark-yellow;
    outline: none;
  }
  &:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.4;
  }
}
.c-btn--sec {
  font-family: $font-sans;
  background-color: $white;
  border: 1px solid $v2-lighter-grey;
  border-radius: 20px;
  font-size: $font-size-nano;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: $v2-black;
  padding: 10px 16px;
  transition: all 100ms ease-out;
  &:hover {
    background-color: $v2-lightest-grey;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  &:active {
    padding-top: 12px;
    padding-bottom: 8px;
    background-color: $v2-lightest-grey;
    border: 1px solid $v2-dark-yellow;
    box-shadow: 0 0 0 1px $v2-dark-yellow;
    outline: none;
  }
}
.c-btn--ter {
  display: inline-block;
  font-family: $font-sans;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.1px;
  color: $v2-dark-grey;
  padding: $spacing-tiny;
  text-decoration: underline;
  transition: all 100ms ease-out;
  border-bottom: none;
  span {
    position: relative;
  }
  &:hover {
    color: $v2-dark-grey;
    text-decoration: none;
    border-bottom: none;
  }
  &:visited {
    text-decoration: none;
    color: $v2-dark-grey;
    border-bottom: none;
  }
  &:visited:hover {
    color: $v2-dark-grey;
    border-bottom: none;
  }
  &:focus {
    border: none;
  }
  &:active {
    //padding-top: 8px;
    //padding-bottom: 4px;
    border-bottom: none;
    div {
      transform: translateY(2px);
    }
  }
}
.c-btn--sep {
  display: inline-block;
  font-family: $font-sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1px;
  color: $v2-dark-grey;
  padding: 2px;
  text-decoration: underline;
  transition: all 100ms ease-out;
  border-bottom: none;
  span {
    position: relative;
  }
  &:hover {
    color: $v2-dark-grey;
    text-decoration: none;
    border-bottom: none;
  }
  &:visited {
    text-decoration: none;
    color: $v2-dark-grey;
    border-bottom: none;
  }
  &:visited:hover {
    color: $v2-dark-grey;
    border-bottom: none;
  }
  &:focus {
    border: none;
  }
  &:active {
    //padding-top: 8px;
    //padding-bottom: 4px;
    border-bottom: none;
    div {
      transform: translateY(2px);
    }
  }
}

.c-btn--qua {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.1px;
  color: $v2-dark-grey;
  padding: $spacing-tiny;
  text-decoration: none;
  transition: all 100ms ease-out;
  &:hover {
    border: none;
    color: $v2-dark-grey;
    text-decoration: underline;
  }
  &:focus,
  &:visited {
    text-decoration: none;
    color: $v2-dark-grey;
  }
  &:visited:hover {
    text-decoration: none;
    color: $v2-dark-grey;
  }
  &:active {
    text-decoration: underline;
    div {
      transform: translateY(2px);
    }
  }
}

.c-btn--sen {
  // font-family: $font-sans;
  // font-weight: 900;
  // font-size: 12px;
  // line-height: 14px;
  // letter-spacing: 0.08em;
  // color: $v2-black;
  padding-bottom: 2px;
  border-bottom: 1px solid $v2-lighter-grey;
  &:hover {
    border: none;
    color: $v2-black;
    border-bottom: 1px solid transparent;
  }
  &:focus,
  &:visited {
    color: $v2-black;
    text-decoration: none;
    border-bottom: 1px solid $v2-lighter-grey;
  }
  &:visited:hover {
    color: $v2-black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }
  &:active {
    border-bottom: 1px solid transparent;
    div, h6 {
      transform: translateY(2px);
    }
  }
}

.c-btn--link {
 padding: 0;
}

.c-btn--close {
  & svg g {
    // color: transparent;
  }
  & svg path {
    // color: $white;
  }
  & svg circle {
    //   stroke: $white;
    //   fill: transparent;
  }

  &:hover,
  &:focus {
    border: none;
    outline: none;

    svg g,
    svg path {
      //stroke: $v2-dark-grey;
      fill: $v2-dark-grey;
    }
    svg circle {
      //stroke: $brand-main;
      //fill: $white;
    }
  }
  .u-visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}

.c-btn--select {
  font-family: $font-sans;
  background-color: $white;
  border: 1px solid $v2-lighter-grey;
  border-radius: 20px;
  font-size: $font-size-nano;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: $v2-black;
  padding: 8px 16px;
  transition: all 100ms ease-out;
  &:hover {
    border: 1px solid $v2-light-grey;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: none;
    border: 1px solid $v2-light-grey;
  }
}


