.c-btn--pri {
  background-color: $v2-blue;
  border-radius: 20px;
  font-family: $font-sans;
  font-size: $font-size-nano;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: $white;
  padding: 10px 16px;
  border: 1px solid transparent;
  transition: all 100ms ease-out;
  &:hover {
    text-decoration: none;
    background-color: $v2-dark-blue;
  }
  &:focus {
    text-decoration: none;
  }
  &:active {
    padding-top: 12px;
    padding-bottom: 8px;
    border: 1px solid $v2-dark-yellow;
    box-shadow: 0 0 0 1px $v2-dark-yellow;
    outline: none;
  }
  &:active:hover {
    border: 1px solid $v2-dark-yellow;
  }
  &:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.4;
  }
  & > * {
    color: $white;
  }
}
.c-modal__controls {
  .c-btn--pri {
    font-size: $font-size-micro;
  }
}

.c-btn--sec {
  font-family: $font-sans;
  background-color: $white;
  border: 1px solid $v2-lighter-grey;
  border-radius: 20px;
  font-size: $font-size-nano;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: $v2-black;
  padding: 10px 16px;
  transition: all 100ms ease-out;
  &:hover {
    background-color: $v2-lightest-grey;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  &:active {
    padding-top: 12px;
    padding-bottom: 8px;
    background-color: $v2-lightest-grey;
    border: 1px solid $v2-dark-yellow;
    box-shadow: 0 0 0 1px $v2-dark-yellow;
    outline: none;
  }
  &:visited,
  &:visited:hover {
    color: $v2-black;
    border: 1px solid $v2-lighter-grey;
  }
}

.c-btn--ter {
  display: inline-block;
  font-family: $font-sans;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.1px;
  color: $v2-black;
  padding: 0;
  text-decoration: underline;
  transition: all 100ms ease-out;
  border-bottom: none;
  span {
    position: relative;
  }
  &:hover,
  &:visited:hover {
    color: $v2-blue;
    text-decoration: none;
    border-bottom: none;
  }
  &:visited {
    color: $v2-black;
    text-decoration: none;
    border-bottom: none;
  }
  &:active {
    color: $v2-blue;
    text-decoration: none;
    border-bottom: none;
    & > * {
      display: inline-block;
      transform: translateY(2px);
    }
  }
  &:focus {
    border: none;
  }
}

.c-btn--qua {
  font-family: $font-sans;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.1px;
  color: $v2-dark-grey;
  text-decoration: none;
  transition: all 100ms ease-out;
  border-bottom: none;
  &:hover,
  &:visited:hover {
    border: none;
    color: $v2-blue;
    text-decoration: underline;
  }
  &:visited {
    color: $v2-dark-grey;
    text-decoration: none;
    border-bottom: none;
  }
  &:active {
    color: $v2-blue;
    border-bottom: none;
    text-decoration: underline;
    & > * {
      display: inline-block;
      transform: translateY(2px);
      text-decoration: underline;
    }
  }
  &:focus {
    border: none;
  }
}

.c-btn--5 {
  display: inline-block;
  font-family: $font-sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $v2-black;
  text-decoration: none;
  transition: all 100ms ease-out;
  border-bottom: none;
  &:hover,
  &:visited:hover {
    border: none;
    color: $v2-blue;
    text-decoration: underline;
  }
  &:visited {
    color: $v2-black;
    //text-decoration: none;
    //border-bottom: none;
  }
  &:active {
    color: $v2-blue;
    //border-bottom: none;
    text-decoration: underline;
    & > * {
      display: inline-block;
      transform: translateY(2px);
      text-decoration: underline;
    }
  }
  &:focus {
    border: none;
    text-decoration: none;
  }
}

.c-btn--sen {
  color: $v2-black;
  padding-bottom: 2px;
  border-bottom: 1px solid $v2-lighter-grey;
  &:hover,
  &:visited:hover {
    color: $v2-black;
    border-bottom: 1px solid transparent;
  }
  &:visited {
    color: $v2-black;
    border-bottom: 1px solid $v2-lighter-grey;
  }
  &:active,
  &:active:hover {
    border-bottom: 1px solid transparent;
    & > * {
      transform: translateY(2px);
      border-bottom: none;
    }
  }
  h6 {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
  }
}

.c-btn--7 {
  display: inline-block;
  font-family: $font-sans;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: $v2-black;
  text-decoration: none;
  transition: all 100ms ease-out;
  border-bottom: none;
  &:hover,
  &:visited:hover {
    border: none;
    //color: $v2-blue;
    //text-decoration: underline;
    text-decoration: none;
  }
  &:visited {
    color: $v2-black;
    text-decoration: none;
    //border-bottom: none;
  }
  &:active {
    //color: $v2-blue;
    //border-bottom: none;
    //text-decoration: underline;
    text-decoration: none;
    & > * {
      display: inline-block;
      transform: translateY(2px);
      //text-decoration: underline;
      text-decoration: none;
    }
  }
  &:focus {
    border: none;
    text-decoration: none;
  }
}

.c-btn--close {
  .c-btn__label {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 3px;
  }

  &:hover,
  &:focus {
    border: none;
    outline: none;
    text-decoration: none;
    svg g,
    svg path {
      //stroke: $v2-dark-grey;
      fill: $v2-dark-grey;
    }
    .c-btn__label {
      text-decoration: none;
    }
  }
  .u-visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}

.c-btn--select {
  font-family: $font-sans;
  background-color: $white;
  border: 1px solid $v2-lighter-grey;
  border-radius: 20px;
  font-size: $font-size-nano;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: $v2-black;
  padding: 8px 16px;
  transition: all 100ms ease-out;
  &:hover {
    border: 1px solid $v2-light-grey;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: none;
    border: 1px solid $v2-light-grey;
  }
}

.c-btn--chevron {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  span {
    margin-right: 12px;
  }
}

.c-btn--copy {
  background-color: $white;
  cursor: pointer;
  border: none;
  padding: 8px 8px 0 8px;
  margin: 0 8px;

  &:active {
    outline: none;
    & > * {
      transform: translateY(2px);
      border-bottom: none;
    }
  }
}

.c-link--pri a {
  display: inline-flex;
  background-color: $v2-blue;
  border-radius: 20px;
  font-family: $font-sans;
  font-size: $font-size-nano;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: $white;
  padding: 10px 16px;
  border: 1px solid transparent;
  transition: all 100ms ease-out;
  &:hover,
  &:hover:visited {
    color: $white;
    text-decoration: none;
    background-color: $v2-dark-blue;
  }
  &:focus {
    text-decoration: none;
  }
  &:active {
    padding-top: 12px;
    padding-bottom: 8px;
    border: 1px solid $v2-dark-yellow;
    box-shadow: 0 0 0 1px $v2-dark-yellow;
    outline: none;
  }
  &:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.4;
  }
}
