.c-about-author {
  h4 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  margin-top: 0;
  margin-bottom: 24px;
  @include mq($from: tablet) {
    margin-top: 48px;
    margin-bottom: 32px;
  }
}

.c-about-author__item {
  .c-longform p {
    font-size: 16px;
    line-height: 1.62;
  }
  @include mq($from: tablet) {
    .c-longform p {
      font-size: 18px;
      line-height: 1.56;
    }
  }
}
