.c-blog-entry {
  background-color: $white;
  font-size: 15px;
  color: $v2-black;
  margin-bottom: 160px;

  .o-wrapper-section {
    max-width: 1312px;
  }
  .o-wrapper {
    padding: 0 $spacing;
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: $v2-black;
    margin: 0 0 32px 0;
  }

  h3 {
    font-size: $font-size-normal;
    font-weight: 700;
    line-height: 1.5;
    margin: 35px 0 $spacing 0;
  }

  h6 {
    font-family: $font-sans;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    display: inline-block;
  }

  .c-blog-entry__content {
    width: 100%;
    max-width: 752px;
    margin: 0 auto;
  }

  .c-blog-entry__featured-image {
    //padding: 30px 0 0 0;
    //border-top: 1px solid #e6e6e6;
  }
  .c-blog-entry__caption {
    font-family: $font-sans;
    font-size: $font-size-nano;
    line-height: 14px;
    text-align: right;
    margin: 24px 0 48px 0;
  }

  .c-blog-entry__main-text {
    font-family: $font-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: $spacing-large auto $spacing-large auto;
    max-width: 850px;

    .c-longform-grid__large,
    .c-longform-grid__medium,
    .c-longform-grid__standard {
      padding: 0;
      margin: $spacing-large auto;
    }
    .c-longform-grid__standard {
      max-width: 600px;
    }
    .c-article__pullQuote {
      padding: 0;
    }
    .c-figure__caption > .c-longform-grid__standard {
      padding-left: 0;
      padding-right: 0;
      margin-top: 12px;
    }
  }

  .c-blog-entry__lead {
    margin: 0 auto $spacing-large auto;
    max-width: 600px;
    p {
      margin-top: 0;
    }
  }

  .c-blog-entry__heads-up {
    border-top: 1px solid #e6e6e6;
    line-height: 26px;
    padding: 15px 0;
    .c-longform-grid__standard {
      padding: 0;
    }
  }

  .c-blog-entry__featured-image {
    margin: 0;
  }

  .download {
    display: block;
    .button {
      font-family: $font-sans;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $brand-main;
      background-color: $white;
      line-height: 30px;
      padding: 8px $spacing-small;
      color: $brand-main;
      font-weight: 900;
      cursor: pointer;
      width: 100%;
      max-width: 240px;
      &.read-online {
        margin-top: $spacing;
      }
    }
    .dropdown-select {
      position: relative;
      width: 100%;
      max-width: 240px;
      font-weight: bold;
      .button {
        color: $white;
        background-color: $brand-main;
      }
      .other-links {
        position: absolute;
        overflow: hidden;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 3;
        border: 1px solid $brand-main;
        max-height: 0px;
        transition: max-height 0.2s ease-out 0s;
        .button {
          background-color: $white;
          border: none;
          border-bottom: 1px solid $border-grey;
          color: $v2-black;
          font-weight: normal;
          &:hover {
            background-color: $brand-main;
            color: $white;
          }
          &:last-child {
            border: none;
          }
        }
      }
      &.open {
        .other-links {
          transition: max-height 0.2s ease-in 0s;
          max-height: 999px;
        }
      }
    }
  }

  .topic {
    font-family: $font-sans;
    color: $v2-black;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: inline;
    border: none;
  }

  @include mq($from: tablet) {
    //padding: 0 $spacing $spacing-huge $spacing;
    .download {
      display: flex;
      .button {
        &.read-online {
          margin-top: 0;
          margin-left: $spacing;
        }
      }
    }
  }
}

.c-blog-entry__header {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.c-blog-entry__intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @include mq($from: tablet) {
    width: calc(50% - 24px);
    padding: 64px 64px 32px 64px;
    //flex: 0 0 auto;
  }
  h6 {
    font-family: $font-sans;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    padding-bottom: 2px;
    border-bottom: 1px solid $v2-lighter-grey;
    margin-bottom: 32px;
  }
}

.c-blog-entry__standfirst {
  font-family: $font-serif;
  color: $v2-black;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.c-blog-entry__header-row {
  display: flex;
  justify-content: space-between;
}

.c-blog-entry__topics {
}

.c-blog-entry__row {
  display: flex;
  justify-content: space-between;
}

.c-blog-sidebar {
  font-family: $font-sans;
  padding-bottom: 48px;
  width: 100%;
  color: $v2-black;
  position: relative;
  margin-bottom: $spacing-large;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 4px;
  //   width: 240px;
  //   max-width: 100%;
  //   background-color: $v2-black;
  // }
  .c-blog-sidebar__date {
    margin-bottom: 30px;
  }
  .c-blog-sidebar__row--regular {
    display: block;
  }
  .c-blog-sidebar__row--bold {
    display: block;
    font-weight: bold;
  }
  .c-blog-sidebar__share-container {
    margin-bottom: 32px;
  }
  @include mq($from: tablet) {
    max-width: 240px;
  }
}

.c-blog-authors-list {
  margin-bottom: $spacing-large;
  .c-blog-authors-list__name {
    font-weight: 700;
    a {
      font-weight: 700;
    }
  }
  .c-blog-authors-list__position {
    font-weight: 400;
  }
  .c-blog-authors-list__text-block {
    margin: 16px auto $spacing-large auto;
    p {
      margin: 0;
    }
  }
  .c-blog-authors-list__h {
    margin: $spacing 0 0 0;
  }
}

.c-blog-entry__additional-content {
  max-width: 600px;
  margin: 0 auto;
}

.u-section-underline--no-margins {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.c-blog-entry__bottom {
  .c-related-items-list {
    h2.u-navy-big-headline {
      font-size: 36px;
      line-height: 40px;
    }
  }
}

.blog-accordion {
  border-top: 1px solid $border-grey;
  margin-top: $spacing;
  .c-accordion {
    &__block {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $border-grey;
    }
    &__container {
      cursor: pointer;
      width: 90%;
      max-width: calc(100% - 100px);
      padding: $spacing 0;
      .title {
        margin: 0;
      }
    }
    &__content {
      max-height: 0;
      position: relative;
      overflow: hidden;
      transition: max-height 0.2s;
      &.open {
        max-height: 100%;
        transition: max-height 1s;
        @include mq($from: tablet) {
          max-height: 500px;
        }
      }
    }
    &__arrow {
      cursor: pointer;
      padding: $spacing;
      width: 10%;
      min-width: 100px;
      text-align: center;
      transition: $global-transition;
      svg {
        transform: rotate(0deg) translateY(0);
        transition: transform 0.2s ease-in-out;
      }
      &.open {
        svg {
          transform: rotate(180deg) translateY(-6px);
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }
}

.c-disclaimers {
  p {
    font-family: $font-sans;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
  }
  .c-disclaimers__link {
    margin-top: 32px;
  }
  a {
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
  svg {
    width: 24px;
    height: 24px;
    fill: $v2-grey;
    path {
      fill: $v2-grey;
    }
  }
}
