.c-blog-entry {
  .c-article-header__container {
    @include mq($from: tablet) {
      grid-template-columns: 4fr 6fr;
      column-gap: 60px;
    }
  }
}

.c-blog-entry__featured-image {
  margin: -80px 0 32px 0;
  @include mq($from: tablet) {
    margin: 0;
    width: calc(50% - 8px);
  }
  img {
    @include mq($from: tablet) {
      width: auto;
      min-width: 100%;
      object-fit: cover;
    }
  }
}

.c-blog-entry__featured-image--bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq($from: tablet) {
    height: 521px;
  }
}

.c-credit__caption,
.c-credit__caption > a {
  display: inline-block;
  font-family: $font-sans;
  font-size: $font-size-nano;
  line-height: 14px;
  text-align: right;
  padding: 2px;
  color: $mid-grey;
}

.c-credit > a,
.c-credit__caption > a {
  transition: all 100ms ease-out;
  border-bottom: none;
  span {
    position: relative;
  }
  &:hover,
  &:visited:hover {
    color: $brand-main;
    border-bottom: none;
  }
  &:visited {

    border-bottom: none;
  }
  &:active {
    color: $brand-main;
    border-bottom: none;
    & > * {
      display: inline-block;
      transform: translateY(2px);
    }
  }
  &:focus {
    border: none;
  }
  @include mq($from: tablet) {
    &:visited {
      color: $dark-grey;
    }
  }
}
