.c-btn--round {
  background-color: $white;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  font-size: $font-size-nano;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: #111111;
  padding: 8px 16px;
  &:hover {
    border: 1px solid $v2-light-grey;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: none;
    border: 1px solid $v2-light-grey;
  }
}

.c-btn--close {
  & svg g {
   // color: transparent;
  }
  & svg path {
   // color: $white;
  }
  & svg circle {
 //   stroke: $white;
 //   fill: transparent;
  }

  &:hover,
  &:focus {
    border: none;
    outline: none;

    svg g,
    svg path {
      //stroke: $v2-dark-grey;
      fill: $v2-dark-grey;
    }
    svg circle {
      //stroke: $brand-main;
      //fill: $white;
    }
  }
}
