.c-tags-section {
  border-top: 1px solid #e6e6e6;
  margin-bottom: $spacing-large;

  h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    margin: 35px 0 24px 0;
  }

  .c-tags-section__row {
    margin-bottom: $spacing;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .topic {
      margin-bottom: 0;
    }
    .keyword {
      font-size: $font-size-micro;
      line-height: initial;
      background-color: $v2-yellow;
      margin-bottom: $spacing-tiny;
    }
    h6 {
      margin: 0 $spacing 0 0;
      font-family: 'Lato', Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      width: 12%;
      min-width: 95px;
    }
  }

  .c-tags-section__col {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .keyword {
    margin: 0 11px 0 0;
  }
}

.c-topics {
  .topic a {
    font-family: $font-sans;
    //color: $v2-black;
    font-weight: 700;
    //font-size: 15px;
    //line-height: 18px;
    display: inline-block;
    border: none;
    padding: 0;
    padding-left: 2px;
  }
  .topic--plain {
    font-family: $font-sans;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $brand-main;
  }
}

.c-keywords {
  margin-bottom: 32px;
}

.c-keywords__list {
  margin-top: 18px;
  .keyword {
    font-family: $font-sans;
    color: $v2-brown;
    font-size: $font-size-nano;
    line-height: 14px;
    background-color: $v2-yellow;
    padding: 10px 16px;
    margin: 0 2px 3px 0;
    display: inline-block;
    &:first-letter {
      text-transform: capitalize;
    }
    .keyword:first-letter {
      text-transform: capitalize;
    }
  }
}
