.c-frontpage-section {
  &__date {
    font-family: $font-sans;
    color: $dark-blue;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    margin: 20px 0;
  }
  &__topic {
    .topic {
      font-family: $font-sans;
      color: $brand-main;
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;
      border: 1px solid $brand-main;
      border-radius: 3px;
      padding: 3px 5px 4px 6px;
      display: inline-block;
      margin-right: 11px;
      margin-bottom: 11px;
    }
  }
  &__publication-type {
    color: $dark-blue;
    font-size: 12px;
    line-height: 32px;
    font-family: $font-sans;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    @include mq($from: tablet) {
      font-size: 14px;
    }
  }
  &__publication-headline {
    font-size: 16px;
    line-height: 19px;
    font-family: $font-sans;

    letter-spacing: 0.03em;
    font-weight: bold;
    color: $brand-main;
    margin: 9px 0 10px 0;
    display: block;
    @include mq($from: tablet) {
      font-size: 22px;
      line-height: 30px;
    }
    &:hover,
    &:focus {
      border-color: transparent;
    }
    &:visited {
      &:hover {
        border-color: transparent;
      }
    }
    > * {
      margin: 0;
    }
  }
  &__publication-intro {
    color: $dark-blue;
    font-weight: 300;
    font-family: $font-sans;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
  }
  &__view-all {
    font-family: $font-sans;
    @include inuit-font-size(16px, 28px);
    font-weight: 600;
    color: $dark-blue;
    img {
      padding-left: 5px;
      transition: padding-left 0.2s ease-in-out;
    }
    &:visited {
      color: $dark-blue;
      &:hover {
        border: none;
        color: $dark-blue;
      }
    }
    &:hover {
      border: none;
      color: $dark-blue;
      img {
        padding-left: 10px;
      }
    }
  }
  &__featured {
    font-family: $font-sans;
    padding-top: 33px;
    .col {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding-top: 200px;
      .post-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 300px;
      }
      .text {
        position: relative;
        z-index: 3;
        background-color: $white;
        width: 100%;
        max-width: 417px;
        margin-right: auto;
        padding: $spacing;
        padding-bottom: 13px;
        //padding-right: 22px;
        h6 {
          text-transform: uppercase;
          font-weight: 900;
          margin: 0;
          font-size: 14px;
        }
        h3 {
          font-size: 22px;
          line-height: 30px;
          letter-spacing: 0.03em;
          font-weight: bold;
          color: $brand-main;
          margin: 9px 0 10px 0;
        }
        .intro {
          font-weight: 300;
          font-size: 18px;
          line-height: 26px;
          margin: 0;
        }
      }
      &.full-width-post {
        width: 100%;
        .text {
          max-width: 752px;
          padding: $spacing;
          padding-bottom: 13px;
        }
        @include mq($from: desktop) {
          .text {
            padding: 46px 57px $spacing 57px;
          }
        }
        @include mq($from: wide) {
          .post-image {
            left: -119px;
            right: -119px;
            max-width: 100vw;
            margin: 0 auto;
          }
        }
      }
    }
    @include mq($from: tablet) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include inuit-font-size(14px, 32px);
      color: $dark-blue;
      .col {
        width: calc(50% - 13px);
        padding-top: 345px;
        .post-image {
          height: 456px;
        }
        .text {
          padding-left: 0;
        }
      }
    }
  }
  &__insights {
    @include inuit-font-size(14px, 32px);
    font-family: $font-sans;
    display: flex;
    flex-wrap: wrap;
    color: $dark-blue;
    padding-bottom: 38px;
    .sidebar {
      width: 100%;
      background-color: $light-blue;
      padding: $spacing;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: $spacing;
      h2 {
        margin-top: 0;
      }
      p {
        @include inuit-font-size(18px, 26px);
        font-weight: 300;
      }
      .bottom {
        width: 80%;
      }
    }
    .col {
      flex-grow: 1;
      flex-wrap: wrap;
      padding-top: 0;
      .post-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
        width: 100%;
      }
      .text {
        position: relative;
        z-index: 3;
        width: 100%;
        margin-right: 0;
        flex-grow: 1;
        padding: $spacing;
        padding-bottom: 13px;
        //padding-top: $spacing;
      }
      &.row {
        width: 100%;
        flex-wrap: wrap;
        &:last-child {
          .u-section-underline {
            margin-bottom: 0;
          }
        }
        .post-image {
          margin-bottom: $spacing-tiny;
        }
      }
    }
    @include mq($from: tablet) {
      .col {
        &.row {
          display: flex;
          padding: 0;
          .post-image {
            width: 186px;
            height: 186px;
          }
          .text {
            padding-top: 0;
            width: calc(100% - 186px);
          }
        }
      }
    }
    @include mq($from: desktop) {
      justify-content: space-between;
      .sidebar {
        width: 388px;
        padding: 38px 38px 46px 47px;
        margin-bottom: 0;
      }
      .col {
        width: calc(100% - 388px);
        .text {
          padding: 0 $spacing-large 0 0;
        }
        &.row {
          width: 100%;
          padding: 0 $spacing;
          padding-left: 57px;
          padding-right: 0;
          justify-content: space-between;
          display: flex;
        }
      }
    }
  }
  &__publications {
    font-family: $font-sans;
    padding: 0 $spacing;
    h2 {
      color: $dark-blue;
    }
    .text {
      .u-section-underline {
        margin-top: $spacing;
        width: 100%;
      }
      &:last-of-type {
        .u-section-underline {
          margin-bottom: $spacing-tiny;
        }
      }
    }
    .pdf-preview {
      display: none;
      pointer-events: none;
      .ReactPDF__Page__canvas {
        border: 1px solid $border-grey;
      }
    }
    .c-frontpage-section__cta {
      margin: 0 auto;
      text-align: center;
    }
    @include mq($from: tablet) {
      padding: 0;
      .text {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .left-side {
          width: calc(100% - 227px);
          max-width: 800px;
          padding-right: $spacing;
        }
        .pdf-preview {
          display: block;
          width: 131px;
          margin-right: $spacing-huge;
          .ReactPDF__Page__canvas {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
    }
  }
  &__events {
    // padding: 0 $spacing;
    // padding-bottom: $spacing-large;
    // .cols {
    //   width: 100%;
    //   .col {
    //     margin-bottom: $spacing-large;
    //     &:last-child {
    //       margin-bottom: 0;
    //     }
    //   }
    // }
    // h2 {
    //   color: $dark-blue;
    // }
    // @include mq($from: tablet) {
    //   padding: 0;
    // }
    // @include mq($from: desktop) {
    //   padding-bottom: $spacing-huge;
    //   .cols {
    //     display: flex;
    //     .col {
    //       width: 30%;
    //       margin-right: 3.33%;
    //       margin-bottom: 0;
    //       .text {
    //         display: flex;
    //         height: 100%;
    //         flex-wrap: wrap;
    //         .bottom-content {
    //           width: 100%;
    //           align-self: flex-end;
    //           margin-top: auto;
    //         }
    //       }
    //     }
    //   }
    // }
  }
}

.c-section-background {
  background-color: #f4f9fd;
  // max-width: 100%;
  padding-bottom: 44px !important;
  // @include mq($from: mobile, $until: desktop) {
  //   h4 {
  //     margin-top: 0;
  //     padding-top: 36px;
  //   }
  // }
}

.c-frontpage {
  .c-topics__list {
    display: flex;
    flex-wrap: wrap;
  }
  .c-topics__list-buttons {
    margin-right: 5px;
    margin-bottom: 5px;
    width: fit-content;
    border-radius: 47px;
    border: 1px solid $mid-grey;
    padding: 7px 12px;
    line-height: 14px;
    .topic--plain {
      color: $mid-grey !important;
      border-bottom: none;
    }
  }

  .c-topics__list-buttons:hover {
    background-color: $brand-main;
    border: 1px solid $brand-main;
    .topic--plain {
      color: #fff !important;
    }
  }
  .c-topic-view-all-holder {
    margin-top: 28px;
  }
  .c-topic-view-all {
    display: flex;
    align-items: center;
    margin-top: 28px;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    border-bottom: none;
    .c-arrow-next-svg {
      margin-left: 12px;
      width: 8px;
    }
    &:hover {
      .c-arrow-next {
        fill: $brand-main;
      }
      color: $brand-main;
      // .c-small-arrow-path {
      //   fill: $brand-main;
      // }
    }
  }
}

.c-events-view-more {
  display: flex;
  align-items: center;
  margin-top: 28px;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  border-bottom: none;
  .c-arrow-next-svg {
    margin-left: 12px;
    width: 8px;
  }
}

.c-feature-list {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;

  @include mq($from: mobile, $until: desktop) {
    flex-wrap: wrap;
  }
  .c-feature-list__item {
    max-width: 370px;
  }
  h2 {
    text-transform: uppercase;
    color: $white;
  }
  .c-topic-paragraph {
    color: $white;
  }
}

.c-featured-post {
  margin-top: 40px;
  .c-blog-authors-list--short {
    margin: 0;
  }
}

.c-feature-title {
  @include mq($from: mobile, $until: desktop) {
    margin-top: 10px;
  }
}

.c-feature-main-box {
  @include mq($from: mobile, $until: desktop) {
    padding: 30px 20px;
  }
}
.c-featured-post:hover {
  .u-primary-heading {
    color: $brand-main;
  }
  .c-featured-post__featured-image {
    opacity: 0.6;
  }
  .c-featured-first-post__featured-image {
    opacity: 0.6;
  }
}
.c-featured-title-text {
  @include mq($from: mobile, $until: desktop) {
    margin-top: 0;
    padding-top: 48px;
  }
}

.c-featured-post__list {
  display: flex;
  flex-wrap: wrap;
}
.c-featured-post__list-box-big {
  width: 70%;
  padding-right: 28px;
  @include mq($from: mobile, $until: desktop) {
    width: 100%;
    padding-right: 0px;
  }
}
.c-featured-post__list-box-small {
  width: 30%;
  padding-left: 28px;
  @include mq($from: mobile, $until: desktop) {
    width: 95%;
  }
}

.c-featured-post__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  // margin-bottom: 40px;
  border-color: transparent;

  .c-featured-post__featured-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .u-primary-heading {
    margin-top: 8px;
  }
  .u-secondary-heading {
    margin-top: 0;
  }
  &:hover,
  &:visited:hover {
    border-color: transparent;
    h3 {
      color: $brand-main;
      //border-color: transparent;
      //text-decoration: underline;
    }
  }
  &:focus {
    border-color: transparent;
  }

  @include mq($from: mobile, $until: desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @include mq($from: tablet) {
    // width: calc(33.3% - 24px);
    // margin-bottom: 72px;
    // .text {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   flex: 1 0 auto;
    // }
  }
}
.c-featured-first-post__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  // margin-bottom: 40px;
  border-color: transparent;

  .c-featured-first-post__featured-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .u-primary-heading {
    margin-top: 8px;
  }
  .u-secondary-heading {
    margin-top: 0;
  }
  &:hover,
  &:visited:hover {
    border-color: transparent;
    h3 {
      color: $brand-main;
      //border-color: transparent;
      //text-decoration: underline;
    }
  }
  &:focus {
    border-color: transparent;
  }

  @include mq($from: tablet) {
    // width: calc(33.3% - 24px);
    // margin-bottom: 72px;
    // .text {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   flex: 1 0 auto;
    // }
  }
}

.c-featured-first-post__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  // margin-bottom: 40px;
  border-color: transparent;

  .c-featured-first-post__featured-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .u-primary-heading {
    margin-top: 8px;
  }
  .u-secondary-heading {
    margin-top: 0;
  }
  &:hover,
  &:visited:hover {
    border-color: transparent;
    h3 {
      color: $brand-main;
      //border-color: transparent;
      //text-decoration: underline;
    }
  }
  &:focus {
    border-color: transparent;
  }

  @include mq($from: tablet) {
    // width: calc(33.3% - 24px);
    // margin-bottom: 72px;
    // .text {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   flex: 1 0 auto;
    // }
  }
}

.c-blog-post__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  // margin-bottom: 40px;
  border-color: transparent;

  .c-featured-post__featured-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .u-primary-heading {
    margin-top: 8px;
  }
  .u-secondary-heading {
    margin-top: 0;
  }
  &:hover,
  &:visited:hover {
    border-color: transparent;
    h4 {
      color: $brand-main;
      //border-color: transparent;
      //text-decoration: underline;
    }
  }
  &:focus {
    border-color: transparent;
  }

  @include mq($from: tablet) {
    // width: calc(33.3% - 24px);
    // margin-bottom: 72px;
    // .text {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   flex: 1 0 auto;
    // }
  }
}

// width: 100%;
//flex-direction: row;
//justify-content: space-between;

.c-featured-post__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin: $spacing 0;

  @include mq($from: tablet) {
    width: calc(100% - 40px);
    // flex: 0 0 auto;
  }
}
.c-featured-post__featured-image {
  width: 100%;
  height: 160px;
  @include mq($from: tablet) {
    width: 95%;
    height: 308px;
    // max-width: 523px;
  }
}
.c-featured-first-post__featured-image {
  width: 100%;
  height: 160px;
  @include mq($from: tablet) {
    width: 95%;
    height: 308px;
    // max-width: 523px;
  }
}
.c-featured-mobile-padding {
  @include mq($from: mobile, $until: desktop) {
    padding: 0 24px;
  }
}

.c-featured-post__intro {
  // @include mq($from: mobile, $until: desktop) {
  //   display: none;
  // }
  // font-family: $font-serif;
  // font-size: 15px;
  // line-height: 1.5;
  // font-weight: 400;
  // color: $mid-grey;
  // margin-bottom: $spacing;
  // @include mq($from: tablet) {
  //   font-size: $font-size-small;
  //   line-height: 1.33;
  // }
}

.c-featured-post__date {
  // font-family: $font-sans;
  color: $mid-grey;
  // font-size: 15px;
  // line-height: 1.6;
  // font-weight: 400;
  // margin: 0;
}

.c-events-date {
  display: flex;
  align-items: flex-end;
  color: $mid-grey;
  margin-bottom: 0px;
}
.c-events-location {
  display: flex;
  align-items: flex-end;
  color: $mid-grey;
  margin-bottom: 10px;
}

.c-featured-post__name {
  font-family: $font-sans;
  color: $dark-grey;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
}

.c-featured-post__item--big {
  .c-featured-first-post__featured-image {
    width: 100%;
    height: 156px;
    //max-width: 264px;
    margin-bottom: 32px;
    @include mq($from: tablet) {
      height: 312px;
      //max-width: 736px;
    }
  }
}

.c-featured-post__item--small {
  // margin-bottom: 40px;
  .c-featured-post__featured-image {
    width: 100%;
    height: 156px;
    //max-width: 264px;
    margin-bottom: 12px;

    @include mq($from: mobile, $until: desktop) {
      width: 100%;
      height: auto;
      margin-bottom: 0;
      margin-right: 10px;
    }
    @include mq($from: tablet) {
    }
  }
  h3 {
    color: $dark-grey;
    margin: 12px 0 24px 0;
  }
}

.c-feature--list {
  width: 90vw;
  height: 510px;
  background-color: $dark-blue;
  box-shadow: -13px 11px 0px 0px #0079cf;
  @include mq($from: tablet, $until: desktop) {
    width: 100vw;
    height: fit-content;
    // margin: 0;
  }
  @include mq($from: mobile, $until: desktop) {
    width: 100vw;
    height: fit-content;
    // margin: 0;
  }
}
.c-blog-post__item-box {
  width: 93%;
  .c-blog-post__item--small {
    // margin-bottom: 40px;
    width: 100%;
    .c-featured-post__featured-image {
      width: 100%;
      height: 156px;
      //max-width: 264px;
      margin-bottom: 12px;
      @include mq($from: tablet) {
      }
    }
    h3 {
      color: $dark-grey;
      margin: 12px 0 24px 0;
    }
  }
  .c-blog-post__item--small:hover {
    .c-featured-post__featured-image {
      opacity: 0.6;
    }
  }
}
.c-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mq($from: mobile, $until: desktop) {
    padding-left: 25px;
    padding-right: 25px;
  }
  .o-wrapper-medium {
    width: 100%;
  }
  padding: 40px 0;

  .u-primary-heading {
    margin-top: 0;
  }
  h1 {
    @include mq($from: mobile, $until: desktop) {
      font-size: 36px;
      line-height: 42px;
    }
    max-width: 692px;
    color: $white;
    font-size: 56px;
    line-height: 62px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
  }
  .c-cta-paragraph {
    max-width: 400px;
    font-size: 20px;
    line-height: 28px;
    color: $white;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    @include mq($from: mobile, $until: desktop) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .c-cta-hyperlink-text {
    width: 342px;
    font-size: 14px;
    line-height: 28px;
    color: $white;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    margin-right: 10px;
    text-transform: uppercase;
    @include mq($from: mobile, $until: desktop) {
      font-size: 12px;
      line-height: 14px;
    }
  }
  .c-arrow-next {
    fill: $white;

    // margin-left: 5px;
  }
  .c-hyperlink {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 14px;
    line-height: 28px;
    color: $white;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      .c-arrow-next {
        fill: $highlight-yellow;
      }
      color: $highlight-yellow;
    }
    .c-arrow-next-svg {
      margin-left: 5px;
      @include mq($from: mobile, $until: desktop) {
        width: 7px;
      }
    }
  }
}

.c-events__item--small {
  margin-bottom: 40px;
  width: 31%;
  .c-featured-post__featured-image {
    width: 100%;
    height: 156px;
    //max-width: 264px;
    margin-bottom: 12px;
  }
  @include mq($from: mobile, $until: desktop) {
    width: 100%;
    // height: 276px;
  }
  h3 {
    color: $dark-blue;
    margin: 12px 0 24px 0;
  }
}
.c-events-list__row,
.c-post-list__row,
.c-card-list__row {
  @include mq($from: tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.c-section-intro {
  margin: 32px 0;

  h2 {
    margin-top: 0;
    max-width: 640px;
  }
  p {
    margin-top: 8px;
    margin-bottom: 0;
    max-width: 640px;
  }
  @include mq($from: tablet) {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }
}
.alice-carousel__stage {
  scroll-padding-left: $inuit-global-spacing-unit;
}
.alice-carousel__stage-item {
  padding-right: $gutter-width;
  @include mq($from: desktop) {
  }
}
.alice-carousel__stage-item:first-child {
  padding-left: $inuit-global-spacing-unit;
  @include mq($from: desktop) {
    padding-left: 0;
  }
}
.alice-carousel__stage-item:nth-child(3n) {
  padding-right: $gutter-width;
  @include mq($from: desktop) {
    padding-right: 0;
  }
}
.c-post-list .c-section-intro,
.c-post-list .c-view-all {
  padding: 0 $inuit-global-spacing-unit;
}
.c-post-list__col--1 {
  @include mq($from: tablet) {
    width: 70%;
    padding-right: 28px;
    border-right: 1px solid $light-grey;
  }
}

.c-post-list__col--2 {
  @include mq($from: tablet) {
    width: 30%;
    padding-left: 28px;
  }
}
.c-post-list__col {
  display: flex;
  justify-content: space-between;
}

.c-post-list__content {
  margin-bottom: 32px;
}

.c-post-list {
  position: relative;
  margin-bottom: 30px;
  .c-featured-post__text {
    max-width: 550px;
  }
}
.c-events-list {
  .c-featured-post__text {
    max-width: 550px;
  }
}
.c-events-list__content {
  margin-bottom: 32px;
}

.c-events-list__col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.c-events-box {
  background-color: $light-blue;
  padding: 25px 15px 20px 15px;
  position: relative;
  transition: all 0.4s ease-in-out;

  // max-height: 324px;
  &:hover {
    background-color: $brand-main;
    -webkit-box-shadow: -9px 9px 0px 0px $dark-blue !important;
    -moz-box-shadow: -9px 9px 0px 0px $dark-blue !important;
    box-shadow: -9px 9px 0px 0px $dark-blue;
    transition: all 0.4s ease-in-out;
    h3,
    h5,
    p {
      color: $white;
    }
    .c-topic-paragraph {
      color: $white;
    }

    h5:after {
      background-color: $brand-lighter;
    }
    .c-events-location-icon {
      fill: $white;
    }
    .c-events-calendor-icon {
      fill: $white;
    }
    .c-events-view-more {
      display: none;
    }
  }
}

.c-events-calendor-svg {
  margin-right: 10px;
  @include mq($from: mobile, $until: desktop) {
    display: none;
  }
}

.c-event-intro-text {
  display: -webkit-box;
  max-height: 70px;
  overflow: hidden;
  margin: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.c-card-list__item-box {
  width: 93%;
  .c-card-list__item {
    // border: 1px solid $light-grey;
    // margin-bottom: 32px;
    &:hover,
    &:visited:hover {
      border-color: transparent;
      h4 {
        color: $brand-main;
        //border-color: transparent;
        text-decoration: none;
      }
    }
    &:focus {
      border-color: transparent;
    }

    @include mq($from: tablet) {
      width: 100%;
    }
  }
}

.c-card-list__pdf-container {
  width: 100%;
  height: 148px;
  background-color: $light-blue;
  margin-right: $spacing-huge;
  overflow: hidden;
  position: relative;
  .c-card-list__pdf-preview {
    max-width: 192px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 24px;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
  }
  .ReactPDF__Page__canvas {
    //max-width: 192px;
    width: 100% !important;
    height: auto !important;
  }
}

.c-card-list__text {
  // padding: $spacing;
  width: 100%;
  height: calc(100% - 148px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    margin: 8px 0 0 0;
  }

  // .c-featured-post__intro {
  //   font-size: 15px;
  // }
}
.c-card-list {
  margin-bottom: 30px;
  position: relative;
}

.c-topic-card-list {
  margin-bottom: 48px;

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: -12px;
    padding: 0;
  }
}
.c-topic-card-list__item {
  width: 100%;
  margin: 12px;
  padding: 24px;
  background-color: $light-blue;
  // border: 1px solid $light-grey;
  &:hover {
    background-color: $brand-main;
    -webkit-box-shadow: -9px 9px 0px 0px $dark-blue !important;
    -moz-box-shadow: -9px 9px 0px 0px $dark-blue !important;
    box-shadow: -9px 9px 0px 0px $dark-blue;
    transition: box-shadow 0.4s ease-in-out;
    h2 {
      color: $white;
    }
    .c-topic-paragraph {
      color: $white;
    }
    .c-topic__date {
      color: $white;
    }
  }

  h2 {
    margin: 0;
    text-transform: uppercase;
    color: $dark-blue;
  }
  .c-topic-paragraph {
    color: $dark-blue;
  }
  .c-topic-card-list__item-text {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  @include mq($from: tablet) {
    width: 30%;
    margin: 12px;
  }
}

.c-topic__date {
  display: flex;
  align-items: flex-end;
  color: $mid-grey;
  margin-bottom: 0px;
  color: $mid-grey;
}

.c-carousel-dots-active {
  width: 10px;
  height: 10px;
  background-color: $brand-main;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 5px;
  @include mq($from: mobile, $until: desktop) {
    display: none;
  }
}
.c-carousel-dots-deactivated {
  width: 10px;
  height: 10px;
  background-color: #b3d7f1;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 5px;
  @include mq($from: mobile, $until: desktop) {
    display: none;
  }
}

.c-partner-btn {
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  padding: 8px 16px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  &:hover {
    background-color: $highlight-yellow;
    border: none;
    color: #333333;
    cursor: pointer;
  }
}

.c-view-all {
  position: absolute;
  bottom: 5px;
}
.c-view-more {
  position: absolute;
  right: 15px;
  bottom: 19px;
  @include mq($from: tablet, $until: desktop) {
    display: none;
  }
  @include mq($from: mobile, $until: desktop) {
    display: none;
  }
}

.u-hidden-mobile {
  @include mq($from: mobile, $until: desktop) {
    display: none;
  }
}
.u-side-padding-mobile {
  @include mq($from: mobile, $until: desktop) {
    padding: 0 $spacing;
  }
}
