.c-article {
  &.c-article__lead {
    color: $black;
    //max-width: 950px;
    //margin-top: 0;
    margin-bottom: $spacing-large;
    //@include inuit-font-size($font-size-normal, $line-height-large );
    padding: 0;
    font-size: $font-size-small;

    @include mq($from: tablet) {
      padding-left: 0;
    }
    @include mq($from: tablet) {
      //@include inuit-font-size($font-size-large, $line-height-large );
    }
  }
  &__container {
    font-family: $font-sans;
    padding: $spacing $spacing-large;
    p {
      font-size: $font-size-small;
      line-height: 30px;
    }
    .c-article-sidebar {
      margin: $spacing 0;
      &__item {
        border-bottom: 1px solid $border-grey;
        margin-bottom: 36px;
        padding-bottom: $spacing;
        h2 {
          margin: 0 0 16px 0;
        }
        p,
        strong {
          font-size: $font-size-tiny;
          line-height: 1.5;

          margin: 0;
        }
        .author {
          margin-bottom: $spacing;
        }
      }
    }
    .publication-preview {
      padding: 32px;
      border: 1px solid $brand-main;
      margin-bottom: $spacing-huge;
      .tabs {
        display: flex;
        border-bottom: 1px solid $border-grey;
        .tab-header {
          color: $black;
          font-weight: bold;
          border-bottom: 4px solid transparent;
          margin-right: $spacing;
          padding-bottom: $spacing-small;
          transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
          cursor: pointer;
          &.active,
          &:hover {
            color: $brand-main;
            border-color: $brand-main;
          }
        }
      }
      .tab {
        display: none;
        animation: 0.5s fadeIn;
        margin: $spacing-large 0 0 0;
        &.active {
          display: block;
        }
        .c-longform-grid__standard {
          padding: 0;
          // &:first-child {
          //   margin-top: $spacing;
          // }
        }
        h2 {
          font-size: $font-size-small;
          font-weight: 700;
          line-height: 30px;
          margin: $spacing-large 0 $spacing-small 0;
        }
        p.c-longform-grid__standard {
          margin: $spacing-small 0 $spacing 0;
        }
      }
    }

    .c-article_mainPoints-list {
      list-style: none;
      font-size: $font-size-small;
      line-height: 30px;
      padding-left: $spacing;
      margin: 0 0 $spacing-large 0;
      li {
        margin-bottom: $spacing;
      }
    }

    .c-article_mainPoints-firstWords {
      font-weight: 700;
    }

    .c-article_mainPoints-item {
      &:before {
        width: 10px;
        left: -20px;
        height: 2px;
      }
    }

    .c-notifications {
      margin: $spacing-large 0;
      //border-top: 1px solid $border-grey;

      &__note-item {
        display: flex;
        margin: 32px 0;
        svg {
          margin: 5px $spacing-small 5px 0px;
        }
      }

      &__label {
        //position: relative;
        //padding-left: 10px;
        font-weight: 300;
        margin: 0;
        // &:before {
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   background-image: url('/static/arrowright.svg');
        //   width: 20px;
        //   height: 20px;
        //   background-size: contain;
        //   background-position: center;
        //   background-repeat: no-repeat;
        // }
        .c-longform-grid__standard {
          padding: 0;
          margin: 0;
        }
      }
    }

    .topic {
      color: $brand-main;
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;
      border: 1px solid $brand-main;
      border-radius: 3px;
      padding: 3px 5px 4px 6px;
      display: inline-block;
      margin-right: 11px;
      margin-bottom: 11px;
    }
    .meta-row {
      display: flex;
      align-items: flex-start;
      margin-top: $spacing-small;
      .tag-label {
        padding-right: $spacing-small;
        width: 100px;
      }
      .keywords {
        width: calc(100% - 100px);
      }
      .keyword {
        display: inline-block;
        margin: 0 $spacing-tiny;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
    @include mq($from: tablet) {
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacing-huge;
      .c-article-sidebar {
        width: 240px;
      }
      .content {
        width: calc(90% - 300px);
      }
    }
  }

}

.publication-accordion {
  border-top: 1px solid $border-grey;
  margin-top: $spacing;
  p {
    font-size: $font-size-tiny;
    line-height: 26px;
  }
  .c-accordion {
    &__block {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $border-grey;
    }
    &__container {
      width: 90%;
      max-width: calc(100% - 100px);
      padding: $spacing 0;
    }
    &__title {
      font-size: 22px;
      font-weight: 700;
      line-height: 1.5;
      margin: 0;
    }
    &__content {
      max-height: 0;
      position: relative;
      overflow: hidden;
      transition: max-height 0.2s;
      &.open {
        max-height: 500px;
        transition: max-height 1s;
      }
    }
    &__arrow {
      cursor: pointer;
      padding: $spacing;
      width: 10%;
      min-width: 100px;
      text-align: center;
      transition: $global-transition;
      svg {
        transform: rotate(0deg) translateY(0);
        transition: transform 0.2s ease-in-out;
      }
      &.open {
        svg {
          transform: rotate(180deg) translateY(-6px);
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }

}
.c-article-content__meta {
  border-top: 1px solid #e6e6e6;
  //margin-bottom: $spacing-large;

  h3 {
    margin: 35px 0 24px 0;
  }
}
