.c-article-v2 {
  .c-breadcrumb--v2 {
    @include mq($from: tablet) {
      margin: 16px 0;
    }
  }

  .c-article__row {
    max-width: 1312px;
    @include mq($from: tablet) {
      display: flex;
      justify-content: space-between;
      //margin-bottom: $spacing-huge;
    }
  }

  .c-article__center {
    @include mq($from: tablet) {
      padding: 0 24px;
    }
  }

  .c-article__content {
    font-family: $font-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $v2-black;
    width: 100%;
    max-width: 752px;
    margin: 0 auto;
  }

  .c-article__lead {
    font-size: 20px;
    line-height: 1.5;
    color: $v2-black;
    max-width: 600px;
    margin: 0 auto;
    p:first-child,
    .c-article__lead--abstract p:first-child {
      margin: 0;
    }
    @include mq($from: tablet) {
      //overriding:
      padding: 0;
    }
  }

  .c-notifications {
    max-width: 600px;
    margin: 0 auto;
    //border-top: 1px solid $border-grey;

    &__note-item {
      font-family: $font-sans;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.02em;
      padding: $spacing;
      margin-bottom: 32px;
    }

    &__headsUp {
      border: 1px solid $v2-lighter-grey;
    }

    &__old,
    &__updatedVersion {
      background-color: $v2-lightest-green;
    }

    &__label {
      //position: relative;
      //padding-left: 10px;
      font-weight: 300;
      margin: 0;
      // &:before {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   background-image: url('/static/arrowright.svg');
      //   width: 20px;
      //   height: 20px;
      //   background-size: contain;
      //   background-position: center;
      //   background-repeat: no-repeat;
      // }
      .c-longform-grid__standard {
        padding: 0;
        margin: 0;
      }
    }

    @include mq($from: tablet) {
      margin: 0 0 72px 0;
    }
  }

  @include mq($from: tablet) {
    margin-bottom: 160px;
  }
}

.publication-preview {
  max-width: 600px;
  margin: 0 auto;
  h3 {
    margin-bottom: 24px;
  }
  .c-article_mainPoints-list {
    font-family: $font-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    line-height: 30px;
    padding-left: 48px;
    margin: 0 0 $spacing-large 0;
    li {
      margin-bottom: $spacing;
    }
  }

  .c-article_mainPoints-firstWords {
    font-weight: 700;
  }

  .c-article_mainPoints-item {
    &:before {
      background-color: $v2-light-blue;
      width: 24px;
      left: -40px;
      top: 8px;
      height: 1px;
    }
  }
}

.c-article__additional-content {
  max-width: 600px;
  margin: 0 auto;
  clear: both;
  .c-keywords {
    margin-bottom: 64px;
    .c-keywords__list {
      margin-top: 12px;
    }
    h5 {
      font-size: 18px;
      line-height: 22px;
      text-transform: initial;
      letter-spacing: 0.02em;
      margin: 32px 0 12px 0;
    }
  }
}

.c-article {
  &__container {
    // font-family: $font-sans;
    // padding: $spacing 0;

    // @include mq($from: tablet) {
    //   padding: $spacing $spacing-huge $spacing 0;
    // }

    p {
      font-size: $font-size-small;
      line-height: 30px;
    }
    // .c-article-sidebar {
    //   margin: $spacing 0;
    //   &__item {
    //     border-bottom: 1px solid $border-grey;
    //     margin-bottom: 36px;
    //     padding-bottom: $spacing;
    //     h2 {
    //       margin: 0 0 16px 0;
    //     }
    //     p,
    //     strong {
    //       font-size: $font-size-tiny;
    //       line-height: 1.5;

    //       margin: 0;
    //     }
    //     .author {
    //       margin-bottom: $spacing;
    //     }
    //   }
    // }

    .topic {
      color: $brand-main;
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;
      border: 1px solid $brand-main;
      border-radius: 3px;
      padding: 3px 5px 4px 6px;
      display: inline-block;
      margin-right: 11px;
      margin-bottom: 11px;
    }
    .meta-row {
      display: flex;
      align-items: flex-start;
      margin-top: $spacing-small;
      .tag-label {
        padding-right: $spacing-small;
        width: 100px;
      }
      .keywords {
        width: calc(100% - 100px);
      }
      .keyword {
        display: inline-block;
        margin: 0 $spacing-tiny;
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
    @include mq($from: tablet) {
      // display: flex;
      // justify-content: space-between;
      // margin-bottom: $spacing-huge;
      .c-article-sidebar {
        width: 240px;
      }
      .content {
        width: calc(90% - 300px);
      }
    }
  }
}

.publication-accordion {
  border-top: 1px solid $border-grey;
  margin-top: $spacing;
  p {
    font-size: $font-size-tiny;
    line-height: 26px;
  }
  .c-accordion {
    &__block {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $border-grey;
    }
    &__container {
      cursor: pointer;
      width: 90%;
      max-width: calc(100% - 100px);
      padding: $spacing 0;
    }
    &__title {
      font-size: 22px;
      font-weight: 700;
      line-height: 1.5;
      margin: 0;
    }
    &__content {
      max-height: 0;
      position: relative;
      overflow: hidden;
      transition: max-height 0.2s;
      &.open {
        max-height: 500px;
        transition: max-height 1s;
      }
    }
    &__arrow {
      cursor: pointer;
      padding: $spacing;
      width: 10%;
      min-width: 100px;
      text-align: center;
      transition: $global-transition;
      svg {
        transform: rotate(0deg) translateY(0);
        transition: transform 0.2s ease-in-out;
      }
      &.open {
        svg {
          transform: rotate(180deg) translateY(-6px);
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }
}
.c-article-content__meta {
  border-top: 1px solid #e6e6e6;
  margin-bottom: 35px;

  h3 {
    margin: 35px 0 24px 0;
  }

  .c-longform-grid__standard {
    padding: 0;
  }
}
.u-side-padding {
  padding: 0 $spacing;
}
