.c-article-header-v2 {
  font-family: $font-sans;
  padding: $spacing;
  background-color: $brand-lightest;
  color: $brand-dark;

  .c-article-header__container {
    padding: 0 $spacing-large;
  }

  .pdf-preview {
    display: none;
    pointer-events: none;
    .ReactPDF__Page__canvas {
      border: 1px solid $brand-main;
      max-width: 100%;
      height: auto !important;
    }
    .ReactPDF__Page__textContent {
      visibility: hidden;
    }
  }
  &__meta {
    width: 100%;
  }
  &__intro {
    font-weight: 300;
    margin-bottom: 48px;
  }
  &__download {
    display: block;
    .button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $brand-main;
      background-color: $white;
      line-height: 30px;
      padding: $spacing-tiny $spacing-small;
      color: $brand-main;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      max-width: 200px;
      &.read-online {
        margin-top: $spacing;
        svg {
          path {
            fill: $brand-main;
          }
        }
      }
    }
    .dropdown-select {
      position: relative;
      width: 100%;
      max-width: 200px;
      .button {
        color: $white;
        background-color: $brand-main;
      }
      .other-links {
        position: absolute;
        overflow: hidden;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 3;
        border: 1px solid $brand-main;
        max-height: 0px;
        transition: max-height 0.2s ease-out 0s;
        .button {
          background-color: $white;
          border: none;
          border-bottom: 1px solid $border-grey;
          color: $brand-dark;
          font-weight: normal;
          &:hover {
            background-color: $brand-main;
            color: $white;
          }
          &:last-child {
            border: none;
          }
        }
      }
      &.open {
        .other-links {
          transition: max-height 0.2s ease-in 0s;
          max-height: 999px;
        }
      }
    }
  }
  @include mq($from: tablet) {
    padding: 72px $spacing 72px $spacing;
    .o-wrapper-section {
      display: flex;
      flex-wrap: wrap;
    }
    &__left {
      flex-grow: 1;
      padding-right: 15%;
      width: 70%;
    }
    &__download {
      display: flex;
      .dropdown-select {
        margin-right: $spacing;
      }
      .button {
        &.read-online {
          margin-top: 0;
        }
      }
    }
    .pdf-preview {
      display: block;
      width: 20%;
      max-width: 240px;
      margin-top: $spacing;
    }
  }

  .c-reader__back-button {
    font-weight: 700;
  }

  &__fullscreen-article {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    min-height: 100%;
    min-height: 100vh;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 400px;
      min-height: 100vh;
      padding: $spacing-large;
      border-right: 2px solid $border-grey;
      .u-reverse-arrow {
        display: inline-block;
        vertical-align: middle;
        margin-right: $spacing-small;
        svg {
          line {
            stroke: $brand-main;
          }
        }
        svg {
          path {
            stroke: $brand-main;
          }
        }
      }
      .socials {
        display: flex;
        margin-top: $spacing-large;
        padding: $spacing-small 0;
        border-top: 1px solid $border-grey;
        border-bottom: 1px solid $border-grey;
        .c-share-buttons {
          border-right: 1px solid $border-grey;
          padding: 0 $spacing-small 0 0;
          margin-right: $spacing-small;
        }
      }
      .fonts {
        padding: 0 0 0 $spacing-tiny;
        button {
          font-family: $font-serif;
          outline: transparent;
          border: none;
          background-color: transparent;
          color: $brand-main;
          font-size: 16px;
          border-bottom: 2px solid transparent;
          padding-top: 4px;
          margin: 0 $spacing-tiny;
          cursor: pointer;
          &.active {
            color: $black;
            border-bottom: 2px solid $black;
          }
          &.medium {
            font-size: 20px;
          }
          &.large {
            font-size: 24px;
          }
          &:hover {
            border-bottom: 2px solid $brand-main;
          }
        }
      }
      .c-article-nav-list {
        padding-left: 0;
        padding-right: 0;
        transition: none;
      }
      .c-article-nav-list__item {
        font-weight: 700;
        border: none;
        padding-left: 0;
        padding-right: 0;
        transition: none;
      }
    }
    .c-article-v2 {
      padding-left: 424px;
      margin-bottom: $spacing-huge;
      width: calc(100% - 400px);
      color: $black;
      .title {
        line-height: 1.6;
        text-align: center;
        position: relative;
        color: $brand-dark;
        font-size: 1.64em;
        font-weight: bold;
        padding-bottom: $spacing;
        margin-top: $spacing-huge;
        margin-bottom: $spacing-large;
        &:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          width: 400px;
          max-width: 80%;
          margin: 0 auto;
          border-bottom: 4px solid $brand-main;
        }
      }
      .list-bullets,
      .list-numbered {
        font-family: $font-serif;
      }
    }
    .c-textbox__container .c-longform-grid__standard {
      font-family: $font-sans;
    }
    .c-textbox__container,
    .c-article-nav-list,
    .c-table,
    .c-textbox__container,
    .c-figure__caption,
    .c-table__caption {
      font-size: inherit;
    }
    .c-article__pullQuote {
      font-size: 1.75em;
    }
    h2 {
      font-size: 1.64em;
      line-height: 1.5;
    }
    h3 {
      font-size: 1.4em;
      line-height: 1.5;
    }
    h4 {
      font-size: 1.2em;
      line-height: 1.5;
    }
    a {
      font-size: 1em;
    }
    li {
      font-size: 1em;
      a {
        font-size: inherit;
        line-height: 1.2;
      }
    }
    td {
      font-size: 1em;
      p,
      li {
        font-size: inherit;
      }
    }
    p {
      font-family: $font-serif;
      font-size: 1em;
      p,
      a {
        font-size: inherit;
      }
    }
  }
}
