.c-longform-grid,
.c-longform-grid-sub-div > div {
  @include mq($from: tablet) {
    display: grid;
    padding: 0;
    grid-template-columns: 20px auto auto auto 1fr auto auto auto 20px;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-template-columns: 1fr auto auto 1fr 620px 1fr auto auto 1fr;
  }

  @include mq($from: desktop) {
    grid-template-columns: 1fr 80px 80px 80px 620px 80px 80px 80px 1fr;
  }
}

.c-longform-grid__standard {
  padding: 0 $spacing;
  grid-column: 5 / 6;
}

.c-longform-grid__sidebar-right {
  display:none;
  @include mq($from: wide) {
    display: block;
    grid-column: 7 / 10;
  }
}

.c-longform-grid__medium {
  padding: 0 $spacing;
  grid-column: 4 / 7;
}

.c-longform-grid__large {
  padding: 0 $spacing;
  grid-column: 3 / 8;
}

.c-longform-grid__large-right {
  padding: 0 $spacing;
  grid-column: 5 / 8;
}

.c-longform-grid__larger {
  padding: 0 $spacing;
  grid-column: 2 / 9;
}

.c-longform-grid__half {
  grid-column: 4 / 7;
}

.c-longform-grid__full {
  grid-column: 1 / 10;
}
