.c-topic-page_title {
  @include inuit-font-size($font-size-normal);
  font-family: $font-sans;
  position: relative;
  color: $brand-main;
  padding: 0 0 0 ($spacing);
  margin: 0;
  text-transform: uppercase;

  &:before {
    position: absolute;
    content: '–';
    color: $brand-main;
    left: 0;

  }
}
.c-topic-page__longTitle {
  @include inuit-font-size($font-size-normal);
  font-family: $font-sans;
  margin: 0;
  color: $brand-main;

  @include mq($from: tablet) {
    @include inuit-font-size($font-size-huge);
  }
}
.c-topic-page__navigate--down {

}
