.c-lead::first-letter {
  color: $dark-grey;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $dark-grey;
  @include inuit-font-size($font-size-huge, $line-height-tiny);
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-huge * 1.2, $line-height-tiny);
  }
  font-weight: normal;
  float: left;
  margin: 0px 20px -10px 0; /* THESE VALUES SET TXT WRAP AROUND DROP CAP */
  line-height: 1; /* THIS SETS BASELINE POSITION OF DROP CAP */
}

.c-lead-and-toc {
  display: flex;
  .c-lead-and-toc__lead {
    flex: 3 1 auto;
  }
  .c-lead-and-toc__toc {
    flex: 1 1 auto;
    width: 340px;
    margin-right: -60;
    @include mq($until: tablet) {
      display: none;
    }
  }
}
