.c-table {
  overflow-x: auto;
  padding: $spacing;
  @include inuit-font-size($font-size-tiny, $line-height-normal);
  position: relative;
  background-color: $white;

  table {
    font-family: $font-sans;
    max-width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: $spacing;
    margin-bottom: 0;
  }

  th,
  td {
    border: 1px solid #e3e3e3;
    padding: $spacing-small;
  }

  thead,
  th {
    color: $brand-main;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: $lightGrey;
  }
}

.c-table__title {
  margin: 0;
  padding-left: $spacing-small;
}

.c-table__caption {
  font-family: $font-sans;
  @include inuit-font-size($font-size-small);
  color: $black;
  padding-left: $spacing-small;
  & > .c-longform-grid__standard {
    padding-left: 0;
  }
}

@media print {
  .c-table {
    overflow-x: visible;
    padding-left: 0;
    padding-right: 0;
    table {
      table-layout: fixed;
      font-size: 90%;
    }
  }
  .c-table__title,
  .c-table__caption {
    padding-left: 0;
  }
}
