.c-pdf-viewer {
}

.c-pdf-viewer-standalone {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #aaa;
  max-width: 100vw;
  max-height: 100vh;
}

.c-pdf-viewer__pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-pdf-viewer__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
