.c-chart {
}
.c-chart__title {
  font-weight: bold;
  font-family: $font-sans;
  @include inuit-font-size($font-size-tiny);
  color: $dark-grey;
  margin-bottom: $spacing-small;
  page-break-after: avoid;
}

.c-chart__content {
  padding-top: $spacing;
  svg {
    width: 100%;
    height: auto;
  }
}

.c-chart__caption {
  font-family: $font-sans;
  @include inuit-font-size($font-size-tiny);
  color: $dark-grey;
  page-break-before: avoid;

  & > .c-longform-grid__standard {
    padding-left: 0;
    padding-right: 0;
    margin-top: $spacing-small;
  }
}

.c-chart--is-loading {
  display: none;
}
.c-chart--full {
  @include mq($from: tablet) {
    padding: 0 $spacing-small;
  }
}

@media print {
  .c-chart--full {
    margin-left: -3.5cm;
    margin-right: -3.5cm;
  }
  .c-chart--wide {
    margin-left: -1.75cm;
    margin-right: -1.75cm;
  }
  .c-chart__title {
    page-break-after: avoid;
  }
  .c-chart__title,
  .c-chart__caption {
    font-size: 10pt;
  }
}
