.c-linkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  @include mq($until: tablet) {
    flex-direction: row;
  }
}

.c-linkbox {
  transition: background-color .2s ease-out;
  svg {
    transition: all .2s ease-out;
  }
  &:nth-child(3n) {
    background-color: $brand-light;
    &:hover {
      background-color: $brand-medium;
      svg {
        transform: scale(1.1);
      }
    }
  }
  &:nth-child(3n + 1) {
    background-color: $brand-main;
    margin-top: -$spacing;
    margin-bottom: $spacing;
    &:hover {
      background-color: $brand-medium;
      svg {
        transform: scale(1.1);
      }
    }
  }
  &:nth-child(3n + 2) {
    background-color: $brand-dark;
    &:hover {
      background-color: $brand-medium;
      svg {
        transform: scale(1.1);
      }
    }
  }
  @include mq($from: tablet) {
    height: auto;
  }
  @include mq($from: desktop) {
    width: 100%;
  }
  @include mq($from: wide) {
  }
  &:nth-child(odd){
    .c-linkbox__content {
      margin: 0;
    }
  }
}
.c-linkbox__content {
  color: $white;
  padding: $spacing-large;
  align-items: center;
  height: 100%;
  font-weight: 300;
  text-align: center;
  @include mq($from: wide) {
    display: flex;
    flex-direction: column;
  }
}

.c-linkbox__title {
  @include inuit-font-size($font-size-normal);
  margin-top: 0;
}

.c-linkbox__icon {
  padding: $spacing-small;
}

.c-linkbox__arrow {
  padding: $spacing;
}

.c-linkbox__body {
  flex-grow: 1;
  padding: $spacing-small;
  font-family: $font-sans;
  line-height: $line-height-normal;

  p {
    font-size: $font-size-small;
    max-width: 450px;
    color: $white-on-blue;
    margin-bottom: 0;
  }
}
