.c-top-bar {
  padding: $spacing-small $spacing;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mq($from: tablet) {
    padding: $spacing-large $spacing-huge;
    justify-content: space-between;
  }

}
a.c-top-bar__logo, a.c-top-bar__logo:visited {
  height: 50px;
  border-bottom: 0;
  margin: auto;
  @include mq($from: tablet) {
    margin: 0;
  }

  &:hover {
    border: 0;
  }
}

.c-top-bar__menu {
  list-style: none;
  display: flex;
  font-family: $font-sans;
  margin: $spacing 0 0 0;
  padding: 0;
  justify-content: center;
  @include mq($from: tablet) {
    margin: 0;
  }
}
.c-top-bar__menu--active {
  margin-top: $spacing;
  @include mq($from: tablet) {
    position: absolute;
    top: $spacing;
    right: ($spacing-huge)-20px;
    margin-left: $spacing-huge+24px;
  }
}
.c-top-bar__menu-item {
  background: $brand-medium;
  color: $white;
  @include mq($from: tablet) {
    background: none;
    padding: 0;
    border: none;
    color: $brand-main;
  }
  margin-right: $spacing;

  &:last-child {
    margin-right: 0;
  }
  button {
    border: none;
    background: none;
    margin: 0;
    appearance: normal;
    outline: inherit;
    cursor: pointer;
    padding: $spacing-small/1.4 $spacing-small;
    font-weight: 300;
    color: inherit;
    @include mq($from: tablet) {
      padding: 0;
    }
  }
}

.c-top-bar__menu-item--active {
  background-color: $white;
  color: $brand-dark;
  padding: 0;
}