.c-boxOnImage {
  min-height: 400px;
  position: relative;
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  color: $white;
  font-family: $font-sans;

  @include mq($from: wide) {
    & > * {
      max-width: 50%;
      min-width: 50%;
    }
  }
}
.c-boxOnImage__body {
  position: inherit;
  background: $brand-dark;
  margin: -$spacing-large 0 0 $spacing;
  padding: $spacing;

  @include mq($from: wide) {
    margin: 0;
    padding: $spacing-large $spacing-huge;
  }

  &:nth-of-type(3n+0) {
    background: $brand-dark;
  }
}
.c-boxOnImage__link {
  color: $brand-light;
}
.c-boxOnImage__figure {
  position: relative;
  margin: 0 $spacing-large 0 0;
  @include mq($from: wide) {
    margin: $spacing 0;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}
.c-boxOnImage__title {

}
.c-boxOnImage__subtitle {

}
.c-boxOnImage__text {

}
