.c-article-header {
}

.c-article-header__title {
  margin: $spacing-small 0 0 0;
  font-family: $font-serif;
  font-weight: 100;
  letter-spacing: 1px;
  @include inuit-font-size($font-size-large, $line-height-normal);
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-largest, $line-height-normal);
  }
}

.c-article-header__subtitle {
  margin-top: 0;
  font-family: $font-sans;
  font-weight: lighter;
  @include inuit-font-size($font-size-normal, $line-height-normal);
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-large, $line-height-normal);
  }
}

.c-article-header__meta {
  font-family: $font-sans;
  font-weight: 300;
  @include inuit-font-size($font-size-tiny);
  padding-bottom: $spacing-small;
}

.c-article-header__meta-uppercase {
  text-transform: uppercase;
}

.c-article-header__link-item {
  margin-right: $spacing-tiny;
  &:after {
    content: ',';
    display: inline-block;
  }
  &:last-child:after {
    display: none;
  }
}

.c-article-header__button {
  text-transform: uppercase;
  font-family: $font-sans;
  font-weight: 100;
  padding: $spacing 0;
  color: $white;
  padding: $spacing*0.7 $spacing;
  margin-bottom: $spacing;
  background-color: $brand-main;
  border-bottom: 0;
  display: inline-flex;
  align-items: center;

  &:hover {
    background-color: $brand-medium;
  }
}
.c-article-header__button-text {
  color: $white;
}

.c-article-header__download {
  display: block;
  margin-bottom: $spacing-large;
  padding-left: 0;
  padding-bottom: 0;

  &:hover {
    .c-article-header__download-text {
      border: none;
    }
    .c-article-header__download-icon {
      transform: translateY(3px);
    }
  }
}
.c-article-header__download-text {
  font-family: $font-sans;
  span {
    padding-bottom: 0.05em;
    border-bottom: 1px solid rgba(0, 121, 207, 0.5);
  }
  border: none;
}
.c-article-header__download-icon {
  width: 20px;
  height: 20px;
  fill: $white;
  margin-bottom: -4px;
  margin-left: $spacing;
  transition: transform .2s ease-out;
}

a.c-article-header__button, a.c-article-header__button:hover, a.c-article-header__button:visited, a.c-article-header__button:active, {
  border-bottom: 0;
}


.c-article-header__button-icon {
  padding-left: $spacing;
  svg {
    width: 14px;
  }
  path {
    fill: $white;
  }
}
