.c-glossary {
  &.u-detail--blue {
    padding-top: 0;
    padding-bottom: 0;
  }
  .c-longform-grid__standard {
    @include mq($until: tablet) {
      padding: 0;
    }
    margin: 0;
    font-size: $font-size-tiny;
    line-height: 24px;
    color: black;
  }
}

.c-glossary__alphabet-nav {
  @include mq($until: tablet) {
    flex-wrap: wrap;
    justify-content: center;
  }
  margin-top: 48px;
  margin-bottom: 40px;
  display: flex;
}

.c-glossary__letter {
  @include mq($until: tablet) {
    padding: 10px;
  }
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  padding: 5px;
  font-size: $font-size-normal;
  line-height: $line-height-tiny;
  color: rgba(22, 32, 99, 0.45);
  cursor: pointer;
  &:hover {
    color: $dark-blue;
  }
}

.c-glossary__letter.active.u-detail--blue {
  color: $dark-blue;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  &:after {
    @include mq($until: tablet) {
      top: 40px;
    }
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    height: 3px;
    width: 23px;
    margin: 0 -11px;
    max-width: 100%;
    background-color: $highlight-blue;
  }
  // }
}
.c-glossary__title {
  color: $dark-blue;
  font-weight: bolder;
  margin-bottom: $spacing-large;
  @include inuit-font-size($font-size-largest, $line-height-tiny);
}

.c-glossary__terms {
  @include mq($from: desktop) {
    display: grid;
    width: 75%;
    grid-template-columns: 300px auto;
    grid-column-gap: $spacing-large;
    border-top: solid 1px rgba(111, 111, 111, 0.5);
  }
}

.c-glossary__terms-term {
  margin: 0;
  font-family: $font-sans;
  font-weight: bold;
  @include inuit-font-size($font-size-normal, $line-height-normal);
  @include mq($from: tablet) {
    margin: $spacing-large 0;
  }
}

.c-glossary__terms-definition {
  font-family: $font-sans;
  color: $dark-blue;
  margin: $spacing-tiny 0 $spacing-large;
  @include inuit-font-size($font-size-small, $line-height-large);
  @include mq($from: tablet) {
    margin: $spacing-large 0;
  }
}
