.c-partner-promo {
}

.c-partner-promo__wrapper {
  @include mq($from: tablet) {
    display: flex;
    flex-wrap:nowrap;
  }
}

.c-partner-promo__title {
  color: $brand-dark;
  margin: $spacing-small $spacing-small $spacing-large;
  @include inuit-font-size($font-size-normal, $line-height-large );
  @include mq($from: tablet) {
    margin: $spacing-huge;
    @include inuit-font-size($font-size-large, $line-height-large );
  }
}

.c-partner-promo__cta {
  margin: $spacing auto;
  @include inuit-font-size($font-size-normal, 1.5em);
  text-align: center;
  max-width: 700px;
  color: $brand-dark;
  @include mq($from: tablet) {
    margin: $spacing-huge auto;
  }
  a {
    border: none;
  }
  svg {
    transition: transform .2s ease-out;
  }
  &:hover {
    svg {
      transform: translateX(10px);
    }
  }
}

.c-partner-promo__statement {
  font-weight: 300;
  @include mq($from: tablet) {
    display: flex;
    align-items: flex-start;
  }
}

.c-partner-promo__statement-icon {
  height: auto;
  vertical-align: top;
  margin-top: $spacing-small;
  width: 50px;
  @include mq($from: tablet) {
    width: 70px;
    margin-top: $spacing;
    margin-right: $spacing;
  }
}

.c-partner-promo__statement-title {
  @include inuit-font-size($font-size-small, $line-height-normal );
  margin-top: $spacing;
  margin-bottom: 0;
  color: $white;
}

.c-partner-promo__statement-body {
  @include inuit-font-size($font-size-tiny, $line-height-normal );
  margin-top: $spacing-small;
  max-width: 550px;
  color: $white-on-blue;
  margin-bottom: $spacing;
  @include mq($from: tablet) {
    margin-bottom: $spacing-large;
  }
}