.c-introduction-text {
  color: $brand-main;
  font-family: $font-sans;
  text-align: center;
  padding: 0 50px;
  @include inuit-font-size($font-size-normal, $line-height-normal );
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-normal, $line-height-large);
    padding: 0 85px;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}
