.c-menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
  background: $brand-dark;
  box-shadow: 0 0 30px 0 rgba(black, 0.3);
  color: $white;
  font-family: $font-sans;
  font-weight: 300;
  animation: toggle 0.3s ease-out;
  padding: $spacing;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  @include mq($from: tablet) {
    width: 40%;
    width: 40vw;
    padding: $spacing $spacing-large;
  }
  @include mq($from: wide) {
    padding: $spacing-large $spacing-huge;
  }
}

.c-menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  height: 100%;
  z-index: 2;
  border: 0;
  background: rgba($brand-dark, .5);
  animation: fadeIn .2s ease-out;
}

.c-menu__heading {
  @include inuit-font-size(14px, $line-height-tiny);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
  margin-top: $spacing-large;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba($white, .7);
  }
}

.c-menu__heading-bg {
  display: inline-block;
  background: $brand-dark;
  z-index: 1;
  position: relative;
  padding-right: $spacing-small;
}

.c-menu__list {
  list-style: none;
  margin: $spacing-small 0 0;
  padding: 0;
  @include inuit-font-size(14px, $line-height-large)
}

@keyframes toggle {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

.c-menu__clean-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: $brand-main;
  margin: $spacing-small 0 0 0;
  padding: 0;
}

.c-menu__arrowdown {
  transform: rotate(90deg);
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
}

.c-menu__arrowdown--flipped {
  transform: rotate(-90deg);
}

.c-menu__link, .c-menu__link:visited {
  color: $white;
  border: none;

  &:hover {
    color: $brand-lighter;
  }
}

.c-menu__links--round {
  display: flex;
  margin-top: $spacing-large;
  &:first-child {
    margin-right: $spacing;
  }
}
.c-menu__link-round, .c-menu__link-round:visited {
  margin: $spacing-tiny;
  border: 1px solid $white;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  @include inuit-font-size(14px, $line-height-tiny);
  color: $white;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $brand-light;
    color: $brand-lighter;
  }
}