.c-article-nav-list {
  margin: 0;
  padding: $spacing $spacing-small 0 $spacing;
  @include inuit-font-size($font-size-tiny, $font-size-normal);
  font-family: $font-sans;
  transition: all 1s linear;
  list-style: none;
  .c-article-nav-list__item:first-child {
    padding-top: $spacing;
  }
  .c-article-nav-list__item {
    border-left: 1px solid rgba($grey, 0.35);
    padding-left: $spacing;
    padding-bottom: $spacing;
    transition: all 0.2s ease-out;
    a {
      border-bottom: none;
      color: $black;
    }
    a:hover {
      border-bottom: 1px solid $black;
    }
  }
  .c-article-nav-list__item--scrolled-past,
  .c-article-nav-list__item--selected {
    border-left: 1px solid $black;
  }
  .c-article-nav-list__item--selected > a {
    font-weight: bolder;
    color: $brand-medium;
  }
}

.c-article-nav-list--inner {
  margin: 0;
  padding: 0;
  @include mq($until: tablet) {
    display: none;
  }
  .c-article-nav-list__item {
    border-left: none;
  }
  .c-article-nav-list__item:last-child {
    padding-bottom: 0;
  }
}
.c-article-nav-list__item--selected {
  .c-article-nav-list--inner {
    @include mq($until: tablet) {
      display: block;
    }
  }
}

.c-article-nav-list__arrowup {
  margin-top: $spacing;
  margin-left: $spacing-small+8px;
  opacity: 0.3;
}
.c-article-nav-list__arrowdown {
  margin-left: $spacing-small+8px;
  svg {
    transform: rotate(180deg);
  }
}

.c-article-nav-fullscreen {
  margin: 0;
  opacity: 0;
  display: none;
}

@keyframes fullscreenopener {
  1%,
  100% {
    display: block;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.c-article-nav-fullscreen--open {
  background: $brand-lightest;
  min-height: 100vh;
  z-index: 3;
  opacity: 1;
  display: block;
  animation: fullscreenopener 0.9s ease-out;
}

.c-article-nav-fullscreen-button {
  position: fixed;
  z-index: 2;
  right: 10px;
  bottom: 10px;
  border: 0;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: $brand-dark;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(black, 0.4);
  img {
    vertical-align: text-bottom;
    max-width: 30px;
  }
  @include mq($until: 1300px) {
    display: block;
  }
  @include mq($from: 1300px) {
    display: none;
  }
}

.c-article-nav-sidebar {
  padding: 0 $spacing;
  position: fixed;
  display: block;
  max-width: 300px;
  top: $spacing-large;
  bottom: 0;
  right: 0;
  height: calc(100%-$spacing-large);
  padding-bottom: $spacing-large;
  overflow-y: auto;
  align-items: center;
  @include mq($until: 1300px) {
    display: none;
  }
}
