.c-persons {
  margin: $spacing 0;
  @include mq($from: tablet) {
    display: flex;
    justify-content: space-between;
    margin: $spacing-huge 0;
  }
}

.c-persons__profile {
  margin: 0;
  @include mq($from: tablet) {
    width: 40%;
  }
  img {
    width: 100%;
  }
}

.c-persons__bio {
  font-family: $font-sans;
  color: $brand-dark;
  margin: 0;
  @include inuit-font-size($font-size-small, $line-height-large); 
  @include mq($from: tablet) {
    width: 52%;
  }
}

.c-persons__profile-name {
  margin-top: $spacing;
  color: $brand-dark;
  font-weight: bolder;
  @include inuit-font-size($font-size-largest, $line-height-tiny);
}

.c-persons__profile-position {
  margin: $spacing-tiny 0 $spacing;
  font-family: $font-sans;
  color: $brand-main;
  text-transform: uppercase;
  font-weight: bold;
  @include inuit-font-size($font-size-tiny, $line-height-normal);
}

.c-persons__profile-info {
  margin-top: $spacing-tiny;
  font-family: $font-sans;
  color: $brand-main;
  @include inuit-font-size($font-size-tiny, $line-height-large);
}

.c-persons__some-icon {
  border-bottom: none;
  height: 20px;
  width: 20px;
  margin-right: $spacing-tiny;
  margin-bottom: -4px;
  path,
  polygon {
    fill: $brand-dark;
  }
}

.c-person-basic {
  font-family: $font-sans;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
  p {
    margin: 0 0 4px 0;
  }
  @include mq($from: tablet) {
    align-items: center;
  }
}

.c-person-basic__item-body-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 98px;
  border-radius: 50%;
  min-height: 98px;
  margin-right: 40px;
  @include mq($from: tablet) {
    min-height: 98px;
  }
}

.c-person-basic__item-title--name {
  font-weight: 700;
}

.c-person-basic--contact {
}
