.c-breadcrumb {
  font-family: $font-sans;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  font-weight: 600;
}
.c-breadcrumb__link {
  @include mq($from: tablet) {
    margin-left: $spacing-huge;
  }
}
.c-breadcrumb__link svg {
  transform: rotate(180deg);
  vertical-align:middle;
  margin-right:$spacing-small;
}
.c-breadcrumb-inner {
  padding:8px 0;
}
.c-breadcrumb:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  background: $light-grey;
}
.c-breadcrumb:before {
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background: $light-grey;
}
