.c-longform-grid,
.c-longform-grid-sub-div > div {
  @include mq($from: tablet) {
    display: grid;
    padding: 0;
    grid-template-columns: 20px auto auto auto 1fr auto auto auto 20px;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-template-columns: 1fr auto auto 1fr 620px 1fr auto auto 1fr;
  }

  @include mq($from: desktop) {
    grid-template-columns: 1fr 80px 80px 80px 620px 80px 80px 80px 1fr;
  }
}

.c-longform-grid__standard {
  padding: $spacing-small;
  grid-column: 5 / 6;
}

.c-longform-grid__sidebar-right {
  padding: $spacing-small;
  grid-column: 8 / 10;
}

.c-longform-grid__medium {
  padding: $spacing-small;
  grid-column: 4 / 7;
}

.c-longform-grid__large {
  padding: $spacing-small;
  grid-column: 3 / 8;
}

.c-longform-grid__large-right {
  padding: $spacing-small;
  grid-column: 5 / 8;
}

.c-longform-grid__larger {
  padding: $spacing-small;
  grid-column: 2 / 9;
}

.c-longform-grid__full {
  grid-column: 1 / 10;
}
