.c-select {
  @include mq($from: desktop) {
    background: url('/public/arrowDown.svg') no-repeat;
    background-position: 90% center;
    background-color: $light-grey;
  }
  background-color: $light-grey;
  border: none;
  color: $dark-blue;
  width: 100%;
  padding: 5px 35px 5px 15px;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  &:focus,
  :focus-visible {
    outline: none;
  }
  .c-select__option {
    color: $dark-blue;
  }
}
.c-select.expanded {
  background: url('/public/arrowUp.svg') no-repeat;
  background-position: 90% center;
  background-color: $light-grey;
  &:focus {
    border: none;
    outline: none;
  }
  &:focus-visible {
    border: none;
    outline: none;
  }
}
/* CAUTION: IE hackery ahead */
.c-select::-ms-expand {
  display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
  .c-select {
    background: none\9;
    padding: 5px\9;
  }
}

.c-select__full-width-mobile {
  width: 100%;
  @include mq($from: desktop) {
    width: auto;
  }
}
