.c-article-nav {
  padding: $spacing 0;
  @include inuit-font-size($font-size-small);
  font-family: $font-sans;
  transition: all 1s linear;
  ul {
    padding-left: 0;
  }
  .c-article-nav__item {
    padding: 5px 0 5px 10px;
    border-left: 3px solid lightgrey;
  }
  .c-article-nav__sub-list {
    padding-left: 25px;
  }
  .is-selected-parent .c-article-nav__sub-list {
    padding-left: 0;
    display: block;
  }
  .c-article-nav__sub-list {
    display: none;
  }
  li.is-selected {
    border-left: 3px solid $brand-main;
  }
  @include mq($until: desktop) {
    display: none;
  }
  @include mq($from: desktop) {
    display: block;
  }
}

.c-article-nav--fixed {
  position: fixed;
  width: 250px;
  top: 200px;
}
