.c-search-results {

}

.c-search-results__topbar {
  color: $brand-dark;
  margin: $spacing-large 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $font-sans;
  @include inuit-font-size($font-size-tiny, $line-height-normal );
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-tiny, $line-height-normal );
  }
}

.c-search-results__topbar-result {
  padding: 0;
  margin: 0;
  @include inuit-font-size($font-size-tiny, $line-height-small );
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-tiny, $line-height-normal);
  }
}

.c-search-results__topbar-select {
  background: url('/static/arrowdown.svg') no-repeat;
  background-position: center right;
  border: 1px solid $brand-dark;
  border-radius: 0;
  box-shadow: 1px 1px 1px 1px rgba($black, .1);
  color: $brand-dark;
  width: 150px;
  margin-left: $spacing-small;
  padding: 5px 25px 5px 5px;
  font-size: 16px;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* CAUTION: IE hackery ahead */
.c-search-results__topbar-select::-ms-expand {
    display: none; /* remove default arrow on ie10 and ie11 */
}
.c-search-results__topbar-filter{
  color: red;
  @include mq($from: desktop) {
    display: none;
  }
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .c-search-results__topbar-select {
        background:none\9;
        padding: 5px\9;
    }
}


.c-search-results__content {
  margin-left: 0;
  padding-left: 0;
}

.c-search-results__items {
  list-style-type: none;
  color: $brand-dark;
  font-family: $font-sans;
  margin: $spacing 0;
  border-bottom: none;
  @include mq($from: tablet) {
    margin: $spacing-large 0;
  }
}

.c-search-results__items-type {
  text-transform: uppercase;
  font-weight: lighter;
  @include inuit-font-size($font-size-tiny, $line-height-tiny);
}

.c-search-results__items-date {
  @include inuit-font-size($font-size-tiny, $line-height-tiny);
  float: right;
}

.c-search-results__items-title {
  font-weight: bold;
  @include inuit-font-size($font-size-normal, $line-height-normal );
  border-bottom: none;

}
.c-search-results__items-subtitle {
  @include inuit-font-size($font-size-small, $line-height-small);
  font-family: $font-serif;
}
