.c-toggle-block {
  background-color: $lightest-grey;
  max-width: 691px;
  margin-bottom: 8px;

  a,
  .c-longform-grid__standard a {
    color: $blue-on-bg;
  }
}

.c-toggle-block__h {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px 12px 12px;
}

.c-toggle-block__icon {
  transform: rotate(0deg);
  transition: $global-transition--longer;
}

.c-toggle-block--icon--active {
  transform: rotate(-180deg);
  transform-origin: center;
  transition: $global-transition--longer;
}

.c-toggle-block__content {
  padding: 0 24px 24px 12px;

  .c-longform-grid__standard {
    // font-size: 12px;
    // line-height: 16px;
    margin: 24px 0;
  }
}
