.c-person__item {
  @include mq($from: tablet) {
    width: 50%;
  }
  @include mq($from: desktop) {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
  }
}
.c-person__item--light {
  min-height: 380px;
  @include mq($from: tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    min-height: 280px;
  }
  @include mq($from: desktop) {
    min-height: 350px;

  }
}


.c-person__item-body {
  padding: $spacing-large;
  font-weight: 300;
  font-family: $font-sans;

  @include mq($from: desktop) {
    width: 100%;
  }

  a {
    color: $brand-lighter;
  }
}
.c-person__item-body--small {
  @include mq($from: desktop) {
    width: 100%;
  }
}
.c-person__item-body--noimg {
  background: transparent;
  margin: $spacing-small;
  border: 4px solid rgba($brand-medium, .1);
  color: $brand-dark;
  display: block;
  padding-bottom: $spacing-large;
  a {
    color: $brand-dark;
    display: inline-block;
  }
}
.c-person__item-body--apply {
  border: none;
  padding: $spacing;
  color: $brand-dark;
}



.c-person__item-figure {
  position: relative;
  margin: 0;
  display: block;
  @include mq($from: tablet) {
    display: none;
    max-width: 50%;
    min-width: 50%;
  }
}
.c-person__item-title {
  margin: 0;
}
.c-person__item-title--apply {
  @include inuit-font-size($font-size-huge, $line-height-small);
  margin-top: 0;
}
.c-person__item-subtitle {
  @include inuit-font-size(14px);
  text-transform: uppercase;
  font-weight: 400;
  margin-top: $spacing;
  display: inline-block;
}
.c-person__item-meta {
  margin-bottom: $spacing;
  @include inuit-font-size($font-size-tiny);
}
.c-person__item-link {
  margin-right: $spacing-small;
  display: inline-block;
  @include inuit-font-size($font-size-tiny);
}