.c-toggle-block__item {
  margin-bottom: $spacing-small;
}
.c-toggle-block__title--print {
  display: block;
}
.c-toggle-block__title {
  @include inuit-font-size($font-size-large, $font-size-larger);
  font-family: $font-sans;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction:row;
  text-align: left;
  cursor: pointer;
  color: $dark-blue;

  &:hover {
    color: $brand-main;
  }
}
.c-toggle-block__title-text {
  margin-left: $spacing-small;
}
.c-toggle-block__content {
  animation: fadeIn .5s;
}
.c-toggle-block--icon .c-btn--icon {
  transform: rotate(-90deg);
  transition: transform .2s ease-out;
}
.c-toggle-block--icon--active .c-btn--icon {
  transform: rotate(0deg);
  transform-origin: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}