.c-partnerAgencies {
  padding-bottom:45px;
}
.c-partnerAgencies__list {
  padding-top:30px;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  @include mq($from: tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mq($from: desktop) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.c-partnerAgencies__item {
  text-align: center;
  a {
    color: $dark-blue;
    border: none;
  }
  svg {
    max-width: 100%;
    max-height: 60px;
  }
  svg,
  path {
    fill: $dark-grey;
  }
  #Fill-144 {
    fill: #ffffff;
  }
  #Group-21,
  #Group-141 {
    svg,
    path,
    polygon {
      fill: $dark-grey;
    }
  }
  polygon#Shape {
    fill: $dark-grey;
  }
}
