.c-input {
  margin-bottom:14px;
  display: grid;
  grid-template-columns: 16px auto;
  label{
      margin-left: 14px;
  }
  input {
    margin-top: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    display: inline-block;
    position: relative;
    border: 1px solid $brand-dark;
  }

  input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    border-radius: 2px;
    &:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    &:checked {
      background: $brand-dark;
      color: $white;

      &:after {
        content: '\2713';
        font-size: 14px;
        position: absolute;
        top: -1px;
        left: 1px;
        color: $brand-lightest;
        }
      }
   }

  input[type="radio"] {
    width: 18px !important;
    height: 18px !important;
    border-radius: 9px;

    &:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    &:checked {
      color: $brand-dark;
      border-color: $brand-dark;

      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 9px;
        border: 2px solid $white;
        background-color: $brand-dark;
        }
      }
   }
}
