.c-topic-section__title {
  margin: $spacing-huge $spacing $spacing-large;
  @include inuit-font-size(24px, 1.3em);
  max-width: 700px;
  color: $brand-dark;
  text-align: center;
  @include mq($from: tablet) {
    margin: $spacing-huge auto $spacing-large;
    @include inuit-font-size(26px, 1.4em);
  }
}
.c-topic-section__title--large {
  margin: 0 $spacing $spacing-huge;
  clear: both;
  @include mq($from: tablet) {
    margin: $spacing-huge*2 auto;
  }
}
.c-topic-section__cta {
    @include inuit-font-size($font-size-small, 1.5em);
    text-align: center;
    max-width: 700px;
  a,
  a:hover {
      border: none;
    color: $brand-dark;
    }
  svg,
  svg path {
    transition: transform 0.2s ease-out;
    fill: $brand-dark;
  }
  &:hover {
    svg {
      transform: translateX(10px);
    }
  }
  margin: $spacing auto;
  @include mq($from: tablet) {
    margin: $spacing-large auto;
  }
}

a.c-topic-section__cta-light {
  @include inuit-font-size($font-size-small, 1.5em);
  text-align: center;
  max-width: 700px;
  color: $white;
  text-decoration: none;
  border: none;

  &:hover,
  &:visited {
    color: $white;
  }
  svg,
  svg path {
    transition: transform 0.2s ease-out;
    fill: $white;
  }
  &:hover {
    svg {
      transform: translateX(10px);
    }
  }
  margin: $spacing auto;
  @include mq($from: tablet) {
    margin: $spacing-large auto $spacing-small;
  }
}


.c-topic-section {
  padding: $spacing-large 0;
  @include mq($from: tablet) {
    padding: $spacing-huge 0;
  }
}
.c-topic-section--lightblue {
  background: $brand-lightest;
  padding: $spacing-large $spacing $spacing-large;
  @include mq($from: tablet) {
    padding: $spacing-huge 0;
  }
}
