.c-filters {
  color: $brand-dark;
  padding: 0 $spacing-small;
  display: none;
  @include mq($from: desktop) {
    display: block;
  }
}
.c-filters--standalone {
  margin-left: auto;
  margin-right: auto;
  font-family: $font-sans;
  text-align: center;
  margin-top: $spacing-huge*1.5;
  color: $brand-dark;
  margin-bottom: $spacing-large;
  @include inuit-font-size($font-size-small, $line-height-small);
}

.c-filters__item {
  font-family: $font-sans;
  padding:0;
  margin: 20px 0;
  border-top: 1px solid $brand-dark;
  @include inuit-font-size($font-size-tiny, $line-height-tiny);
}
.c-filters__item--standalone {
  background: none;
  border: none;
}
.c-filters__main-title {
  @include inuit-font-size($font-size-normal, $line-height-normal);
  font-weight: bold;
  //border-bottom: 1px solid $brand-dark;
  //padding-bottom: $spacing-small;
}
.c-filters__title {
  padding:0;
  margin: 20px 0;
  @include inuit-font-size($font-size-small, $line-height-small);
}
.c-filters__checkbox {
  margin-bottom:14px;
  display: grid;
  grid-template-columns: 16px auto;
  input {
    margin-top: 1px;
    width: 16px !important;
    height: 16px !important;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    display: inline-block;
    position: relative;
    border: 1px solid $brand-dark;

    &:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    &:checked {
      background: $brand-main;
      color: $white;
      border-color: $brand-main;

      &:after {
        content: '\2713';
        font-size: 14px;
        position: absolute;
        top: -1px;
        left: 1px;
        color: $brand-lightest;
      }
    }
  }
}
.c-filters__checkbox-label {
  margin-left: 14px;
}
.c-filters--open {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  min-height: 100vh;
  width: 100%;
  background: $white;
  z-index: 9;
  animation: slideUp 0.2s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}
.c-filters__wrapper {
  width: 83.33333%;
  margin: 0 auto;
  @include mq($from: desktop) {
    width: 100%;
  }
}

.c-filters__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $spacing 0;
  @include mq($from: desktop) {
    display: none;
  }
}

.c-filters__topbar-filter {
  background: $brand-main;
  border-radius: 0;
  border: none;
  color: $white;
  padding: 5px 15px;
  font-size: 16px;
  min-height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:hover {
    background: $brand-medium;
  }
}

.c-filters__topbar-result {
  padding: 0;
  margin: 0;
  @include inuit-font-size($font-size-tiny, $line-height-small );
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-tiny, $line-height-normal);
  }
}
