.c-search-v2 {
  order: 3;
  width: 100%;
  margin-top: $spacing-small;
  flex-grow: 2;
  @include mq($from: desktop) {
    order: 0;
    width: auto;
    margin-top: 0;
    margin-left: 24px;
    margin-right: 16px;
  }
}

.c-search-v2__label {
  width: 100%;
  display: block;
  height: 0;
  overflow: hidden;
  @include inuit-font-size($font-size-small, $line-height-normal);
  color: $dark-blue;
  margin: 0;
  font-family: $font-sans;
  font-weight: 400;
}

.c-search-v2__wrapper {
  background-color: $light-blue;
  padding-top: $spacing-huge;
  padding-bottom: $spacing;
  @include mq($from: desktop) {
    padding-bottom: $spacing-huge;
  }
}

.c-search-v2__clean-wrapper {
  padding-top: $spacing;
  padding-bottom: $spacing;
  @include mq($from: desktop) {
    padding-bottom: $spacing-large;
  }
}

.c-search-v2__content {
  border-bottom: 1px solid rgba($light-grey, 0.5);
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.c-search-v2__input {
  flex-grow: 2;
  background: transparent;
  width: 100%;
  border: 0;
  display: block;
  color: $light-grey;
  margin: 0 0;
  transition: border 0.2s ease-out;
  caret-color: $light-grey;
  font-family: $font-sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  // @include mq($from: tablet) {
  //   font-size: 20px;
  //   line-height: 1.4;
  // }

  &::placeholder {
    color: $light-grey;
    opacity: 0.5;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    text-transform: none;
    margin: 0;
  }

  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
}

.c-search-v2__button {
  border-radius: 0;
  border: none;
  padding: 4px 0;
  color: $brand-main;
  background-color: transparent;
  border-left: none;
  cursor: pointer;
  &:focus {
    border: none;
    outline: none;
  }
}

.c-main-menu {
  .c-search-v2__icon-svg {
    .c-search-v2__svg-elements {
      stroke: $white;
    }
    &:hover {
      .c-search-v2__svg-elements {
        stroke: $highlight-blue;
      }
    }
  }
}
.c-search-v2__close-icon {
  cursor: pointer;
  .c-search-v2__close-svg-elements {
    //stroke: #8a8fb0;
  }
  &:hover {
    path {
      stroke: $highlight-blue;
    }
  }
}
