.c-introduction-text{
 color: $brand-main;
 font-family: $font-sans;
 @include inuit-font-size($font-size-normal, $line-height-normal );
 @include mq($from: tablet) {
   text-align: center;
   @include inuit-font-size($font-size-normal, $line-height-large);
 }
}
