.c-article {
  word-wrap: break-word;
  @include inuit-font-size($font-size-small, $line-height-large );
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-normal, $line-height-large );
  }
}

.c-article__figure {
  margin-left: 0;
  margin-right: 0;
}

.c-article__figure-img {
  width: 100%;
}

.c-article__figure-figcaption {
  font-family: $font-sans;
  @include inuit-font-size($font-size-small);
  text-transform: uppercase;
  text-align: center;
  color: $black;
}

.c-article__nugget {
  border: 1.5px solid lightgrey;
  padding: 0.5em 2em;
  font-family: $font-sans;
  font-size: 0.8em;
  line-height: 1.5em;
}

.c-article__nugget-title {
  font-family: $font-sans;
  @include inuit-font-size($font-size-normal);
  margin-bottom: 0;
  font-weight: bold;
}

.c-article__pullQuote {
  @include inuit-font-size($font-size-normal, $line-height-large );
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-large, $line-height-large );
  }
  color: $black;
  font-style: italic;
  text-align: left;
  letter-spacing: 0.02em;
  border-top: 3px solid $black;
  border-bottom: 3px solid $black;
  padding: $spacing-large 8%;
  @include mq($from: tablet) {
    padding: $spacing-huge 8%;
  }
  margin-bottom: $spacing-large;
  margin-top: $spacing-large;
}

blockquote {
  font-family: $font-serif;
  display: flex;
  //@include inuit-font-size($font-size-normal, $line-height-large);
  font-style: italic;
  letter-spacing: 0.02em;
  font-weight: 300;
  margin: $spacing-large 0;

}

.quotation-mark{
  font-style: normal;
  font-weight: bold;
  color: $grey;
  font-size: 80px;
  @include mq($from: tablet) {
    font-size: 120px;
  }
  line-height: 0.9;
  padding-right: 3%;
}

.c-article-header__summary-for-busy-people {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid $brand-main;
}
