.c-simple-mosaic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include mq($from: tablet) {
    margin: $spacing-large auto $spacing-huge;
  }
}

.c-simple-mosaic__item,
a.c-simple-mosaic__item {
  max-width: 300px;
  width: 100%;
  margin: $spacing-small;
  padding: $spacing;
  border: 1px solid $brand-dark;
  font-family: $font-sans;
  a {
    border: none;
    color: $brand-dark;
  }
  &:hover,
  &:hover:visited {
    background: $brand-medium;
    color: $white;
  }
}
.c-simple-mosaic__meta {
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: $spacing;
}
.c-simple-mosaic__title {
  @include inuit-font-size($font-size-normal, $font-size-large);
  margin-bottom: $spacing;
}
