.c-newsletter {
  margin-bottom: $spacing-large;
  margin-top: $spacing-large;
  display: flex;
}

.c-newsletter__content {
  flex-grow: 10;
  background: $brand-lightest;
  padding: $spacing-large $spacing;
  @include mq($from: tablet) {
    //margin-left: -$spacing;
    padding: $spacing-huge*1.5 $spacing-large $spacing-huge $spacing-huge;
  }
}
.c-newsletter__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $brand-dark;
  &:hover {
    .c-newsletter__title {
      color: $brand-light;
    }
    .c-newsletter__input::placeholder {
      color: $grey;
    }
    .c-newsletter__title-arrow {
      svg path {
        fill: $brand-light;
      }
    }
  }
  & button {
    border-style: none;
    background: $brand-lightest;
  }
}
.c-newsletter__title {
  color: $brand-dark;
  margin: 0 0 $spacing-small;
  padding-bottom: $spacing-tiny;
  transition: border 0.2s ease-out;
  @include inuit-font-size($font-size-normal, $line-height-normal );
  @include mq($from: tablet) {
    padding-bottom: $spacing-small;
    @include inuit-font-size($font-size-huge/1.5, $line-height-large );
  }
}
.c-newsletter__small-title {
  padding-left: $spacing-small;
}

.c-newsletter__input {
  display: flex;
  color: $brand-dark;
  margin: 0 0 $spacing-small;
  padding-bottom: $spacing-tiny;
  transition: border 0.2s ease-out;
  @include inuit-font-size($font-size-small, $line-height-normal );
  @include mq($from: tablet) {
    padding-bottom: $spacing-small;
    @include inuit-font-size($font-size-largest/1.5, $line-height-large );
  }
  @include mq($from: desktop) {
    padding-bottom: $spacing-small;
    @include inuit-font-size($font-size-huge/1.5, $line-height-large );
  }
  border-style: none;
  background: $brand-lightest;
  width: 100%;
  font-family: $font-sans;
  padding-left: $spacing-small;
}
::placeholder {
  color: $brand-dark;
  opacity: 1;
}

.c-newsletter__title-arrow {
  padding: 0 $spacing-small $spacing-small;
  svg path {
    fill: $brand-dark;
  }
}

.c-newsletter__small-title {
  display: inline-block;
  @include inuit-font-size($font-size-tiny, $line-height-normal );
  padding-bottom: $spacing-small;
  color: $brand-dark;
  margin: 0;
  font-family: $font-sans;
  font-weight: 400;
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-small, $line-height-normal );
  }
}
.c-newsletter__to-top {
  width: 70px;
  padding: 0 $spacing;
  writing-mode: vertical-lr;
  text-align: right;
  font-family: $font-sans;
  transition: all 0.3s ease-out;
  @include mq($from: tablet) {
  }

  a {
    border: 0;
    color: $brand-dark;
    cursor: pointer;
  }
}
.c-newsletter__to-top-arrow {
  path {
    fill: $brand-dark;
  }
  writing-mode: vertical-lr;
  transform: translateY(-5px) rotate(-270deg);
  margin-bottom: $spacing-small;
  transition: transform 0.15s ease-out;
}

@supports (display: grid) {
  .c-newsletter {
    //display: grid;
    //grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  }

  .c-newsletter__content {
    //grid-column: 1 / 9;
    @include mq($from: tablet) {
      //grid-column: 1 / 10;
    }
  }
  .c-newsletter__to-top {
    //grid-column: 9 / 11;
    @include mq($from: tablet) {
      //grid-column: 10 / 11;
    }
    &:hover {
      .c-newsletter__to-top-arrow {
        transform: translateY(-10px) rotate(-90deg);
      }
    }
  }
  .c-newsletter__to-top-arrow {
    transform: rotate(-90deg);
    transition: transform 0.15s ease-out;
  }
}
