.c-team {
}
.c-team__wrapper {
  @include mq($from: tablet) {
    display: flex;
    flex-wrap:nowrap;
  }
}
.c-team__title {
  color: $brand-dark;
  margin: $spacing-small 0 $spacing-large;
  @include inuit-font-size($font-size-normal, $line-height-large );
  @include mq($from: tablet) {
    margin: 0 $spacing-huge $spacing-large;
    @include inuit-font-size($font-size-large, $line-height-large );
  }
}