.c-person__item {
  @include mq($from: desktop) {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
  @include mq($from: wide) {
    width: 33%;

  }
}
.c-person__item--light {
}


.c-person__item-body {
  padding: $spacing-small;
  font-family: $font-sans;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  display: flex;
  margin-bottom: $spacing;
  @include mq($from: tablet) {
    margin-bottom: 0;
    width: 100%;
    padding: $spacing-large $spacing;
  }
}

.c-person__item-body-img {
  background-color: $brand-lightest;
  width: 40%;
  min-height: 180px;
  background-size: cover;
  background-position:top center;
  margin-right: $spacing;
  @include mq($from: tablet) {
    width: 50%;
    min-height: 240px;
  }
  &:hover {
    border-bottom: none;
  }
}

.c-person__item-body-img--noimg {

}

.c-person__item-body-text {
  width: 60%;
  @include mq($from: tablet) {
    width: 50%;
  }
}



.c-person__item-body--small {
  @include mq($from: desktop) {
    width: 100%;
  }
}
.c-person__item-body--noimg {
}

.c-person__item-body--apply {
  border: none;
  padding: $spacing;
  color: $brand-dark;
}

.c-person__item-figure {
  position: relative;
  margin: 0;
  display: block;
  @include mq($from: tablet) {
    display: none;
    max-width: 50%;
    min-width: 50%;
  }
}
.c-person__item-title {
  margin:  0;
  color: $brand-dark;
  font-weight: bold;
  @include inuit-font-size($font-size-normal, $line-height-small );
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-large, $line-height-small );
  }
}

.c-person__item-title--apply {
  @include inuit-font-size($font-size-huge, $line-height-small);
  margin-top: 0;
}
.c-person__item-subtitle {
  @include inuit-font-size($font-size-tiny);
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  color: $brand-main;
  margin-bottom: $spacing;

}
.c-person__item-meta {
  margin-bottom: $spacing;
  @include inuit-font-size($font-size-tiny);
}
.c-person__item-link {
  margin-right: $spacing-small;
  display: inline-block;
  @include inuit-font-size($font-size-tiny);
  svg {
    transition: transform 0.2s ease-out;
    transform: translateX(0px);
    margin-left: $spacing-tiny;
    padding-top: 2px;
  }
  svg path {

    fill: currentColor;
  }
  &:hover {
    border-bottom: none;
    svg {
      transform: translateX(10px);
    }
  }
}

.c-person__team {
  margin-bottom: -36px;
  z-index: 10;
}
.c-person__team-text {
  @include inuit-font-size($font-size-small);
  color: $brand-light;
  text-align: center;
}
.c-person__team-arrow {
  svg path{
  fill: $brand-light;}
  text-align: center;
  transform: rotate(90deg) translateX(30px);

}
