.c-accordion-wrapper {
  @include mq($from: wide) {
    display: flex;
    flex-wrap: wrap;
  }
}
.c-accordion {
  > button {
      padding: $spacing-large;
      background-color: $brand-main;
      text-align: left;
      color: $white;


      &:hover,
      &:focus {
        transform: scale(1.01);
      }
  }
  &:nth-of-type(3) {
    > button {
      background-color: $brand-medium;
    }
  }
  &:nth-of-type(4) {
    > button {
      background-color: $dark-blue;
    }
  }
  @include mq($from: wide) {
    max-width: 50%;
    flex-basis: 50%;
    transition: all 400ms ease-in-out;
  }
}
.c-accordion--expanded {
  max-width: 100%;
  flex-basis: 100%;

}
.c-accordion__toggle {
  width: 100%;
  border: none;
}

.c-accordion__body {
  background: $white;
}


@keyframes appear {
  0% { background: none; }
  100% { background: white;}
}
