// Mosaic Grid Container
// Can contain 4 to 10 children

.c-mosaic {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  @include mq($from: tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
  }
  @include mq($from: desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mq($from: wide) {
    grid-template-columns: repeat(4, 1fr);
  }
 }



// Focus item
// Child 1 is a big picture child 2 is the first text-box

.c-mosaic_item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-image: url("https://images.unsplash.com/photo-1464823063530-08f10ed1a2dd?dpr=2&auto=compress,format&fit=crop&w=376&h=251&q=80&cs=tinysrgb&crop=");
  background-size:cover;
  @include mq($from: tablet) {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
  }
}

.c-mosaic_item:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  @include mq($from: tablet) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

// The grid changes according to the number of children

.c-mosaic_item {

    @include mq($from: tablet, $until: desktop) {
      //3
    &:nth-child(3):nth-last-child(1){
      grid-column: 1 / 3;
      }
      //5
    &:nth-child(5):nth-last-child(1){
      grid-column: 1 / 3;
      }
      //7
    &:nth-child(7):nth-last-child(1){
      grid-column: 1 / 3;
      }
      //8
    &:nth-child(3):nth-last-child(6){
      grid-column: 1 / 3;
      }
    &:nth-child(8):nth-last-child(1){
      grid-column: 1 / 3;
      }
      //9
    &:nth-child(7):nth-last-child(3){
      grid-column: 1 / 3;
      }
      //10
    &:nth-child(5):nth-last-child(6){
      grid-column: 1 / 3;
      }
    &:nth-child(10):nth-last-child(1){
      grid-column: 1 / 3;
      }
     }
    @include mq($from: desktop, $until: wide) {
      //3
    &:nth-child(3):nth-last-child(1){
      grid-row: 1 / 3;
      }
      //5
    &:nth-child(3):nth-last-child(3){
      grid-row: 1 / 3;
      }
    &:nth-child(5):nth-last-child(1){
      grid-column: 2 / 4;
      }
      //6
    &:nth-child(6):nth-last-child(1){
      grid-column: 2 / 4;
      }
      //8
    &:nth-child(3):nth-last-child(6){
      grid-row: 1 / 3;
      }
    &:nth-child(7):nth-last-child(2){
      grid-column: 1 / 3;
      }
      //9
    &:nth-child(9):nth-last-child(1){
      grid-column: 2 / 4;
      }
    }
    @include mq($from: wide) {
      //4
    &:nth-child(3):nth-last-child(2){
      grid-column: 3 / 5;
      }
    &:nth-child(4):nth-last-child(1){
      grid-column: 3 / 5;
      }
      //4
    &:nth-child(5):nth-last-child(1){
      grid-column: 3 / 5;
      }
      //7
    &:nth-child(3):nth-last-child(5){
      grid-column: 3 / 5;
      }
    &:nth-child(5):nth-last-child(3){
      grid-row: 2 / 4;
      }
    &:nth-child(6):nth-last-child(2){
      grid-column: 1 / 3;
      }
      //8
    &:nth-child(4):nth-last-child(5){
      grid-row: 1 / 3;
      grid-column: 4 / 5;
      }
    &:nth-child(6):nth-last-child(3){
      grid-column: 1 / 3;
      }
      //9
    &:nth-child(9):nth-last-child(1){
      grid-column: 3 / 5;
      }
    }
  }

// Variation in background color

.c-mosaic_item:nth-child(4n+2) {  /* or 4n+1 */
      background-color: $brand-dark;
      color: $white;
}
.c-mosaic_item:nth-child(4n+3) {  /* or 4n+1 */
      background-color: $brand-main;
      color: $white;
}
.c-mosaic_item:nth-child(4n+4) {  /* or 4n+1 */
      background-image: url('https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?dpr=1&auto=compress,format&fit=crop&w=1351&h=&q=80&cs=tinysrgb&crop=');
      background-size:cover;
      color: $white;
}
.c-mosaic_item:nth-child(4n+5) {  /* or 4n+1 */
      border: solid 2px $brand-dark;
      color: $brand-dark;
}

// Content inside the grid items

.c-mosaic_item-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing;
}

.c-mosaic_item-content__meta {
  font-family: $font-sans;
  font-weight: 300;
  text-transform: uppercase;
  @include inuit-font-size($font-size-tiny);
  padding-bottom: $spacing;
}
