.c-introduction-text {
  color: $brand-main;
  font-family: $font-sans;
  text-align: center;
  padding: 0 50px;

  h2 {
    line-height: 1.5;
    @include inuit-font-size($font-size-normal, $line-height-normal );
    @include mq($from: tablet) {
      @include inuit-font-size($font-size-large, $line-height-large);
      padding: 0 85px;
    }
  }
}
