.c-team {
}
.c-team__wrapper {
  @include mq($from: tablet) {
    display: flex;
    flex-wrap:nowrap;
  }
}
.c-team__title {
  @include inuit-font-size($font-size-large, $line-height-large );
  color: $brand-dark;
  margin-bottom: $spacing-huge;
}