.c-search-v2 {
  order: 3;
  width: 100%;
  margin-top: $spacing-small;
  flex-grow: 2;
  @include mq($from: desktop) {
    order: 0;
    width: auto;
    margin-top: 0;
    margin-left: 8.33333%;
    margin-right: $spacing;
  }
}

// input::placeholder {
//   color: $light-grey;
//   font-size: 12px;
//   font-weight: 400;
//   text-transform: uppercase;
//   margin: 0;

//   // &:hover {
//   //   color: #fff;
//   // }
// }
.c-search-v2__label {
  width: 100%;
  display: block;
  height: 0;
  overflow: hidden;
  @include inuit-font-size($font-size-small, $line-height-normal);
  color: $dark-blue;
  margin: 0;
  font-family: $font-sans;
  font-weight: 400;
}

.c-search-v2__wrapper {
  background-color: $light-blue;
  padding-top: $spacing-huge;
  padding-bottom: $spacing;
  @include mq($from: desktop) {
    padding-bottom: $spacing-huge;
  }
}

.c-search-v2__clean-wrapper {
  padding-top: $spacing;
  padding-bottom: $spacing;
  @include mq($from: desktop) {
    padding-bottom: $spacing-large;
  }
}

.c-search-v2__content {
  border-bottom: 1px solid $light-grey;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.c-search-v2__input {
  flex-grow: 2;
  background: transparent;
  width: 100%;
  border: 0;
  display: block;
  color: $light-grey;
  margin: 0 0;
  transition: border 0.2s ease-out;
  caret-color: $light-grey;
  font-family: $font-sans;
  @include inuit-font-size($font-size-tiny, $line-height-tiny);
  letter-spacing: 0.15em;
  @include mq($from: tablet) {
    font-size: 12px;
    line-height: 14px;
  }

  &::placeholder {
    color: $light-grey;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }

  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
}

.c-search-v2__button {
  border-radius: 0;
  border: none;
  padding: 8px;
  color: $brand-main;
  background-color: transparent;
  border-left: none;
  cursor: pointer;
  &:focus {
    border: none;
    outline: none;
  }
}

.c-search-v2__icon-svg {
  .c-search-v2__svg-elements {
    stroke: $white;
  }
  &:hover {
    .c-search-v2__svg-elements {
      stroke: $highlight-blue;
    }
  }
}
.c-search-v2__close-icon {
  cursor: pointer;
  .c-search-v2__close-svg-elements {
    stroke: #8a8fb0;
  }
  &:hover {
    .c-search-v2__close-svg-elements {
      stroke: $highlight-blue;
    }
  }
}
