.c-columns {
  font-family: $font-sans;
  @include inuit-font-size($font-size-small);
  @include mq($from: tablet) {
    display: flex;
    justify-content: center;
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
}
.c-columns--two__item {
  padding: $spacing-small;
  width: 100%;
  @include mq($from: tablet) {
    width: 50%;
    padding: $spacing;
  }
  li {
    border: none;
    color: $brand-dark;
    border-bottom: 1px solid rgba($brand-dark, .1);
    padding: $spacing-small 0;
  }
}

.c-columns__item--narrow {
  @include mq($from: tablet) {
    width: 50%;
    padding: $spacing-small;
  }
}