.c-top-bar {
  padding: $spacing-small $spacing;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include mq($from: tablet) {
    padding: $spacing-large $spacing-huge;
    max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq($from: desktop) {
    flex-wrap: nowrap;
  }
}

a.c-top-bar__logo,
a.c-top-bar__logo:visited {
  height: 50px;
  display: inline-block;
  border-bottom: 0;
  @include mq($from: tablet) {
    margin: 0;
  }
  @include mq($from: desktop) {
    width: 25%;
  }

  &:hover  {
    border: 0;
  }
}

.c-top-bar__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.c-top-bar__menu {
  color: $brand-main;
  list-style: none;
  display: flex;
  font-family: $font-sans;
  margin: $spacing-small * 0.8 0 0 0;
  padding: 0;
  justify-content: flex-end;
  @include mq($from: tablet) {
    justify-content: center;
    margin: 0;
    margin-top: $spacing-tiny;
  }
}
.c-top-bar__menu--active {
  margin-top: -$spacing-tiny;
  color: $brand-lighter;
  @include mq($from: tablet) {
    position: absolute;
    top: $spacing-large;
    right: ($spacing-huge)-8px;
    margin-left: $spacing-huge + 24px;
  }
}
.c-top-bar__menu-item {
  @include mq($from: tablet) {
    background: none;
    border: none;
    margin-right: $spacing-small;
    padding: $spacing-tiny $spacing-small;

    &:last-child {
      margin-right: 0;
    }
    button {
      &:focus {
        outline: auto;
      }
    }
  }
  button {
    letter-spacing: 0.6px;
  }
  margin-left: $spacing-small;

  button {
    border: none;
    background: none;
    margin: 0;
    appearance: normal;
    outline: inherit;
    cursor: pointer;
    font-family: $font-sans;
    font-weight: 700;
    color: inherit;
    white-space: nowrap;
    @include mq($from: tablet) {
      padding: 0;
    }
  }
}

.c-top-bar__menu-item--active {
  background: $brand-main;
  color: $white;
  //padding: $spacing-tiny;
}

.c-top-bar__menu-icon {
  margin-right: $spacing-small;
  vertical-align: middle;
}
