.c-footer {
  padding: $spacing;
  font-family: $font-sans;
  @include mq($from: tablet) {
    padding: $spacing-huge $spacing $spacing-huge $spacing-huge;
  }
}

.c-footer__wrapper {
  @include mq($from: tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.c-footer__item {
  @include mq($from: tablet) {
    width: 25%;
    display: inline-block;
  }
}

.c-footer__color-icon {
  path, polygon {
    fill: $brand-dark;
  }
}