.c-footer {
  margin-top: $spacing-large;
  padding: $spacing-large $spacing;
  font-family: $font-sans;
  border-top: 1px solid $brand-lightest;
}

.c-footer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include mq($from: tablet) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.c-footer__heading {
  font-weight: bold;
}

.c-footer__item {
  padding: $spacing-tiny;
  margin-bottom: $spacing;
  width: 50%;
  &:first-child {
    width: 100%;
  }
  @include mq($from: tablet) {
    &:first-child {
      width: auto;
    }
    padding: $spacing-small;
    width: auto;
  }
}

.c-footer__link {
  display: block;
   &:hover {
     border-bottom: none;
   }
  svg {
  }
}

.c-footer__color-icon {
  margin-bottom: $spacing;
  path, polygon {
    fill: $brand-dark;
  }
}

.c-footer__some-icon {
  border-bottom: none;
  height: 20px;
  width: 20px;
  margin-right: $spacing-tiny;
  margin-bottom: -4px;
  path, polygon {
    fill: $brand-dark;
  }
}

.c-footer {
  .c-logo__text {
    display: inline-block;
  }
}
