.c-search-v2 {
  order: 3;
  width: 100%;
  margin-top: $spacing-small;
  flex-grow: 2;
  @include mq($from: desktop) {
    order: 0;
    width: auto;
    margin-top: 0;
    margin-left: 8.33333%;
    margin-right: $spacing;
  }
}

.c-search-v2__label {
  width: 100%;
  display: block;
  height: 0;
  overflow: hidden;
  @include inuit-font-size($font-size-small, $line-height-normal);
  color: $brand-dark;
  margin: 0;
  font-family: $font-sans;
  font-weight: 400;
}

.c-search-v2__wrapper {
  background-color: $brand-lightest;
  padding-top: $spacing-huge;
  padding-bottom: $spacing;
  @include mq($from: desktop) {
    padding-bottom: $spacing-huge;
  }
}

.c-search-v2__clean-wrapper {
  padding-top: $spacing;
  padding-bottom: $spacing;
  @include mq($from: desktop) {
    padding-bottom: $spacing-large;
  }
}

.c-search-v2__content {
  border: 1px solid $brand-main;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.c-search-v2__input {
  flex-grow: 2;
  background: $white;
  width: 100%;
  border: 0;
  display: block;
  color: $black;
  margin: 0 0;
  transition: border 0.2s ease-out;
  @include inuit-font-size($font-size-tiny, $line-height-tiny);
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-small, $line-height-small);
  }

  &:hover {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
  &:focus {
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
}

.c-search-v2__button {
  border-radius: 0;
  border: none;
  padding: $spacing-small;
  color: $brand-main;
  background-color: transparent;
  border-left: none;
  cursor: pointer;
  &:focus {
    border: none;
    outline: none;
  }
}
