.headroom {
  bottom: 0;
  left: 0;
  right: 0;
  zIndex: 1;
  @include mq($from: tablet) {
    display: none;
  }
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.disable-headroom-pinning .headroom--unpinned {
  transform: translateY(0%) !important;
}
