.c-feature-list {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;

  @include mq($from: mobile, $until: desktop) {
    flex-wrap: wrap;
  }

  h2 {
    text-transform: uppercase;
    color: $white;
    margin-top: 24px;
  }

  p {
    width: 92%;
  }
}

.c-feature-list__item {
  width: 100%;
  max-width: 370px;
  @include mq($from: tablet) {
    width: 31%;
  }
}

.c-features__content {
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
  @include mq($from: tablet) {
    padding-bottom: 64px;
    padding-left: 0;
    padding-right: 0;
  }
}

.c-features__icon {
  img {
    width: 90px;
    filter: invert(0.8);
    mix-blend-mode: screen;
  }
}
