.c-linkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  @include mq($until: tablet) {
    flex-direction: column;
  }
}

.c-linkbox {
  &:nth-child(3n) {
    background-color: $brand-light;
  }
  &:nth-child(3n + 1) {
    background-color: $brand-main;
    margin-top: -$spacing;
    morgin-bottom: $spacing;
  }
  &:nth-child(3n + 2) {
    background-color: $brand-dark;
  }
  @include mq($from: tablet) {
    width: 50%;
  }
  @include mq($from: desktop) {
    height: auto;
  }
  @include mq($from: wide) {
    height: 240px;
  }
  &:nth-child(odd){
    .c-linkbox__content {
      margin: 0;
      @include mq($from: wide) {
        margin: 0 0 0 auto;
      }
    }
  }
}
.c-linkbox__content {
  color: $white;
  padding: $spacing-large;
  align-items: center;
  height: 100%;
  font-weight: 300;
  @include mq($from: wide) {
    display: flex;
    flex-direction: row;
    max-width: 70%;
  }
}

.c-linkbox__title {
  @include inuit-font-size($font-size-normal);
}

.c-linkbox__icon {
  padding: $spacing;
}

.c-linkbox__arrow {
  padding: $spacing;
}

.c-linkbox__body {
  flex-grow: 1;
  padding: $spacing-small;
  font-family: $font-sans;
  line-height: $line-height-normal;

  p {
    font-size: $font-size-tiny;
    max-width: 450px;
    color: $white-on-blue;
  }
}
