.c-hero {
  margin: 0 auto;
  margin-bottom: $spacing-large;
}
.c-hero:after {
  content: '';
  display: table;
  clear: both;
}

.c-hero-image {
  overflow: hidden;
  height: 50vh;
  width: 95%;
  background-size: cover;
  background-color: $brand-main;
  position: relative;
  z-index: -1;
  @include mq($from: tablet) {
    height: 560px;
    width: 90%;
  }
  @include mq($from: desktop) {
    width: 70%;
    height: 700px;
  }
}

.c-hero-header {
  padding: $spacing $spacing;
  color: white;
  width: 95%;
  float: right;
  background: $brand-dark;
  margin-top: -200px;

  @include mq($from: tablet) {
    padding: $spacing-large 0 0;
    //height: 560px;
    width: 95%;
  }
  @include mq($from: desktop) {
    width: 90%;
  }
  @include mq($from: wide) {
    width: 80%;
    max-width: 1400px;
  }
}

.c-article-header {
  max-width: 700px;
  margin: $spacing-tiny;
  @include mq($from: tablet) {
    margin: $spacing $spacing-large;
  }
  @include mq($from: desktop) {
    margin: $spacing $spacing-huge;
  }
}

.c-hero-sideText {
  font-family: $font-sans;
  float: left;
  text-align: right;
  writing-mode: vertical-rl;
  a {
    border: none;
    color: grey;
  }
  @include mq($from: wide) {
    writing-mode: horizontal-tb;
    max-width: 19%;
  }
}

/* no-image styles if grid not supported */
.c-hero.c-hero-no-image {
  .c-hero-image {
    display: none;
  }
  .c-hero-header {
    margin-top: 0;
  }
}

// Css grid

@supports (display: grid) {
  .c-hero {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20px auto auto auto 1fr auto auto auto 20px;
    grid-template-rows: 40vh 20vh auto;
    grid-row-gap: 10px;

    @include mq($from: tablet) {
      grid-template-columns: 1fr auto auto 1fr 620px 1fr auto auto 1fr;
    }

    @include mq($from: desktop) {
      grid-template-columns: auto 80px 80px 80px 620px 80px 80px 80px auto;
    }
  }

  .c-hero-image {
    grid-column: 1 / 7;
    grid-row: 1 / 3;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .c-hero-header {
    @include mq($from: tablet) {
      padding: 48px 0;
    }
  }

  .c-article-header {
    max-width: none;
    margin: 0;
  }

  .c-hero-bg {
    background-color: $brand-dark;
    grid-column: 4 / 10;
    grid-row: 2 / 4;
    margin-bottom: $spacing-large;
  }

  .c-hero-sideText {
    grid-column: 8 / 10;
    grid-row: 1 / 2;
    writing-mode: vertical-rl;
    @include mq($from: desktop) {
      writing-mode: vertical-rl;
      grid-column: 7 / 8;
    }
    @include mq($from: wide) {
      grid-column: 8 / 9;
    }
  }

  .c-hero-header {
    width: 100%;
    float: none;
    background: none;
    margin-top: 0;
    grid-column: 4 / 10;
    grid-row: 2 / 4;
    @include mq($from: tablet) {
      height: 100%;
      width: 100%;
      grid-column: 5 / 6;
    }
  }

  .c-hero.c-hero-no-image {
    grid-template-rows: auto;
    grid-row-gap: 0;

    .c-hero-bg {
      grid-row: 1/4;
    }
    .c-hero-header {
      grid-row: 1/4;
    }
  }
}
