.c-footer {

  padding: $spacing;
  font-family: $font-sans;
  @include mq($from: tablet) {
    padding: $spacing-large;
  }
}

.c-footer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include mq($from: tablet) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.c-footer__heading {
  font-weight: bold;
}

.c-footer__item {
  padding: $spacing-tiny;
  margin-bottom: $spacing;
  width: 50%;
  &:first-child {
    width: 100%;
  }
  a {
    border-bottom: none;
  }
  @include mq($from: tablet) {
    &:first-child {
      width: auto;
    }
    padding: $spacing-small;
    width: auto;
  }
}

.c-footer__link {
  display: block;
}

.c-footer__color-icon {
  max-width: 100%;
  min-width: 100px;
  margin-bottom: $spacing;
  float: left;
  path, polygon {
    fill: $brand-dark;
  }
}

.c-footer__some-icon {
  border-bottom: none;
  height: 20px;
  width: 20px;
  margin-right: $spacing-tiny;
  margin-bottom: -4px;
  path, polygon {
    fill: $brand-dark;
  }

}
