.c-partner-promo {
}

.c-partner-promo__wrapper {
  @include mq($from: tablet) {
    display: flex;
    flex-wrap:nowrap;
  }
}

.c-partner-promo__title {
  color: $dark-blue;
  margin: $spacing-large $spacing $spacing-large;
  @include inuit-font-size($font-size-normal, $line-height-large );
  @include mq($from: tablet) {
    margin: $spacing-large $spacing $spacing-huge $spacing-huge;
    @include inuit-font-size($font-size-large, $line-height-large );
  }
}

.c-partner-promo__cta {
  margin: $spacing auto;
  @include inuit-font-size($font-size-normal, 1.5em);
  text-align: center;
  max-width: 700px;
  color: $dark-blue;
  @include mq($from: tablet) {
    margin: $spacing-huge auto;
  }
  a {
    border: none;
    color: $dark-blue;
  }
  svg {
    path {
      fill: $dark-blue;
    }
    transition: transform .2s ease-out;
  }
  &:hover {
    a {
      color: $dark-blue;
    }
    svg {
      transform: translateX(10px);
    }
  }
}

.c-partner-promo__statement {
  font-weight: 300;
  padding: $spacing-small 0;
  @include mq($from: tablet) {
    display: flex;
    align-items: flex-start;
    padding: $spacing 0;
  }
}
.c-partner-promo__statement-link > * {
  display: inline-block;
  color: $brand-lighter;

  &:hover {
    border-bottom: 1px solid currentColor;
    margin-bottom: -1px;
  }
}

.c-partner-promo__statement-icon {
  height: auto;
  vertical-align: top;
  margin-top: $spacing-small;
  width: 50px;
  @include mq($from: tablet) {
    width: 70px;
    margin-top: 0;
    margin-right: $spacing;
  }
}

.c-partner-promo__statement-title {
  @include inuit-font-size($font-size-normal, $line-height-normal );
  margin-top: 0;
  margin-bottom: 0;
  color: $white;
}

.c-partner-promo__statement-body {
  @include inuit-font-size($font-size-small, $line-height-normal );
  margin-top: $spacing-small;
  max-width: 550px;
  color: $light-blue;
  margin-bottom: 0;
  @include mq($from: tablet) {
    margin-bottom: 0;
  }
}
