.c-search__results {
  max-height: 600px;
  overflow-y: auto;
}

.c-search-results-v2__topbar {
  color: $brand-dark;
  margin: $spacing 0 $spacing-large;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  font-family: $font-sans;
  @include inuit-font-size($font-size-tiny, $line-height-normal );
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-tiny, $line-height-normal );
    margin: $spacing-large 0;
  }
}

.c-search-results-v2__topbar-sortby{
  width: 100%;
  @include mq($from: desktop) {
    width: auto;
  }
}

.c-search-results-v2__topbar-active-filters {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing;
  @include mq($from: desktop) {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
    padding-right: $spacing-small;
  }
  li:first-child {
    padding-left: $spacing-small;
  }
  li {
    display:inline-block;
    padding-right: $spacing-small;
  }
}

.c-search-results-v2__topbar-filter{
  background: $brand-main;
  border-radius: 0;
  border: none;
  color: $white;
  padding: 5px 15px;
  font-size: 16px;
  min-height: 34px;
  margin-bottom: $spacing-small;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include mq($from: desktop) {
    display: none;
  }
  &:hover {
    background: $brand-medium;
  }
}


.c-search-results-v2__content {
  margin-left: 0;
  padding-left: 0;
}

.c-search-results-v2__items {
  list-style-type: none;
  color: $brand-dark;
  font-family: $font-sans;
  margin: $spacing-large 0;
  border-bottom: none;
  em {
  background-color: $brand-lightest;

  }
  @include mq($from: tablet) {
    margin: $spacing-huge 0;
  }
}

.c-search-results-v2__items-type {
  @include inuit-font-size($font-size-tiny, $line-height-tiny);
}

.c-search-results-v2__items-date {
  @include inuit-font-size($font-size-tiny, $line-height-tiny);
}

.c-search-results-v2__items-title {
  hyphens: none;
  font-weight: bold;
  @include inuit-font-size($font-size-normal, $line-height-normal );
  border-bottom: none;

}
.c-search-results-v2__items-subtitle {
  @include inuit-font-size($font-size-small, $line-height-small);
  font-family: $font-serif;
}
.c-search-results-v2__items-tab {
  @include inuit-font-size($font-size-tiny, $line-height-tiny);
  background-color: $lightGrey;
  display: inline-block;
  padding: $spacing-tiny $spacing-small;
  margin-right: $spacing-small;
  margin-bottom: $spacing-small;
  border-radius: 4px;
}

.c-search-results-v2__glossary {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding:  $spacing;
  @include mq($from: tablet) {
    padding:  $spacing-large;
  }

}
.c-search-results-v2__topic {
  padding-left: $spacing-small;
  border-left: $spacing-small solid $brand-lightest;
  @include mq($from: tablet) {
    padding-left:  $spacing;
    border-left-width: $spacing;
  }
}

.c-search-results-v2__topic-wrapper {
  display: flex;
}
.c-search-results-v2__topic-img {
  display: none;
  @include mq($from: tablet) {
    display: block;
    width: 30%;
    padding-right: $spacing;
    padding-top: $spacing-small;
    img {
    width:100%;
  	height:100%;
    min-height: 200px;
    object-fit: cover;
    }
  }
}
.c-search-results-v2__topic-content {
  @include mq($from: tablet) {
    padding-bottom: $spacing;
    width: 70%;
  }
}

.c-search-results-v2__topic-point {
  display: flex;
  align-items: center;
  padding: $spacing-tiny 0;
  svg {
    margin-right: $spacing-small;
  }
}
