.c-logo {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  @include mq($from: tablet) {
    margin-bottom: $spacing-large;
    max-width: 250px;
  }
}
.c-logo--center {
  text-align: center;
}