.c-duo__item {
  border-bottom: 1px solid $brand-lighter;
  padding-bottom: $spacing;
}
.c-duo__link {
  border: none;
}
.c-duo__title {
  @include inuit-font-size($font-size-normal, $font-size-large)
}