.c-top-bar {
  padding: $spacing-small $spacing;
  @include mq($from: tablet) {
    padding: $spacing-large $spacing-huge;
  }

}
a.c-top-bar__logo, a.c-top-bar__logo:visited {
  height: 50px;
  border-bottom: 0;

  &:hover {
    border: 0;
  }
}
