.c-filters-v2 {
  color: $dark-blue;
  padding: 0 $spacing;
  display: none;
  @include mq($from: tablet) {
    padding: 0 $spacing-huge;
  }
  @include mq($from: desktop) {
    display: block;
    padding: 0;
  }
}

.c-filters-v2__clear-all {
  padding-bottom: $spacing;
  min-height: 45px;
  text-align: right;
}

.c-filters-v2--standalone {
  margin-left: auto;
  margin-right: auto;
  font-family: $font-sans;
  text-align: center;
  margin-top: $spacing-huge * 1.5;
  color: $dark-blue;
  margin-bottom: $spacing-large;
  @include inuit-font-size($font-size-small, $line-height-small);
}

.c-filters-v2__item {
  font-family: $font-sans;
  padding: 0;
  margin: $spacing-large 0;
  @include inuit-font-size($font-size-tiny, $line-height-tiny);
}

.c-filters-v2__item--standalone {
  background: none;
  border: none;
}

.c-filters-v2__main-title {
  @include inuit-font-size($font-size-normal, $line-height-normal);
  font-weight: bold;
}

.c-filters-v2__item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-filters-v2__title {
  padding: 0;
  margin: 20px 0;
  font-weight: bold;
  @include inuit-font-size($font-size-small, $line-height-normal);
}

.c-filters-v2__checkbox {
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: 16px auto;
  input {
    margin-top: 1px;
    width: 16px !important;
    height: 16px !important;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    display: inline-block;
    position: relative;
    border: 1px solid $dark-blue;

    &:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    &:checked {
      background: $dark-blue;
      color: $white;

      &:after {
        content: '\2713';
        font-size: 14px;
        position: absolute;
        top: -1px;
        left: 1px;
        color: $light-blue;
      }
    }
  }
}

.c-filters-v2__radio {
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: 16px auto;
  input {
    margin-top: 1px;
    width: 18px !important;
    height: 18px !important;
    border-radius: 9px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    display: inline-block;
    position: relative;
    border: 1px solid $dark-blue;

    &:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    &:checked {
      color: $dark-blue;
      border-color: $dark-blue;

      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 9px;
        border: 2px solid $white;
        background-color: $dark-blue;
      }
    }
  }
}

.c-filters-v2__select {
  display: flex;
  flex-wrap: wrap;
}

.c-filters-v2__select div {
  margin-bottom: $spacing-small;
}

.c-filters-v2__select label {
  padding-right: $spacing-tiny;
}

.c-filters-v2__select > :first-child {
  margin-right: $spacing;
}

.c-filters-v2--open {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  min-height: 100vh;
  width: 100%;
  background: $white;
  z-index: 9;
  animation: slideUp 0.2s ease-out;
  -webkit-overflow-scrolling: touch;
}

@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}
.c-filters-v2__wrapper {
  width: 83.33333%;
  margin: 0 auto;
  @include mq($from: desktop) {
    width: 100%;
  }
}

.c-filters-v2__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $spacing 0;
  @include mq($from: desktop) {
    display: none;
  }
}

.c-filters-v2__topbar-filter {
  background: $brand-main;
  border-radius: 0;
  border: none;
  color: $white;
  padding: 5px 15px;
  font-size: 16px;
  min-height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:hover {
    background: $brand-medium;
  }
}

.c-filters-v2__topbar-result {
  padding: 0;
  margin: 0;
  @include inuit-font-size($font-size-tiny, $line-height-small);
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-tiny, $line-height-normal);
  }
}

.c-filters-v2-btn {
  border-color: transparent;
  background-color: transparent;
  padding: 0;
}

.c-filters-v2-btn--list-item {
  margin-top: 10px;
  margin-left: 30px;
}

.c-filters-v2-btn:hover {
  border-bottom: 1px solid currentColor;
}
