.c-simple-mosaic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include mq($from: tablet) {
    margin: $spacing-large auto $spacing-huge;
  }
}

.c-simple-mosaic__item,
a.c-simple-mosaic__item {
  max-width: 300px;
  width: 100%;
  margin: $spacing-small;
  padding: $spacing;
  border: 1px solid $brand-dark;
  font-family: $font-sans;
  a {
    border: none;
    color: $brand-dark;
  }
  &:hover,
  &:hover:visited {
    background: $brand-medium;
    color: $white;
  }
}
.c-simple-mosaic__meta {
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: $spacing;
}
.c-simple-mosaic__title {
  @include inuit-font-size($font-size-normal, $font-size-large);
  margin-bottom: $spacing;
}
//v2
.c-cards.c-simple-mosaic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include mq($from: tablet) {
    margin: $spacing-large auto $spacing-huge;
  }

  .c-simple-mosaic__item,
  a.c-simple-mosaic__item {
    max-width: 400px;
    width: 100%;
    margin: 16px;
    padding: $spacing;
    font-family: $font-sans;
    background-color: $white;
    border: 1px solid transparent;

    .c-simple-mosaic__item-content {
      height: 100%;
      border: 1px solid $v2-lightest-grey;
      display: flex;
      flex-direction: column;
    }
    a {
      border: none;
      color: $brand-dark;
    }
    &:hover,
    &:hover:visited {
      border: 1px solid $v2-green;
    }
  }

  .c-cards__image {
    img {
      display: block;
      width: 100%;
    }
  }
  .c-cards__text {
    padding: $spacing;
    color: $v2-grey-555;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  .c-simple-mosaic__meta {
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: $spacing;
  }
  .c-simple-mosaic__title {
    @include inuit-font-size($font-size-normal, $font-size-large);
    margin-bottom: $spacing;
  }
}

#courses-2 {
  .c-simple-mosaic__item,
  a.c-simple-mosaic__item {
    max-width: 362px;
    padding: 0;
    border: 1px solid $v2-lightest-grey;
  }
  .c-simple-mosaic__item-content {
    border: 1px solid transparent;
  }
  .c-cards__text {
    color: $v2-black;
  }
}
