.c-simple-hero {
  background: $brand-dark;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: $spacing;
  color: $white;
  @include mq($from: tablet) {
    min-height: 460px;
    padding: $spacing-large;
  }
}
.c-simple-hero__title {
  @include inuit-font-size($font-size-tiny);
  font-family: $font-sans;
  text-transform: uppercase;
}
.c-simple-hero__content {
  font-family: $font-sans;
  font-weight: 300;
  max-width: 800px;
  margin: auto;
  @include inuit-font-size($font-size-normal, $line-height-normal);
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-larger);
  }
}
.c-simple-hero__cta {
  display: inline-block;
  margin: auto;
  color: $white;
  padding: $spacing-small $spacing;
  font-family: $font-sans;
  border: 2px solid $brand-main;

  &:hover {
    border: 2px solid $brand-lighter;
  }
}