.c-columns {
  display: flex;
  justify-content: center;
  font-family: $font-sans;
  @include inuit-font-size($font-size-small);
  @include mq($from: tablet) {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
}
.c-columns--two__item {
  @include mq($from: tablet) {
    width: 50%;
    padding: $spacing;
  }

  ul {
  }
  li {
    border: none;
    color: $brand-dark;
    border-bottom: 1px solid rgba($brand-dark, .1);
    padding: $spacing-small 0;
  }
}