.c-link-list {
  list-style: none;
  margin: $spacing-large 0 $spacing;
  padding: 0;

  span {
    @include inuit-font-size($font-size-normal, $font-size-large);
    font-weight: 400;
  }
}
.c-link-list__item {
  @include inuit-font-size($font-size-tiny, $font-size-normal);
  padding: $spacing-tiny 0 0;

  &:hover {
    .c-link-list__icon {
      transform: translateX(8px); // Uhm, ugly nesting. Make it go away pls.
    }
  }
}
.c-link-list__link {
  color: $brand-lighter;
  border: none;
}
.c-link-list__icon {
  margin-left: $spacing;
  transition: transform .15s ease-out;
}