.c-article {
  word-wrap: break-word;
  @include inuit-font-size($font-size-small, $line-height-large );
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-normal, $line-height-large );
  }
}

.c-article__figure {
  margin-left: 0;
  margin-right: 0;
}

.c-article__figure-img {
  width: 100%;
}

.c-article__figure-figcaption {
  font-family: $font-sans;
  @include inuit-font-size($font-size-small);
  text-transform: uppercase;
  text-align: center;
  color: $black;
}

.c-article__nugget {
  border: 1.5px solid lightgrey;
  padding: 0.5em 2em;
  font-family: $font-sans;
  font-size: 0.8em;
  line-height: 1.5em;
}

.c-article__nugget-title {
  font-family: $font-sans;
  @include inuit-font-size($font-size-normal);
  margin-bottom: 0;
  font-weight: bold;
}

.c-article__pullQuote {
  @include inuit-font-size($font-size-larger, $line-height-normal);
  font-weight: bold;
  color: $black;
  text-align: left;
  letter-spacing: 0.02em;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  padding: $spacing 0;
}

blockquote {
  font-family: $font-serif;
  border-left: solid lightgray 10px;
  padding-left: 10px;
  @include inuit-font-size($font-size-normal);
  letter-spacing: 0.02em;
  font-weight: 300;
  color: $grey;
  margin: $spacing 0;
}
