.c-toc-mobile {
  position: fixed;
  z-index: 2;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  padding: 14px;
  background-color: $brand-dark;
  height: 75px;
  width: 75px;
  transition: all 0.1s ease-in-out;
  .c-toc-mobile__menu {
    display: none;
  }
  .c-toc-mobile__button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 0;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: $brand-dark;
  }
  .c-toc-mobile__button img {
    vertical-align: text-bottom;
  }
  @include mq($from: 1300px) {
    display: none;
  }
}

.c-toc-mobile--open {
  height: 100vh;
  width: 100vw;
  bottom: 0;
  right: 0;
  margin: 0;
  border-radius: 0;
  .c-toc-mobile__menu {
    display: block;
    color: $white;
    a {
      color: $white;
    }
  }
}
