.c-boxOnImage {
  min-height: 400px;
  position: relative;
  color: $white;
  font-family: $font-sans;
  @include mq($from: wide) {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  }
}
.c-boxOnImage__body {
  position: inherit;
  background: $brand-dark;
  margin: -$spacing-large 0 0 $spacing;
  padding: $spacing;
  font-weight: 300;
  @include inuit-font-size($font-size-small, $font-size-large)

  @include mq($from: wide) {
    width: 40%;
    margin: 0;
    padding: $spacing-large $spacing-huge;
  }

  &:nth-of-type(3n+0) {
    background: $brand-dark;
  }
}
.c-boxOnImage__body--smaller {
  text-align: center;
  @include mq($from: wide) {
    text-align: left;
    max-width: 40%;
    min-width: 40%;
  }
}
.c-boxOnImage__link {
  color: $brand-light;
}
.c-boxOnImage__figure {
  width: 60%;
  position: relative;
  margin: 0 $spacing-large 0 0;
  @include mq($from: wide) {
    margin: $spacing 0;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.c-boxOnImage__figure--smaller {
  @include mq($from: wide) {
    min-width: 60%;
    max-width: 60%;
  }
}
.c-boxOnImage__title {

}
.c-boxOnImage__subtitle {

}
.c-boxOnImage__text {

}
