.c-article {
  word-wrap: break-word;
  @include inuit-font-size(19px, $line-height-large );
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-normal, $line-height-large );
  }
}

.c-article__lead {
  color: $brand-dark;
  max-width: 950px;
  margin-top: 0;
  margin-bottom: $spacing;
  @include inuit-font-size($font-size-normal, $line-height-large );
  padding-left: $spacing;
  padding-right: $spacing;
  @include mq($from: tablet) {
    padding-left: $spacing-huge;
  }
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-large, $line-height-large );
  }
}




.c-article__lead--center {
  text-align: center;
  font-family: $font-sans;
  margin: auto auto $spacing-huge auto;
  padding: 0;
  max-width: 840px;
}

.c-article__lead--big-light {
  color: $white;
  font-weight: 300;
  margin:  $spacing-large auto;
  padding: 0 $spacing-small;
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-larger, $line-height-large );
      margin:  $spacing-huge auto;
  }
}

.c-article__title {
  color: $brand-dark;
  margin-bottom: $spacing;
  padding-left: $spacing;
  padding-right: $spacing;
  @include mq($from: tablet) {
    padding-left: $spacing-huge;
    @include inuit-font-size($font-size-largest, $line-height-large );
  }
}
.c-article__title--center {
  padding: 0;
  text-align: center;
}

.c-article_mainPoints {
  margin-top: $spacing;
  font-family: $font-sans;
  font-weight: 300;
  ul {
  }
  li {
    margin-bottom: $spacing;
  }
}

.c-article_mainPoints-firstWords {
  font-weight: normal;
}

.c-article_mainPoints-lastWords {
}

.c-article_mainPoints-list {
  list-style: none;
  margin-left: 0;
  margin-top: $spacing;
  margin-bottom: $spacing-large;
}

.c-article_mainPoints-item {
  position: relative;

  &:before {
    content: '';
    height: 1px;
    width: 30px;
    background: $black;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: -40px;
  }
}

.c-article__figure {
  margin-left: 0;
  margin-right: 0;
}

.c-article__figure-img {
  width: 100%;
  object-fit: cover;
  @include mq($from: tablet) {
    height: 50vh;
  }
}

.c-article__figure-figcaption {
  font-family: $font-sans;
  @include inuit-font-size($font-size-small);
  color: $black;
  margin-left: 20px;
}

.c-article__nugget {
  border: 1.5px solid $brand-medium;
  color: $brand-medium;
  padding: $spacing;
  font-family: $font-sans;
  font-size: 0.8em;
  line-height: 1.5em;
}

.c-article__nugget-title {
  font-family: $font-sans;
  @include inuit-font-size($font-size-normal);
  margin: $spacing 0;
  font-weight: bold;
}

.c-article__pullQuote {
  @include inuit-font-size($font-size-normal, $line-height-large );
  @include mq($from: tablet) {
    @include inuit-font-size($font-size-large, $line-height-large );
  }
  font-family: $font-sans;
  font-weight: 300;
  color: $black;
  font-style: italic;
  text-align: left;
  letter-spacing: 0.02em;
  padding: $spacing 0;
  @include mq($from: tablet) {
    padding: $spacing 0;
  }
  margin-bottom: $spacing-large;
  margin-top: $spacing-large;
}

blockquote {
  border-left: $black solid 1px;
  font-style: italic;
  letter-spacing: 0.02em;
  font-weight: 300;
  padding-left: $spacing;
}
