.u-tc {
  text-align: center;
}
.u-tr {
  text-align: right;
}
.u-tl {
  text-align: left;
}
.u-blue-underline {
  position: relative;
  display: block;
  padding-bottom: 50px;
  margin-bottom: $spacing-large;
  font-weight: 700;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100px;
    max-width: 100%;
    background-color: $brand-main;
  }
}
.u-section-underline {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 40px;
  width: 100%;
  align-self: flex-end;
}

.u-section-underline--no-margins {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.u-navy-big-headline {
  font-family: $font-sans;
  font-size: 47px;
  line-height: 60px;
  font-weight: 900;
  color: $brand-dark;
}
.u-navy-mid-headline {
  font-family: $font-sans;
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
  color: $brand-dark;
  margin: 32px 0;
}
.u-navy-small-headline {
  color: $brand-dark;
  font-size: 12px;
  line-height: 32px;
  font-family: $font-sans;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  @include mq($from: tablet) {
    font-size: 14px;
  }
}
.u-black-mid-headline {
  font-family: $font-sans;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  margin: 0;
}

.u-grey-container {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

.u-heading--black--44 {
  font-family: $font-sans;
  font-size: 32px;
  line-height: 39px;
  font-weight: 900;
  color: $v2-black;
  letter-spacing: 0.01em;
  @include mq($from: tablet) {
    font-size: 44px;
    line-height: 53px;
  }
}

.u-black-32-headline {
  font-family: $font-sans;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  color: $v2-black;
}

.u-heading--1 {
  font-family: $font-sans;
  // font-size: 32px;
  // line-height: 39px;
  font-size: 44px;
  line-height: 53px;
  font-weight: 700;
  color: $v2-black;
  letter-spacing: 0.01em;
  @include mq($from: tablet) {
    font-size: 44px;
    line-height: 53px;
  }
}

.u-heading--2 {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.27;
  letter-spacing: 0.02em;
  color: $v2-black;
}

.u-heading--2--grey {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  letter-spacing: 0.02em;
  color: $v2-grey-555;
  margin: 0;
}

.u-heading--3 {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $v2-black;
}

.u-heading--4 {
  font-family: $font-sans;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: $v2-dark-grey;
}

.u-heading--5 {
  font-family: $font-sans;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: $v2-dark-grey;
}

.u-heading--6 {
  display: inline-block;
  font-family: $font-sans;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $v2-black;
  padding-bottom: 2px;
  border-bottom: 1px solid $v2-lighter-grey;
}

.u-heading--7 {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.02em;
  color: $v2-black;
  margin-top: 16px;
}

.u-drop-cap {
  p:first-child::first-letter,
  .c-article__lead--abstract::first-letter {
    font-size: 72px;
    line-height: 0.62;
    padding: 8px 8px 0 0;

    float: left;
    @include mq($from: tablet) {
      font-size: 144px;
      padding: 0 20px 20px 0;
      line-height: 0.8;
    }
  }
}

.u-grey-text {
  color: $v2-grey-2;
}

.u-intro-text {
  font-family: $font-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $v2-black;
  letter-spacing: 0.02em;
  margin: 0 0 64px 0;
  @include mq($from: tablet) {
    margin: 0 0 72px 0;
  }
}

.u-link-basic {
  color: $v2-dark-grey;
  text-decoration: none;
  transition: all 100ms ease-out;
  border-bottom: none;
  &:hover,
  &:visited:hover {
    border: none;
    color: $v2-blue;
    text-decoration: underline;
  }
  &:visited {
    color: $v2-dark-grey;
    text-decoration: none;
    border-bottom: none;
  }
  &:active {
    color: $v2-blue;
    border-bottom: none;
    text-decoration: underline;
    // & > * {
    //   display: inline-block;
    //   transform: translateY(2px);
    //   text-decoration: underline;
    // }
  }
  &:focus {
    border: none;
  }
}