.u-relative {
  position: relative;
}

iframe {
  max-width: 100%;
}
.u-video {
  margin-right: auto;
  margin-left: auto;
  div {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 1px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &.normal {
    max-width: 768px;
  }
  &.small {
    max-width: 512px;
  }
  &.narrow {
    max-width: 256px;
  }
}

.u-z-index-x {
  position: relative;
  z-index: 1;
}

.u-z-index-xx {
  position: relative;
  z-index: 2;
}

.u-z-index-xxx {
  position: relative;
  z-index: 3;
}

.u-overflow-hidden {
  overflow-y: hidden;
}

.u-visually-hidden {
  visibility: hidden;
}

.u-visually-hidden-v2 {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.u-reverse-arrow {
  transform: rotate(180deg);
}

.u-hidden--tablet {
  display: none;
  @include mq($from: tablet) {
    display: block;
  }
}

.u-hidden--tablet-flex {
  display: none;
  @include mq($from: tablet) {
    display: flex;
  }
}

.u-hidden--desktop {
  display: block;
  @include mq($from: tablet) {
    display: none;
  }
}

.u-hidden--desktop-flex {
  display: flex;
  @include mq($from: tablet) {
    display: none;
  }
}

.u-fixed {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 99999;
}

.u-scroll-bar {
  @include mq($from: tablet) {
    margin-left: calc(100vw - 100%);
  }
}

.u-flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.u-flex-sb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.u-span-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    margin-right: 8px;
    color: $dark-grey;
  }
}

.pointer-events--none {
  pointer-events: none;
}

.u-border--none {
  border: none;
  &:hover,
  &:active {
    border: none;
  }
}

.u-margin--page-top {
  margin-top: 80px;
}

.u-margin--no {
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.u-fake-anchor {
  color: $dark-grey;
  border-bottom: none;
  text-decoration: none !important;
}
.u-fake-anchor:hover {
  text-decoration: none !important;
  border-bottom: none;
}
