.u-tc {
  text-align: center;
}
.u-tr {
  text-align: right;
}
.u-tl {
  text-align: left;
}
.u-blue-underline {
  position: relative;
  display: block;
  padding-bottom: 50px;
  margin-bottom: 58px;
  font-weight: 700;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100px;
    max-width: 100%;
    background-color: $brand-main;
  }
}
.u-section-underline {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 40px;
  width: 100%;
  align-self: flex-end;
}
.u-navy-big-headline {
  font-size: 47px;
  line-height: 60px;
  font-weight: 900;
  color: $brand-dark
}