.u-tc {
  text-align: center;
}
.u-tr {
  text-align: right;
}
.u-tl {
  text-align: left;
}

.u-white-font {
  color: $white;
}

.u-section-underline {
  border: none;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 40px;
  width: 100%;
  align-self: flex-end;
}

.u-section-underline--no-margins {
  border: none;
  border-bottom: 1px solid $light-grey;
  margin: 0;
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.u-primary-heading {
  font-family: $font-sans;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: $dark-grey;
}

.u-primary-heading--white {
  font-family: $font-sans;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: $white;
}

.u-secondary-heading {
  font-family: $font-sans;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: $dark-grey;
  text-transform: uppercase;
}

.u-secondary-h1 {
  font-size: $font-size-tiny;
  line-height: 22px;
  color: $dark-blue;
  @include mq($from: tablet) {
    font-size: $font-size-normal;
    line-height: 1;
  }
}

.u-secondary-h2 {
  font-size: $font-size-micro;
  line-height: $font-size-small;
  letter-spacing: 0.15em;

  @include mq($from: tablet) {
    font-size: $font-size-tiny;
    line-height: 22px;
  }
}

.u-secondary-h3 {
  font-weight: 700;
  font-size: $font-size-nano;
  line-height: $line-height-mid;
}

.u-secondary-h4 {
  font-size: $font-size-nano;
  line-height: $font-size-tiny;
}

.u-body {
  font-family: $font-sans;
  font-size: $font-size-tiny;
  line-height: $font-size-normal;
  letter-spacing: 0.01em;
}

.u-body--white {
  font-family: $font-sans;
  font-size: $font-size-tiny;
  line-height: $font-size-normal;
  letter-spacing: 0.01em;
  color: $white;
}

.u-body--grey {
  font-family: $font-sans;
  font-size: $font-size-tiny;
  line-height: $font-size-normal;
  letter-spacing: 0.01em;
  color: $mid-grey;
}

.u-body--small {
  font-family: $font-sans;
  font-size: $font-size-nano;
  line-height: $line-height-mid;
  letter-spacing: 0.01em;
}

.u-detail--blue {
  position: relative;
  display: block;
  padding-bottom: 12px;
  padding-top: 36px;
  margin: 0 0 24px 0;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 21px;
    max-width: 100%;
    background-color: $blue;
  }
  @include mq($from: tablet) {
    margin: 0 0 32px 0;
    padding-top: 48px;
    padding-bottom: 18px;
    &:after {
      height: 6px;
      width: 26px;
    }
  }
}

.u-detail--blue--bright {
  position: relative;
  display: block;
  padding-bottom: 12px;
  padding-top: 36px;
  margin: 0 0 24px 0;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 21px;
    max-width: 100%;
    background-color: $highlight-blue;
  }
  @include mq($from: tablet) {
    margin: 0 0 32px 0;
    padding-top: 48px;
    padding-bottom: 18px;
    &:after {
      height: 6px;
      width: 26px;
    }
  }
}

.u-detail--white {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 12px;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 21px;
    max-width: 100%;
    background-color: $white;
  }
  @include mq($from: tablet) {
    margin: 0;
    padding-top: 48px;
    padding-bottom: 18px;
    &:after {
      height: 6px;
      width: 26px;
    }
  }
}

.u-detail--blue--small {
  position: relative;
  display: block;
  padding-bottom: 6px;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 21px;
    max-width: 100%;
    background-color: $blue;
  }
}

.u-drop-cap {
  p.c-longform-grid__standard:first-child::first-letter,
  .c-article__lead--abstract::first-letter,
  &.c-article__lead p:first-child::first-letter {
    font-size: 72px;
    line-height: 0.62;
    padding: 8px 8px 0 0;
    float: left;
    @include mq($from: tablet) {
      font-size: 144px;
      padding: 0 20px 20px 0;
      line-height: 0.8;
    }
  }
}

.u-text--white {
  color: $white;
}

.u-text--light-blue {
  color: $light-blue;
}

.u-text--blue {
  color: $blue;
}

.u-text--blue--bright {
  color: $highlight-blue;
}

.u-text--dark-blue {
  color: $dark-blue;
}
.u-text--grey {
  color: $mid-grey;
}

.u-opacity--60--text {
  a {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}
