.u-bg-white {
  background-color: $white;
}

.u-bg-light-blue {
  background: $light-blue;
  //padding: $spacing-large 0;
}

.u-bg-mid-blue {
  background: $brand-main;
}

.u-bg-dark-blue {
  background: $dark-blue;
  //padding: $spacing-large 0;
}

.u-bg-darkest-blue {
  background: $darkest-blue;
  //padding: $spacing-large 0;
}

.u-bg-light-grey {
  background-color: $light-grey;
}
