.u-bg-light-blue {
  background: $brand-lightest;
  padding: $spacing-large 0;
}

.u-bg-dark-blue {
  background: $brand-dark;
  padding: $spacing-large 0;
}

.u-bg-white {
  background-color: $white;
}

.u-bg-light-grey {
  background-color: $v2-light-grey-bg;
}

.u-bg-lightest-grey {
  background-color: $v2-lightest-grey-bg;
}

.u-bg-lightest-blue {
  background-color: $v2-lightest-blue;
}
