.o-wrapper {
  @include inuit-clearfix();
  margin-right: auto;
  margin-left: auto;
  max-width: $site-width;
  @include mq($from: tablet) {
    padding-right: $inuit-global-spacing-unit;
    padding-left: $inuit-global-spacing-unit;
  }
}

.o-wrapper--padded {
  padding-right: $inuit-global-spacing-unit;
  padding-left: $inuit-global-spacing-unit;
}

.o-wrapper-inner {
  @include inuit-clearfix();
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
}

.o-wrapper--no-padding {
  @include mq($from: tablet) {
    padding-right: 0;
    padding-left: 0;
  }
}
