.o-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  height: 100%;
  grid-column-gap: 2%;
}

// fugly hack to set grid properties on the div surrounding <BlockContent />
// output
.o-grid-container-sub-div > div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  height: 100%;
  grid-column-gap: 2%;
}

.o-grid-container__item-standard {
  grid-row: auto;
  grid-column: 1/13;
  @include mq($from: desktop) {
    grid-column: 3/11;
  }
}

.o-grid-container__item-standard-left {
  grid-row: auto;
  grid-column: 4/10;
  @include mq($from: desktop) {
    grid-column: 1/4;
  }
}

.o-grid-container__item-standard-right {
  grid-row: auto;
  grid-column: 4/10;
  @include mq($from: desktop) {
    grid-column: 10/13;
  }
}

.o-grid-container__item-wider {
  grid-column: 3/11;
  grid-row: auto;
}
