.o-wrapper-page {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

.o-wrapper-fixed-header {
  max-width: 100%;
  padding-top: 130px;
  @include mq($from: tablet) {
    padding-top: 115px;
  }
}

.o-wrapper {
  @include inuit-clearfix();
  margin-right: auto;
  margin-left: auto;
  max-width: $site-width;
  @include mq($from: tablet) {
    padding-right: $inuit-global-spacing-unit;
    padding-left: $inuit-global-spacing-unit;
  }
}

.o-wrapper--padded {
  padding-right: $inuit-global-spacing-unit;
  padding-left: $inuit-global-spacing-unit;
}

.o-wrapper--padded-large {
  padding-left: $spacing;
  padding-right: $spacing;
  @include mq($from: tablet) {
    padding-left: $spacing-huge;
    padding-right: $spacing-huge;
  }
}

.o-wrapper-section {
  max-width: 1264px;
  margin-right: auto;
  margin-left: auto;
}

.o-wrapper-inner {
  @include inuit-clearfix();
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
}

.o-wrapper-medium {
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
}

.o-wrapper--no-padding {
  @include mq($from: tablet) {
    padding-right: 0;
    padding-left: 0;
  }
}

.o-wrapper-full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
