.c-sort--radio {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
.c-sort--radio__order-text {
  margin: 0;
  margin-right: 24px;
}
.c-sort--radio__label {
  margin: 0;
  margin-right: 24px;
}

.c-sort--radio__btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  &:hover {
    cursor: pointer;
  }
  input {
    margin-right: 16px;
  }
  input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $dark-blue;
    margin-right: 12px;
  }

  input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $highlight-blue;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $dark-blue;
    margin-right: 12px;
  }

  @include mq($from: tablet) {
    width: auto;
    margin: 0;
  }
}
