.c-blue-card {
  background-color: $lighter-blue;
  padding: 24px 16px 16px 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  transition: $global-transition--longer;
  .c-events-calendar-svg {
    margin-right: 10px;
  }
  h2 {
    margin: 0;
  }
  a:hover {
    cursor: pointer;
  }
  @include mq($from: desktop) {
    &:hover {
      background-color: $brand-main;
      -webkit-box-shadow: -9px 9px 0px 0px $dark-blue !important;
      -moz-box-shadow: -9px 9px 0px 0px $dark-blue !important;
      box-shadow: -9px 9px 0px 0px $dark-blue;
      transition: $global-transition--longer;
      h3,
      h5,
      p,
      .c-blue-card__link,
      .c-blue-card__link h4,
      .c-blue-card__lead {
        color: $white;
      }
      .c-blue-card__p--topic {
        color: $light-grey;
      }
      h2 {
        color: $light-blue;
      }
      h4 {
        color: $light-grey;
      }
      h4:after {
        background-color: $highlight-blue;
      }

      .c-events-location-icon,
      .c-events-calendor-icon {
        fill: $white;
      }
      .c-arrow-next-svg path {
        stroke: $white;
      }
    }
  }
}

.c-blue-card--dark {
  background-color: $dark-blue;
  h2,
  h3,
  h4,
  h5,
  p,
  .c-blue-card__link,
  .c-blue-card__link h4,
  .c-blue-card__lead {
    color: $white;
  }
  .c-blue-card__p--topic {
    color: $light-grey;
  }
  .c-events-location-icon,
  .c-events-calendor-icon {
    fill: $white;
  }
  .c-arrow-next-svg path {
    stroke: $white;
  }
  &:hover {
    background-color: $brand-main;
    -webkit-box-shadow: -9px 9px 0px 0px $highlight-blue !important;
    -moz-box-shadow: -9px 9px 0px 0px $highlight-blue !important;
    box-shadow: -9px 9px 0px 0px $highlight-blue;
  }
}

.c-blue-card__p--topic {
  margin-top: 12px;
  margin-bottom: 0;
}

.c-blue-card__link {
  display: flex;
  align-items: center;
  border-bottom: none;
  h4 {
    margin: 0;
    color: $dark-blue;
  }
  .c-arrow-next-svg {
    margin-left: 12px;
    width: 8px;
    path {
      stroke: $dark-blue;
    }
  }
}

.c-blue-card__type {
  margin: 12px 0;
}

.c-blue-card__heading {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em !important;
  margin: 12px 0 16px 0;
  @include mq($from: tablet) {
    font-size: 24px;
    line-height: 32px;
  }
}

.c-blue-card__details {
  display: flex;
  width: 100%;

  p {
    width: 50%;
  }
}

.c-blue-card__more {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: flex-end;
}

.c-blue-card__info {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.c-blue-card--topic {
  padding: 12px;
  min-height: 160px;
}

.c-blue-card__location {
  display: flex;
  align-items: flex-end;
  color: $mid-grey;
  margin: 0;
}

.c-blue-card__date {
  display: flex;
  align-items: flex-end;
  color: $mid-grey;
  margin-bottom: 0px;
}

.c-blue-card__content {
  display: -webkit-box;
  max-height: 70px;
  overflow: hidden;
  margin: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.c-blue-card__lead {
  max-width: 582px;
}
//alice carousel overrides line height of it's items.
.c-blue-card__lead * {
  line-height: 18px;
  @include mq($from: tablet) {
    line-height: $font-size-normal;
  }
}

.c-blue-card--3-col {
  .c-blue-card__bottom-content .c-blue-card__more {
    display: none;
  }
  .c-blue-card__details .c-blue-card__more {
    display: flex;
  }
}

.c-blue-card--1-col {
  .c-blue-card__bottom-content .c-blue-card__more {
    display: none;
  }
  .c-blue-card__details .c-blue-card__more {
    display: flex;
  }
  @include mq($from: desktop) {
    .c-blue-card__text {
      width: 100%;
      display: inline-grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 64px;
      grid-template-rows: auto;
    }

    .c-blue-card__bottom-content {
      display: inline-grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 64px;
      grid-template-rows: auto;
    }
    .c-blue-card__info {
      flex-direction: row;
    }
    .c-blue-card__location {
      margin-right: 48px;
    }
    .c-blue-card__bottom-content .c-blue-card__more {
      display: flex;
    }
    .c-blue-card__details .c-blue-card__more {
      display: none;
    }
    .c-blue-card__details p {
      width: 100%;
    }

    .c-blue-card__more {
      width: 100%;
      justify-content: flex-start;
    }
    .c-blue-card__heading {
      margin-top: 0;
    }
  }
}
