.c-course-entry {
  // modal jump fix:
  .c-header--fixed {
    width: 100vw;
    overflow-x: hidden;
  }
  .u-scroll-bar {
    @include mq($from: tablet) {
      width: 100%;
    }
  }

  // .u-video {
  //   width: 520px;
  // }
  .c-article__additional-info-container {
    font-family: $font-sans;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    .u-primary-heading {
      margin-top: 32px;
    }
  }
  .c-person-basic__text {
    display: flex;
    flex-direction: column-reverse;
  }
  .c-header--fixed {
    button {
      margin-left: 16px;
    }
    @include mq($from: tablet) {
      button {
        margin-left: 32px;
      }
    }
  }

}

.c-course-sidebar {
  .c-course-sidebar__row-first {
    margin-top: 0;
    .c-translations {
      margin-top: 16px;
    }
    @include mq($from: tablet) {
      margin-top: 16px;
      .c-translations {
        margin-top: 0;
      }
    }
  }
  .u-secondary-heading {
    margin: 16px 0 0 0;
  }
  .c-person-basic__text {
    .u-secondary-heading {
      margin: 0;
    }
  }

}

.c-course-sidebar__right,
.c-course-sidebar__left .u-hidden--desktop {
  p {
    margin: 6px 0 0 0;
  }
  .c-article-sidebar__row--regular {
    margin-bottom: 16px;
  }
  .c-modal .c-btn--secondary {
    margin-top: 40px;
  }
}

.c-course-sidebar__left .u-hidden--desktop {
  .c-course-sidebar__row-first {
    margin-bottom: 32px;
  }
}

.c-article-sidebar__select {
  margin: 16px 0;
  @include mq($from: tablet) {
    margin: 48px 0;
  }
}

.c-course-entry__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.c-course-entry__intro {
  width: 100%;

  @include mq($from: tablet) {
    width: calc(100% - 520px);

  }
  &.c-course-entry__intro--no-img {}

}

.c-course-entry__featured-image--bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq($from: tablet) {
    height: 292px;
    width: 520px;
  }
}

.c-course-entry__featured-image {
  margin: 0;
  @include mq($from: tablet) {
    //margin: 0;
    //width: calc(50% - 8px);
  }
}

.c-course-entry__header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  @include mq($from: tablet) {
  }
}

//overriting
a.c-btn--secondary {
  border-color: #dedede;
}
