// SETTINGS
@import 'settings/settings.config';
@import 'settings/settings.core';
@import 'settings/settings.global';
@import 'settings/settings.colors';
@import 'settings/settings.typography';

// TOOLS
@import '../node_modules/inuitcss/tools/tools.font-size';
@import '../node_modules/inuitcss/tools/tools.clearfix';
@import '../node_modules/sass-mq/mq';
@import 'tools/tools.aliases';

// GENERIC
@import '../node_modules/inuitcss/generic/generic.box-sizing';
@import '../node_modules/inuitcss/generic/generic.normalize';
@import '../node_modules/inuitcss/generic/generic.shared';

// ELEMENTS
@import '../node_modules/inuitcss/elements/elements.page';
@import '../node_modules/inuitcss/elements/elements.headings';
@import 'elements/elements.body';
@import 'elements/elements.figure';
@import 'elements/elements.headings';
@import 'elements/elements.links';
@import 'elements/elements.input';

@import '../node_modules/inuitcss/utilities/utilities.widths';
@import '../node_modules/inuitcss/utilities/utilities.headings';
@import '../node_modules/inuitcss/utilities/utilities.spacings';
@import 'utilities/utilities.print';
@import 'utilities/utilities.typography';
@import 'utilities/utilities.general';

/**
* Resets
*/

.c-article-header__language,
.c-article-header__download,
.c-top-bar {
  display: none;
}

/**
* Print layout
*/

/*
 * Page Layout
*/
@page {
  margin-top: 3.5cm;
  margin-bottom: 3.5cm;
  margin-inside: 4cm;
  margin-outside: 4cm;

  @footnotes {
    border-top: solid black thin;
    padding-top: 11pt;
    font-size: 11pt;
  }
}


.contents {
  display: block;
  page: table-of-contents;
  counter-reset: page 1;
}
@page table-of-contents {
  @top { }
  @bottom {
      content: counter(page, lower-alpha);
  }
}

.contents__list-item a[href]::after {
  content: leader(" ") target-counter(attr(href), page);
  margin-left: 1cm;
  position: absolute;
  right: 0;
  top: 0;
  }

.body {
  display: block;
  page: main;
  counter-reset: page 1;
  font-size: 14pt;
  line-height: 22pt;
  color: black;
}

p {
  orphans: 2;
  widows: 2;
}
@page main {

  @top {
    content: string(chapter-title);
  }
  @bottom {
      content: "Page " counter(page) " of " counter(pages);
  }
}

.body h2 {
  string-set: chapter-title content();
  page-break-before: always;
}
a {
  border: none;
  color: black;
  text-decoration: none;
}

.fn {
  float: footnote;
}

.contents__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
  font-family: $font-sans;
}

.contents__list-item{
  margin: 0.5cm 0 ;
  padding: 0;
  font-size: 12pt;
  line-height: 20pt;
  font-weight: bold;

  a {
    position: relative;
    display: block;
    padding-right: 2cm;
  }
}

.contents__list-subitem {
  font-weight: normal;
  margin-left: $spacing;
}

.c-print__front-logo{
  position: absolute;
  top: -2cm;
  left: -2cm;
}


.c-print__front-image {
  width: 19.5cm;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 50%;
  margin-left: -4cm;
  z-index: -10;
  figcaption{
    font-size: 10pt;
    color: grey;
  }
}


.c-print__front-text {
  //border: solid 0.1cm $brand-dark;
  background-color: $brand-lightest;
  z-index: 10;
  padding: 1cm 4cm 1cm 2cm;
  margin-right: -4cm;
  margin-left: -2cm;
  page-break-after: always;
  page-break-inside: avoid;
  position: absolute;
  top: 9cm;
}

.c-print__title {
  color: $brand-dark;
  margin: 0;
  font-family: $font-serif;
  font-weight: bold;
}

.c-print__subtitle {
  color: $brand-dark;
  font-weight: lighter;
  font-family: $font-sans;
  padding-top: $spacing-tiny;
  padding-bottom: $spacing;
  margin: 0;

  @include inuit-font-size($font-size-large, $line-height-normal);
}

.c-print__meta{
  color: $brand-dark;
  font-family: $font-sans;
  a {
    color: $brand-dark;
    font-family: $font-sans;
    border: none;
  }
}

.c-print__meta-inline{
  display: inline-block;
  padding-right: $spacing-small;
}

.c-article__pullQuote {
  @include inuit-font-size($font-size-normal, $line-height-large );
  font-family: $font-sans;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  letter-spacing: 0.02em;
  margin-bottom: $spacing-large;
  margin-top: $spacing-large;
}

blockquote {
  border-left: $black solid 1px;
  //font-style: italic;
  //letter-spacing: 0.02em;
  font-weight: 300;
  padding-left: $spacing;
  line-height: 1.2em;
}

figure {
  margin: 0;
}

.c-article__figure-img {
  margin: 0;
  max-height: 10cm;

}


/*
// SETTINGS
@import 'settings/settings.config';
@import 'settings/settings.core';
@import 'settings/settings.global';
@import 'settings/settings.colors';
@import 'settings/settings.typography';

// TOOLS
@import '../node_modules/inuitcss/tools/tools.font-size';
@import '../node_modules/inuitcss/tools/tools.clearfix';
@import '../node_modules/sass-mq/mq';
@import 'tools/tools.aliases';

// GENERIC
@import '../node_modules/inuitcss/generic/generic.box-sizing';
@import '../node_modules/inuitcss/generic/generic.normalize';
@import '../node_modules/inuitcss/generic/generic.shared';

// ELEMENTS
@import '../node_modules/inuitcss/elements/elements.page';
@import '../node_modules/inuitcss/elements/elements.headings';
@import 'elements/elements.body';
@import 'elements/elements.figure';
@import 'elements/elements.headings';
@import 'elements/elements.links';
@import 'elements/elements.input';

@import '../node_modules/inuitcss/utilities/utilities.widths';
@import '../node_modules/inuitcss/utilities/utilities.headings';
@import '../node_modules/inuitcss/utilities/utilities.spacings';
@import 'utilities/utilities.print';
@import 'utilities/utilities.typography';
@import 'utilities/utilities.general';

.c-article-header__language,
.c-article-header__download,
.c-top-bar {
  display: none;
}

.contents {
  display: block;
  page: table-of-contents;
  counter-reset: page 1;
}

@page table-of-contents {
    @top {
      content: "Table of Contents";
    }

    a::after { content: leader(".") target-counter(attr(href), page); }
}

.body {
  display: block;
  page: main;
  counter-reset: page 1;
}
@page main {
  @top { content: string(chapter-title); }
  @bottom {
      content: counter(page);
  }
}
.body h2 {
  string-set: chapter-title content();
}

a[href]::after {
  content: " [See page " target-counter(attr(href), page) "]";
}


@page {
    @bottom { content: counter(page); }
  }

  @page {
    size: A4;
    margin-bottom: 3cm;
    font-size: 11pt;
}
h1, h2 {
    page-break-before: always;
}
p {
  orphans: 2;
  widows: 2;
}
.fn {
  float: footnote;
}
@footnotes {
  border-top: solid black thin;
  padding-top: 8pt;
}

*/
