.c-service-page__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.c-service-page__intro {
  width: 100%;
  @include mq($from: tablet) {
    width: 50%;
  }
}

.c-service-page.c-courses-page {
  .c-team__wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 0;
    @include mq($from: tablet) {
      margin-bottom: 48px;
    }
  }
}
