.c-search-page {
  .c-menu__search-holder {
    margin: 60px auto;
    border-bottom: 1px solid rgba(22, 32, 99, 0.5);
  }
  .c-search-v2 {
    margin: 0;
    .c-search-v2__button {
      path,
      circle {
        stroke: $mid-grey;
      }
      &[type='button'] {
        path {
          stroke: rgba(22, 32, 99, 0.5);
        }
      }
    }
    .c-search-v2__input {
      color: $dark-blue;
      caret-color: $highlight-blue;
      &::placeholder {
        color: $mid-grey;
        opacity: 100;
      }
    }
  }
  .o-layout__item {
    padding: 0;
  }
  .c-search-page__sections {
    margin: 60px 0;
  }
}
