$primary: #00ABE5;
$primary-dark: #0056A5;

$secondary-light: #00C0F3;
$secondary-medium: #008FD5;
$secondary-dark: #283A80;

$background: #EDF7FC;
$contrast: #F8EE53;

$dark: #444444;
$dark-light: #666666;
