$brand-dark: #1e2051;
$brand-medium: #0954a7;
$brand-main: #0079cf;
$brand-light: #1da1f2;
$brand-lighter: #00c2ff;
$brand-lightest: #e5f1fa;

$black: #4a4a4a;
$grey: #9b9b9b;
$lightGrey: #f2f2f2;
$white: #ffffff;
$white-on-blue: #ddddea;
$border-grey: #e6e6e6;

$contrast: #f8ee53;

$brand-dark-hover: #242d73;

$v2-black: #1a1a1a;
$v2-dark-grey: #333333;
$v2-grey: #666666;
$v2-light-grey: #bdbdbd;
$v2-lighter-grey: #dedede;
$v2-lightest-grey: #eaeaea;
$v2-light-blue: #18C1FF;
$v2-blue: #0E4590;
$v2-dark-blue: #161F63;
$v2-dark-blue-2: #162062;
$v2-dark-blue-box: #19374D; 
$v2-blue-box: #0d458f; 
$v2-light-blue: #BFDDF3;
$v2-lightest-blue: #E6ECF3;
$v2-yellow: #FEF0CB;
$v2-dark-yellow: #FBC232;
$v2-brown: #5C460C;
$v2-dark-green: #244A3B;
$v2-green: #3B8065;
$v2-light-green: #72C1A2;
$v2-lightest-green: #E9F0DC;
$v2-teal: #34C2D0;
$v2-grey-2: #5a5a5a;
$v2-grey-pQ: #3D3D3D
