@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i');

$font-sans: 'Lato', Helvetica, Arial, sans-serif;
$font-serif: Georgia, serif;

$line-height-small: 1;
$line-height-normal: 1.2;
$line-height-large: 1.4;
$line-height-larger: 1.6;
$line-height-huge: 2;


$font-size-small: 12px;
$font-size-normal: 18px;
$font-size-large: 22px;
$font-size-larger: 28px;
$font-size-huge: 64px;
