@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900');
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

$font-sans: 'Lato', Helvetica, Arial, sans-serif;
$font-serif: Georgia, serif;
//$font-sans-header: 'Inter', Helvetica, Arial, sans-serif;

$line-height-tiny: 1;
$line-height-small: 1.2;
$line-height-normal: 1.4;
$line-height-large: 1.6;
$line-height-larger: 2.3;

$font-size-nano: 12px;
$font-size-micro: 14px;
$font-size-tiny: 16px;
$font-size-small: 18px;
$font-size-normal: 22px;
$font-size-medium: 25px;
$font-size-large: 28px;
$font-size-larger: 36px;
$font-size-largest: 47px;
$font-size-huge: 90px;
