# Be sure to replace 'REPLACE_WITH_PASSWORD' with the proper password.
ES_HOST=https://elastic:REPLACE_WITH_PASSWORD@34f28f12080e435795254ec8886248ba.eu-central-1.aws.cloud.es.io:9243/
# staging, production or something else
ES_ENV=staging
# Enable these if need be, or rely on defaults.
#CACHE_PDF=true
#ES_BATCH_SIZE=300
