.c-tnrc-header {
  background-color: $light-blue;
  padding: $spacing-tiny 0;
  font-family: $font-sans;
  @include inuit-font-size($font-size-tiny, $line-height-normal);
}

.c-tnrc-header__body {
  @include inuit-font-size($font-size-tiny, $line-height-normal);
  padding: 0 $spacing;
  margin-bottom: $spacing-tiny;
}
.c-tnrc-header__logo {
  @include inuit-font-size($font-size-tiny, $line-height-normal);
  padding: 0 $spacing;
  margin-top: $spacing-tiny;

  img {
    max-width: 100%;
  }
  a,
  a:hover {
    border-bottom-color: transparent;
  }
}

.c-tnrc-footer {
  margin: $spacing 0;
  padding: $spacing 0;
}
.c-tnrc-footer__heading {
  img {
    max-width: 100%;
  }
  a:hover {
    border-bottom-color: $white;
  }
}
.c-tnrc-footer__logos {
  text-align: center;

  a {
    height: 100px;
    display: inline-block;
    margin: 12px;
    background-repeat: no-repeat;
  }
  a:hover {
    //border-bottom-color: $white;
  }
}

.c-tnrc-footer__body {
  text-align: center;
  margin-top: $spacing-tiny;
}
