.c-reader {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  //width: 100vw;
  min-height: 100%;
  min-height: 100vh;
  background-color: $white;
}

// Reader Header:

.c-reader-header {
}

.c-reader-header__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.c-reader-header__main {
  padding-top: 80px;
}

.c-progress-bar__container {
  height: 12px;
  background-color: #d9f6ff;
}

.c-progress-bar {
  height: 12px;
  background-color: $highlight-blue;
}

.c-reader-header--LA {
  padding-top: 80px;
  .c-reader-header__content {
    max-width: 600px;
  }
}

.c-reader-header__top {
  background-color: white;
}

.c-reader-header__top-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 24px;

  @include mq($from: tablet) {
    justify-content: space-between;
    padding: 24px 32px 24px 24px;
  }

  .u-no-underline {
    height: 32px;
  }
  .c-logo {
    max-width: 150px;
    height: 32px;
    margin: 0;
  }
}

.c-reader-header--LA__top {
  background-color: white;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
}

.c-header--fixed {
  background-color: white;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
}

.c-header--fixed__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

  @include mq($from: tablet) {
    justify-content: space-between;
    padding: 24px 32px 24px 24px;
  }

  .c-logo {
    max-width: 150px;
    height: 32px;
    margin: 0;
  }
}

.c-reader-header__close {
  .c-btn--close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg g,
    svg path {
      fill: $dark-grey;
    }
    // &:hover {
    //   svg g,
    //   svg path {
    //     fill: $v2-blue;
    //   }
    //   .c-btn__label {
    //     color: $v2-blue;
    //   }
    // }
  }
}

.c-reader-header__featured-image {
  figure {
    margin: 0;
  }
  @include mq($from: tablet) {
    figure {
      height: 560px;
    }
  }
}

//Scroll to top button:

.c-scroll-top {
  display: none;
  background-color: $light-grey;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  bottom: 96px;
  right: 96px;
  a {
    padding: 8px 16px;
    border: none;
    &:hover,
    &:visited,
    &:active {
      border: none;
    }
  }
  @include mq($from: tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
