//dagne version

.c-article-v2,
.c-legacy-publication-container {
  .c-notifications {
    //max-width: 691px;
    padding: 0 24px;
    //margin: 0 0 64px 0;
    //border-top: 1px solid $border-grey;

    // &__note-item {
    //   font-family: $font-sans;
    //   font-style: normal;
    //   font-weight: 400;
    //   font-size: 18px;
    //   line-height: 1.56;
    //   letter-spacing: 0.02em;
    //   padding: $spacing;
    //   margin-bottom: 32px;
    // }

    @include mq($from: tablet) {
      padding: 0;
    }
  }
  .c-notifications__headsUp {
    border: 1px solid $light-grey;
    padding: 12px 16px;
    margin: 12px 0;

    .c-longform-grid__standard {
      color: $mid-grey;
      font-size: 12px;
      line-height: 18px;
      padding: 0;
      margin: 12px 0;
    }
  }

  .c-notifications__old,
  .c-notifications__updatedVersion,
  .c-notifications__partner {
    padding: 12px 24px;
    background-color: $dark-blue;
    color: white;
    h4 {
      color: $highlight-yellow;
    }
  }

  .c-notifications__updatedVersion {
    h4 {
      border-bottom: 1px solid $highlight-yellow;
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    a {
      color: white;
    }
  }
  .c-notifications__updatedVersionLink {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-end;
  }

  .c-notifications__label {
    margin: 0;
  }
}
