//dagne version

.c-article-v2,
.c-legacy-publication-container {

  .c-article__content {
    max-width: 691px;
    @include mq($from: tablet) {
      margin-top: 64px;
      margin-bottom: 120px;
    }
  }

  .c-article__additional-content {
    padding: 40px 0;
  }


  @include mq($from: tablet) {
    //margin-bottom: 160px;
  }
}

.c-article__row {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  @include mq($from: desktop) {
    grid-template-columns: 5fr 2fr;
    column-gap: 120px;
  }
}

.c-meta {
  color: $dark-grey;
  .u-primary-heading {
    margin-top: 0;
  }
  // .c-longform-grid__standard {
  //   padding: 0;
  // }
  p,
  li {
    font-family: $font-sans;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  a {
    color: $dark-grey;
    border-bottom: none;
    text-decoration: underline;
  }
  a:hover,
  a:visited:hover {
    color: $brand-main;
    text-decoration: none;
    border-bottom: none;
  }
  a:visited {
    text-decoration: none;
    border-bottom: none;
  }
  a:active {
    color: $brand-main;
    text-decoration: none;
    border-bottom: none;
    & > * {
      display: inline-block;
      transform: translateY(2px);
    }
  }
  a:focus {
    border: none;
  }
}

.c-meta__title {
  margin: 24px 0 16px 0;
}

.c-toggle-block {
  cursor: pointer;
}

.c-toggle-block__h {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 0;
}

.c-toggle-block__icon {
  padding: 8px 8px 0 8px;
  margin: 0 8px;
}

.u-side-padding {
  padding: 0 $spacing;
}
