.c-corruption-by-topic__wrapper {
  display: inline-grid;
  grid-gap: 30px;
  @include mq($from: mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  @include mq($from: tablet) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    grid-template-rows: auto;
  }

  @include mq($from: desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-template-rows: 1fr 1fr;
  }
}
