.c-linkbox-wrapper {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;

  @include mq($from: tablet) {
    margin-top: -12px;
    margin-bottom: -12px;
    grid-template-columns: 1fr 1fr;
  }
}

.c-linkbox {
  margin-left: -24px;
  margin-right: -24px;
  z-index: 2;
  .c-btn--link {
    margin-top: 30px;
  }
  &:nth-child(3n + 1) {
    @include mq($from: tablet) {
      margin-left: 0;
      margin-right: 0;
      margin-top: -12px;
      margin-bottom: 12px;
      .c-linkbox__content {
        padding: 0 56px 56px 0;
      }
    }
  }
  &:nth-child(3n + 2) {
    @include mq($from: tablet) {
      margin-left: 0;
      margin-right: 0;
      margin-top: 12px;
      margin-bottom: -12px;
      .c-linkbox__content {
        padding: 0 0 56px 56px;
      }
    }
  }
}

.c-linkbox__text {
  max-width: 484px;
}

.c-linkbox--white {
  position: relative;
  background-color: $white;
  &:nth-child(3n + 1) {
    @include mq($from: tablet) {
      &:before {
        content: '';
        position: absolute;
        width: 1100px;
        height: 100%;
        top: 0;
        left: -680px;
        background-color: $white;
        z-index: -1;
      }
    }
  }

  .c-linkbox__text {
    color: $dark-grey;
  }
}
.c-linkbox--light-blue {
  position: relative;
  background-color: $light-blue;
  &:nth-child(3n + 1) {
    @include mq($from: tablet) {
      &:before {
        content: '';
        position: absolute;
        width: 1100px;
        height: 100%;
        top: 0;
        left: -680px;
        background-color: $white;
        z-index: -1;
      }
    }
  }

  .c-linkbox__text {
    color: $dark-grey;
  }
}

.c-linkbox--highlight-blue {
  position: relative;
  background-color: $highlight-blue;
  &:nth-child(3n + 1) {
    @include mq($from: tablet) {
      &:before {
        content: '';
        position: absolute;
        width: 1100px;
        height: 100%;
        top: 0;
        left: -680px;
        background-color: $white;
        z-index: -1;
      }
    }
  }

  .u-detail--blue::after {
    background-color: $white;
  }
  .c-linkbox__text {
    color: $dark-grey;
  }
}

.c-linkbox--blue {
  position: relative;
  background-color: $blue;
  &:nth-child(3n + 1) {
    @include mq($from: tablet) {
      &:before {
        content: '';
        position: absolute;
        width: 1100px;
        height: 100%;
        top: 0;
        left: -680px;
        background-color: $white;
        z-index: -1;
      }
    }
  }
  h3 {
    color: $light-blue;
  }
  .u-detail--blue::after {
    background-color: $highlight-blue;
  }
  .c-btn--link {
    color: $white;
    &:hover {
      color: $highlight-yellow;
    }
    &:hover path {
      stroke: $highlight-yellow;
    }
  }
  path {
    stroke: $white;
  }
  .c-linkbox__text {
    color: $white;
  }
}

.c-linkbox--lighter-blue {
  position: relative;
  background-color: $lighter-blue;
  &:nth-child(3n + 1) {
    @include mq($from: tablet) {
      &:before {
        content: '';
        position: absolute;
        width: 1100px;
        height: 100%;
        top: 0;
        left: -680px;
        background-color: $lighter-blue;
        z-index: -1;
      }
    }
  }
  .c-linkbox__text {
    color: $dark-grey;
  }
}

.c-linkbox--lighter-blue--full {
  position: relative;
  background-color: $lighter-blue;
  &:nth-child(3n + 1) {
    @include mq($from: tablet) {
      &:before {
        content: '';
        position: absolute;
        width: 1100px;
        height: 100%;
        top: 0;
        left: -680px;
        background-color: $lighter-blue;
        z-index: -1;
      }
      &:after {
        content: '';
        position: absolute;
        width: 2000px;
        height: 100%;
        top: 24px;
        right: 0;
        transform: translateX(100%);
        background-color: $lighter-blue;
        z-index: -1;
      }
    }
  }
  .c-linkbox__text {
    color: $dark-grey;
  }
}

.c-linkbox--dark-blue {
  background-color: $dark-blue;
  position: relative;

  &:nth-child(3n + 2) {
    @include mq($from: tablet) {
      &::before {
        content: '';
        position: absolute;
        width: 1100px;
        height: 100%;
        top: 0;
        right: -680px;
        background-color: $dark-blue;
        z-index: 1;
      }
    }
  }

  .c-linkbox__text {
    color: $white;
  }
  .c-linkbox__title {
    color: $white;
  }
}

.c-linkbox__content {
  padding: 0 24px 32px 24px;
  align-items: flex-start;
  height: 100%;
  position: relative;
  z-index: 100;
  @include mq($from: tablet) {
    padding: $spacing-large 0 56px 0;
  }
}

.c-linkbox__icon {
  padding: $spacing-small;
}

.c-linkbox-wrapper--about {
  display: grid;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;

  @include mq($from: tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .c-linkbox {
    margin: 0px;
    z-index: 2;
    padding: 0 58px 58px 0;
    &:nth-child(1) {
      background-color: $lighter-blue;
      padding: 0 58px 58px 0;
      @include mq($until: tablet) {
        padding: 0 58px 58px 30px;
      }
      &::after {
        content: '';
        position: absolute;
        width: 2100px;
        height: 100%;
        top: 0;
        right: 0px;
        background-color: $lighter-blue;
        z-index: 1;
      }
    }
    &:nth-child(2) {
      background-color: $highlight-blue;
      padding: 0 58px 58px 30px;

      &::after {
        content: '';
        position: absolute;
        width: 2100px;
        height: 100%;
        top: 0;
        left: 0px;
        background-color: $highlight-blue;
        z-index: 1;
        display: block;
      }
    }
    &:nth-child(3) {
      background-color: $blue;
      padding: 0 58px 58px 0;
      @include mq($until: tablet) {
        padding: 0 58px 58px 30px;
      }
      &::after {
        content: '';
        position: absolute;
        width: 2100px;
        height: 100%;
        top: 0;
        right: 0px;
        background-color: $blue;
        z-index: 1;
      }
    }
    &:nth-child(4) {
      background-color: $lighter-blue;
      padding: 0 58px 58px 30px;

      &::after {
        content: '';
        position: absolute;
        width: 2100px;
        height: 100%;
        top: 0;
        left: 0px;
        background-color: $lighter-blue;
        z-index: 1;
      }
    }
    &:nth-child(5) {
      background-color: $highlight-blue;
      padding: 0 58px 58px 0;
      @include mq($until: tablet) {
        padding: 0 58px 58px 30px;
      }
      &::after {
        content: '';
        position: absolute;
        width: 2100px;
        height: 100%;
        top: 0;
        right: 0px;
        background-color: $highlight-blue;
        z-index: 1;
      }
    }
    &:nth-child(6) {
      background-color: $blue;
      padding: 0 58px 58px 0;
      &::after {
        content: '';
        position: absolute;
        width: 2100px;
        height: 100%;
        top: 0;
        left: 0px;
        background-color: $blue;
        z-index: 1;
      }
    }
    &:nth-child(3n + 1) {
      @include mq($from: tablet) {
        margin: 0;
        .c-linkbox__content {
          padding: 0;
        }
        &::before {
          content: none;
        }
      }
    }
    &:nth-child(3n + 2) {
      @include mq($from: tablet) {
        &::before {
          content: none;
        }
        .c-linkbox__content {
          padding: 0;
        }
      }
    }
    .c-linkbox.c-linkbox--white {
      position: relative;
      background-color: $white;

      &:nth-child(3n + 1) {
        @include mq($from: tablet) {
          &:before {
            content: none;
          }
        }
      }

      .c-linkbox__text {
        color: $dark-grey;
      }
    }
  }

  .c-linkbox__content {
    padding: 0;
    align-items: flex-start;
    height: 100%;
    z-index: 100;
    @include mq($from: tablet) {
      padding: 0;
    }
  }
}
