.alice-carousel__wrapper {
  padding-bottom: 32px;
  @include mq($from: desktop) {
    margin: 0 -15px;
  }
}

.alice-carousel__stage {
  //scroll-padding-left: $inuit-global-spacing-unit;
  display: grid;
  grid-auto-flow: column;
  column-gap: 0;
  // margin-bottom: 24px;
}

.alice-carousel__stage-item {
  padding-left: 24px;
  @include mq($from: desktop) {
    padding: 0 15px;
  }
  .c-post {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

//.alice-carousel__stage-item:first-child {
//padding-left: $inuit-global-spacing-unit;
// @include mq($from: tablet) {
//   padding-left: 0;
// }
//}

// .c-post-list--column-3 .alice-carousel__stage-item:nth-child(3n) {
//   padding-right: $gutter-width;
//   @include mq($from: desktop) {
//     padding-right: 0;
//   }
// }
// .c-post-list--column-4 .alice-carousel__stage-item:nth-child(4n) {
//   padding-right: $gutter-width;
//   @include mq($from: desktop) {
//     padding-right: 0;
//   }
// }

.alice-carousel__dots {
  margin: 0;
}

.alice-carousel__dots > li {
  margin: 0 4px;
}

.c-carousel__dots--active {
  width: 10px;
  height: 10px;
  background-color: $brand-main;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 5px;
  @include mq($from: mobile, $until: desktop) {
    display: none;
  }
}

.c-carousel__dots--deactivated {
  width: 10px;
  height: 10px;
  background-color: #b3d7f1;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 5px;
  @include mq($from: mobile, $until: desktop) {
    display: none;
  }
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  transform: translateY(50%);
  top: calc(50% - 84px);
  width: 49px;
  @include mq($from: mobile, $until: desktop) {
    display: none;
  }
}

.c-carousel__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // position: absolute;
  border: 0.5px solid $dark-blue;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 10px 17px;
  &:disabled {
    svg {
      opacity: 0.3;
    }
    border: 0.5px solid rgba(22, 32, 99, 0.3);
  }
}

.alice-carousel__prev-btn {
  left: -70px;
}
.alice-carousel__next-btn {
  right: -70px;
}
.c-carousel__btn--prev {
  svg {
    transform: rotate(180deg);
  }
}
